
$border-input: #ced4da !default;
$color-input:  #939393 !default;
$height-input: 45px !default;
$padding-input: .375rem 1.4rem !default;
$font-family-input: $PrimaryRegular !default;
$font-size-input: 14px !default;
$transition-input: border-color .15s ease-in-out !default;
$border-radius-input: 0px !default;
$background-input: #FFFFFF !default;
$hover-input: #c1d1d5 !default;
$placeholder-color: lighten($color-input, 15) !default;
$placeholder-font-size: $font-size-input !default;

$hover-input-enable: true !default;

$size-checkbox: 14px !default;
$size-radiobutton: 14px !default;



$label-color: $black !default;
$label-font-size: 14px !default;
$label-font-family: $PrimaryLight !default;

$focus-border-color: #c1d1d5 !default;
$focus-box-shadow: none !default;

@mixin baseInput() {
  color: $color-input;
  width: 100%;
  border: 1px solid $border-input;
  height: $height-input;
  display: block;
  padding: $padding-input;
  font-size: $font-size-input;
  transition: $transition-input ;
  box-sizing: border-box;
  line-height: 1.5;
  border-radius: $border-radius-input;
  font-family: $font-family-input;
  background-color: $background-input;
  @if $hover-input-enable {
    &:hover {
      border-color: $hover-input;
      transition: $transition-input;
    }
  }
  &:focus {
    outline: none;
    transition: all .15s ease-in-out;
    border-color: $focus-border-color;
    box-shadow: $focus-box-shadow;
  }
  &::placeholder {
    color: $placeholder-color;
    font-size: $placeholder-font-size;
  }
  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
}



.checkbox{
  display: inline-flex;
  align-items: center;
  position: relative;
  &__name{
    margin-left: 10px;
    a{
      color: #a7a7a7;
    }
  }
  &__content{
      display: flex;
      align-items: flex-start;
      color: $placeholder-color;
      cursor: pointer;
      position: relative;
      transition: all .15s ease-in-out;
      &:hover{
        .checkbox__box{
          transition: all .15s ease-in-out;
          border: solid 1px $hover-input;
        }
        .checkbox__name{
          // transition: all .15s ease-in-out;
          // color: $hover-input;
          
        }
      }
  }
  &__box{
    display: inline-block;
    position: absolute;
    width: $size-checkbox;
    height: $size-checkbox;
    left: 0;
    top: 1px;
    border: solid 1px $border-input;
  }
  input[type="checkbox"] {
    opacity: 0;
  }
  input[type="checkbox"]:checked {
    & ~ .checkbox__box {
      border: solid 1px $hover-input;
      &:before{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'icomoon' !important;
        content: '\e906';
        font-size: 10px;
        color: $hover-input;
      }
    }
    // & ~ .checkbox__name{
    //   color: $hover-input;
    // }
  }
}


.radiobutton{
  display: flex;
  align-items: center;
  position: relative;
  &__content{
      display: flex;
      align-items: center;
      color: $placeholder-color;
      cursor: pointer;
      transition: all .15s ease-in-out;
      &:hover{
        .radiobutton__box{
          transition: all .15s ease-in-out;
          border: solid 1px $hover-input;
        }
        .radiobutton__name{
          transition: all .15s ease-in-out;
          color: $hover-input;
        }
      }
  }
  &__box{
    display: inline-block;
    position: absolute;
    width: $size-checkbox;
    height: $size-checkbox;
    left: 0;
    border: solid 1px $border-input;
    border-radius: 50%;
  }
  input[type="radio"] {
    opacity: 0;
  }
  input[type="radio"]:checked {
    & ~ .radiobutton__box {
      border: solid 1px $hover-input;
      &:before{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'icomoon' !important;
        content: '\e909';
        font-size: $size-checkbox;;
        color: $hover-input;
      }
    }
    & ~ .radiobutton__name{
      color: $hover-input;
    }
  }
}



@mixin baseSelect() {
  position: relative;
  &::before{
    content: "\e91a";
    font-family: 'icomoon' !important;
    position: absolute;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 7px;
  }
  select{
    width: 100%;
    height: $height-input;
    min-width: 100px;
    appearance: none;
    padding: .375rem 1.5rem .375rem .75rem;
    box-sizing: border-box;
    border-color: $border-input;
    border-radius: $border-radius-input;
    cursor: pointer;
    font-family: $font-family-input;
    font-size: $font-size-input;
    transition: $transition-input;
    background-color: $background-input;
    @if $hover-input-enable {
      &:hover{
        border-color: $black;
        transition: $transition-input;
      }
    }
    &:focus {
      outline: none;
      transition: all .15s ease-in-out;
      border-color: $focus-border-color;
      box-shadow: $focus-box-shadow;
    }
  }
}

@mixin positionGrop() {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  position: relative;
  &.date {
    img{
      position: absolute;
      top: 0;
      right: 30px;
      bottom: 0;
      margin: auto;
      pointer-events: none;
    }
  }
  @content;
}

@mixin normal-style() {
  label {
    margin-bottom: 10px;
    color: $label-color;
    font-size: $label-font-size;
    font-family: $label-font-family;
  }
}

@mixin select(){
  @include baseSelect();
}

.form {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    flex-direction: column;
    @include desde(640px){
      flex-direction: row;
    }
    &__col {
      padding-right: 20px;
      padding-left: 20px;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    &.wrap{
      flex-wrap: wrap;
      flex-direction: row;
      .form{
        &__row{
          &__col{
            width:100%;
            flex-basis: initial;
            box-sizing: border-box;
            @include desde(580px){
              width: 50%;
              max-width: 50%;
            }
            @include desde-hasta(800px, 899px){
              width: 33.333333333333333%;
            }
            @include desde(900px){
              width: 100%;
              max-width: 100%;
            }
            @include desde(1000px){
              width: 50%;
              max-width: 50%;
            }
            @include desde(1100px){
              width: 33.333333333333333%;
              max-width: 33.333333333333333%;
            }
          }
        }
      }
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  input[type="tel"],
  textarea {
    @include baseInput();
  }
  textarea {
    height: 100%;
    height: 95px;
    resize: none;
  }
  &__group {
    @include positionGrop();
    @include normal-style();
    &__select{
      @include select();
      // select{
      //   border-top-right-radius: 0;
      //   border-bottom-right-radius: 0;
      //   border-right: none;
      // }
    }
    &__select-input{
      display: flex;
      flex-direction: row;
      .form__group__select{
        width: 120px;
        select{
          height: 100%;
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
        }
        input{
         border-top-left-radius: 0;
         border-bottom-left-radius: 0;
          width: 100%;
        }
      }
      .input{
        width: 100%;
        input{
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          width: 100%;
          border-left: 0;
        }
      }
    }
  }
}
