$map-palette-button:(
  black: (
    background:			$btn-black,
    color:          $btn-white,
    border:         solid 2px $btn-black,
    hover: (
      background-color: lighten($btn-black, 35),
      border: solid 2px lighten($btn-black, 35),
    )
  ),
  white: (
    background: 	  $btn-white,
    color:          $btn-black,
    border:         solid 2px $btn-black,
    hover: (
      background-color: $black,
      color: $btn-white,
      border: solid 2px $black,
    ),
  ),
  red: (
    background:			$btn-red,
    color:          $btn-white,
    border:         solid 2px $btn-red,
    hover: (
      background-color: lighten($btn-red, 5),
      border: solid 2px lighten($btn-red, 5),
    ),
  ),
  blue: (
    background: 	  $btn-blue,
    color:          $btn-white,
    border:         solid 2px $btn-blue,
    hover: (
      background-color: lighten($btn-blue, 5),
      border: solid 2px lighten($btn-blue, 5),
    ),
  ),
  gray: (
    background: 	  $btn-gray,
    color:          $black,
    border:         solid 2px $btn-gray,
    hover: (
      background-color: darken($btn-gray, 5),
      border: solid 2px darken($btn-gray, 5),
    ),
  ),
  facebook: (
    background: 	  #4065b4,
    color:          $btn-white,
    border:         solid 2px #4065b4,
    hover: (
      background-color: lighten(#4065b4, 5),
      border: solid 2px lighten(#4065b4, 5),
    ),
  ),
);


$palette-button: null !default;
$new-palette-buttom: null !default;

@if map-exist($palette-button){
  $new-palette-buttom: map-merge($map-palette-button, $palette-button);
} @else {
  $new-palette-buttom: $map-palette-button;
}
