.cantidad{
  display: flex;
  align-items: center;
  button{
    height: 35px;
    width: 30px;
    border: solid 1px #f3f3f3;
    background: #fff;
    cursor: pointer;
  }
  input{
    height: 35px;
    width: 40px;
    text-align: center;
    border: solid 1px #f3f3f3;
    border-left: 0;
    border-right: 0;
    font-size: 14px;
  }
}
