.ml-5{
    margin-left: 5px;
  }
  .ml-10{
    margin-left: 10px;
  }
  .mt-10{
    margin-top: 10px;
  }
  .mt-20{
    margin-top: 20px;
  }

  .btn-outfit{
    padding: 13px 40px;
  }
.naranja{
  color: $yellow;
}
.terminos-y-condiciones{
  color: $blue;
  font-family: $PrimaryBold;
}