.decimal{
  font-size: .8em;
  display: flex;
  align-items: flex-start;
}
.notification{
  &::after{
    content: attr(data-cant);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: $PrimaryBold;
    background-color: #fd0102;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    top: -3px;
    right: -5px;
    color: $white;
  }
}
