/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
*, *::before, *::after {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

li {
  list-style: none; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

img {
  border-style: none;
  max-width: 100%;
  height: auto; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  outline: none; }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto;
  resize: none; }

template {
  display: none; }

[hidden] {
  display: none; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

hr {
  border: 0;
  border-bottom: solid 1px #eaeaea;
  width: 100%;
  background: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../icon-fonts/fonts/icomoon.eot?4tuqd0");
  src: url("../icon-fonts/fonts/icomoon.eot?4tuqd0#iefix") format("embedded-opentype"), url("../icon-fonts/fonts/icomoon.ttf?4tuqd0") format("truetype"), url("../icon-fonts/fonts/icomoon.woff?4tuqd0") format("woff"), url("../icon-fonts/fonts/icomoon.svg?4tuqd0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-SVG-07:before {
  content: "\e900"; }

.icon-SVG-06:before {
  content: "\e901"; }

.icon-SVG-05:before {
  content: "\e902"; }

.icon-SVG-04:before {
  content: "\e903"; }

.icon-SVG-03:before {
  content: "\e904"; }

.icon-SVG-02:before {
  content: "\e905"; }

.icon-SVG-01:before {
  content: "\e906"; }

.icon-SVG-19:before {
  content: "\e907"; }

.icon-SVG-18:before {
  content: "\e908"; }

.icon-SVG-17:before {
  content: "\e909"; }

.icon-SVG-16:before {
  content: "\e90a"; }

.icon-SVG-15:before {
  content: "\e90b"; }

.icon-SVG-14:before {
  content: "\e90c"; }

.icon-SVG-13:before {
  content: "\e90d"; }

.icon-SVG-12:before {
  content: "\e90e"; }

.icon-SVG-11:before {
  content: "\e90f"; }

.icon-SVG-10:before {
  content: "\e910"; }

.icon-SVG-09:before {
  content: "\e911"; }

.icon-SVG-08:before {
  content: "\e912"; }

.icon-SVG-32:before {
  content: "\e913"; }

.icon-SVG-31:before {
  content: "\e914"; }

.icon-SVG-30:before {
  content: "\e915"; }

.icon-SVG-29:before {
  content: "\e916"; }

.icon-SVG-28:before {
  content: "\e917"; }

.icon-SVG-27:before {
  content: "\e918"; }

.icon-SVG-26:before {
  content: "\e919"; }

.icon-SVG-25:before {
  content: "\e91a"; }

.icon-SVG-24:before {
  content: "\e91b"; }

.icon-SVG-23:before {
  content: "\e91c"; }

.icon-SVG-22:before {
  content: "\e91d"; }

.icon-SVG-21:before {
  content: "\e91e"; }

.icon-SVG-20:before {
  content: "\e91f"; }

.icon-SVG-44:before {
  content: "\e920"; }

.icon-SVG-43:before {
  content: "\e921"; }

.icon-SVG-42:before {
  content: "\e922"; }

.icon-SVG-41:before {
  content: "\e923"; }

.icon-SVG-40:before {
  content: "\e924"; }

.icon-SVG-39:before {
  content: "\e925"; }

.icon-SVG-38:before {
  content: "\e926"; }

.icon-SVG-37:before {
  content: "\e927"; }

.icon-SVG-36:before {
  content: "\e928"; }

.icon-SVG-35:before {
  content: "\e929"; }

.icon-SVG-34:before {
  content: "\e92a"; }

.icon-SVG-33:before {
  content: "\e92b"; }

.icon-SVG-46:before {
  content: "\e92c"; }

.icon-SVG-45:before {
  content: "\e92d"; }

@font-face {
  font-family: 'GothamMedium';
  src: url("../fonts/GothamMedium/GothamRounded-Medium.eot");
  src: url("../fonts/GothamMedium/GothamRounded-Medium.woff2") format("woff2"), url("../fonts/GothamMedium/GothamRounded-Medium.woff") format("woff"), url("../fonts/GothamMedium/GothamRounded-Medium.ttf") format("truetype"), url("../fonts/GothamMedium/GothamRounded-Medium.svg#GothamRounded-Medium") format("svg"), url("../fonts/GothamMedium/GothamRounded-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook/GothamRounded-Book.eot");
  src: url("../fonts/GothamBook/GothamRounded-Book.woff2") format("woff2"), url("../fonts/GothamBook/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamBook/GothamRounded-Book.ttf") format("truetype"), url("../fonts/GothamBook/GothamRounded-Book.svg#GothamRounded-Book") format("svg"), url("../fonts/GothamBook/GothamRounded-Book.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold/GothamRounded-Bold.eot");
  src: url("../fonts/GothamBold/GothamRounded-Bold.woff2") format("woff2"), url("../fonts/GothamBold/GothamRounded-Bold.woff") format("woff"), url("../fonts/GothamBold/GothamRounded-Bold.ttf") format("truetype"), url("../fonts/GothamBold/GothamRounded-Bold.svg#GothamRounded-Bold") format("svg"), url("../fonts/GothamBold/GothamRounded-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PoppinsBold';
  src: url("../fonts/PoppinsBold/Poppins-SemiBold.eot");
  src: url("../fonts/PoppinsBold/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/PoppinsBold/Poppins-SemiBold.woff") format("woff"), url("../fonts/PoppinsBold/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/PoppinsBold/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg"), url("../fonts/PoppinsBold/Poppins-SemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PoppinsMedium';
  src: url("../fonts/PoppinsSemi/Poppins-Medium.eot");
  src: url("../fonts/PoppinsSemi/Poppins-Medium.woff2") format("woff2"), url("../fonts/PoppinsSemi/Poppins-Medium.woff") format("woff"), url("../fonts/PoppinsSemi/Poppins-Medium.ttf") format("truetype"), url("../fonts/PoppinsSemi/Poppins-Medium.svg#Poppins-Medium") format("svg"), url("../fonts/PoppinsSemi/Poppins-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: "GothamBook";
  background-color: #fff; }

.bg-default {
  background: #f7f7fb;
  padding: 0 20px; }

.btn--small {
  padding: .7rem 1rem;
  font-size: 11px; }

.h1 {
  font-size: 2.5rem; }

.h2 {
  font-size: 2rem; }

.h3 {
  font-size: 1.75rem; }

.h4 {
  font-size: 1.5rem; }

.h5 {
  font-size: 1.25rem; }

.h6 {
  font-size: 1rem; }

.width-5 {
  width: 5%; }

.width-10 {
  width: 10%; }

.width-15 {
  width: 15%; }

.width-20 {
  width: 20%; }

.width-25 {
  width: 25%; }

.width-30 {
  width: 30%; }

.width-35 {
  width: 35%; }

.width-40 {
  width: 40%; }

.width-45 {
  width: 45%; }

.width-50 {
  width: 50%; }

.width-55 {
  width: 55%; }

.width-60 {
  width: 60%; }

.width-65 {
  width: 65%; }

.width-70 {
  width: 70%; }

.width-75 {
  width: 75%; }

.width-80 {
  width: 80%; }

.width-85 {
  width: 85%; }

.width-90 {
  width: 90%; }

.width-95 {
  width: 95%; }

.width-100 {
  width: 100%; }

.container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.container-banner {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }

.container-fluid {
  max-width: 100%; }

.btn {
  display: inline-flex;
  padding: 16px 1.8rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  font-family: "GothamBold";
  font-size: 14px;
  border-radius: 30px; }

.btn {
  background-color: #e8e8e8;
  color: #909090;
  border: #e8e8e8; }

.btn-black {
  background-color: #000000;
  color: #ffffff;
  border: solid 2px #000000; }
  .btn-black:hover {
    background-color: #595959;
    border: solid 2px #595959; }

.btn-white {
  background-color: #ffffff;
  color: #000000;
  border: solid 2px #000000; }
  .btn-white:hover {
    background-color: #000000;
    color: #ffffff;
    border: solid 2px #000000; }

.btn-red {
  background-color: #ff4747;
  color: #ffffff;
  border: solid 2px #ff4747; }
  .btn-red:hover {
    background-color: #ff6161;
    border: solid 2px #ff6161; }

.btn-blue {
  background-color: #002e6d;
  color: #fff;
  border: solid 1px #002e6d; }
  .btn-blue:hover {
    background-color: #003987;
    border: solid 1px #003987; }

.btn-gray {
  background-color: #e8e8e8;
  color: #000000;
  border: solid 2px #e8e8e8; }
  .btn-gray:hover {
    background-color: #dbdbdb;
    border: solid 2px #dbdbdb; }

.btn-facebook {
  background-color: #3b7fff;
  color: #ffffff;
  border: solid 2px #3b7fff; }
  .btn-facebook:hover {
    background-color: #5590ff;
    border: solid 2px #5590ff; }

.btn-cyan {
  background-color: #00b3e3;
  color: #fff;
  border: solid 1px #00b3e3; }
  .btn-cyan:hover {
    background-color: #00c7fd;
    border: solid 1px #00c7fd; }

.btn-gray-dk {
  background-color: #979797;
  color: #fff;
  border: solid 1px #979797; }
  .btn-gray-dk:hover {
    background-color: #a4a4a4;
    border: solid 1px #a4a4a4; }

.btn-fluid {
  width: 100%; }

.checkbox {
  display: inline-flex;
  align-items: center;
  position: relative; }
  .checkbox__name {
    margin-left: 10px; }
    .checkbox__name a {
      color: #a7a7a7; }
  .checkbox__content {
    display: flex;
    align-items: flex-start;
    color: #b9b9b9;
    cursor: pointer;
    position: relative;
    transition: all .15s ease-in-out; }
    .checkbox__content:hover .checkbox__box {
      transition: all .15s ease-in-out;
      border: solid 1px #000000; }
  .checkbox__box {
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 1px;
    border: solid 1px #ced4da; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
  .checkbox input[type="checkbox"]:checked ~ .checkbox__box {
    border: solid 1px #000000; }
    .checkbox input[type="checkbox"]:checked ~ .checkbox__box:before {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'icomoon' !important;
      content: '\e906';
      font-size: 10px;
      color: #000000; }

.radiobutton {
  display: flex;
  align-items: center;
  position: relative; }
  .radiobutton__content {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    cursor: pointer;
    transition: all .15s ease-in-out; }
    .radiobutton__content:hover .radiobutton__box {
      transition: all .15s ease-in-out;
      border: solid 1px #000000; }
    .radiobutton__content:hover .radiobutton__name {
      transition: all .15s ease-in-out;
      color: #000000; }
  .radiobutton__box {
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    border: solid 1px #ced4da;
    border-radius: 50%; }
  .radiobutton input[type="radio"] {
    opacity: 0; }
  .radiobutton input[type="radio"]:checked ~ .radiobutton__box {
    border: solid 1px #000000; }
    .radiobutton input[type="radio"]:checked ~ .radiobutton__box:before {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'icomoon' !important;
      content: '\e909';
      font-size: 14px;
      color: #000000; }
  .radiobutton input[type="radio"]:checked ~ .radiobutton__name {
    color: #000000; }

.form__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  flex-direction: column; }
  @media screen and (min-width: 640px) {
    .form__row {
      flex-direction: row; } }
  .form__row__col {
    padding-right: 10px;
    padding-left: 10px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .form__row.wrap {
    flex-wrap: wrap;
    flex-direction: row; }
    .form__row.wrap .form__row__col {
      width: 100%;
      flex-basis: initial;
      box-sizing: border-box; }
      @media screen and (min-width: 580px) {
        .form__row.wrap .form__row__col {
          width: 50%;
          max-width: 50%; } }
      @media screen and (min-width: 800px) and (max-width: 899px) {
        .form__row.wrap .form__row__col {
          width: 33.333333333333333%; } }
      @media screen and (min-width: 900px) {
        .form__row.wrap .form__row__col {
          width: 100%;
          max-width: 100%; } }
      @media screen and (min-width: 1000px) {
        .form__row.wrap .form__row__col {
          width: 50%;
          max-width: 50%; } }
      @media screen and (min-width: 1100px) {
        .form__row.wrap .form__row__col {
          width: 33.333333333333333%;
          max-width: 33.333333333333333%; } }
.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="password"],
.form input[type="search"],
.form input[type="url"],
.form input[type="tel"],
.form textarea {
  color: #939393;
  width: 100%;
  border: 1px solid #ced4da;
  height: 45px;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  transition: border-color 0.15s ease-in-out;
  box-sizing: border-box;
  line-height: 1.5;
  border-radius: 0px;
  font-family: "GothamBook";
  background-color: #FFFFFF; }
  .form input[type="text"]:focus,
  .form input[type="email"]:focus,
  .form input[type="number"]:focus,
  .form input[type="password"]:focus,
  .form input[type="search"]:focus,
  .form input[type="url"]:focus,
  .form input[type="tel"]:focus,
  .form textarea:focus {
    outline: none;
    transition: all .15s ease-in-out;
    border-color: #000;
    box-shadow: none; }
  .form input[type="text"]::placeholder,
  .form input[type="email"]::placeholder,
  .form input[type="number"]::placeholder,
  .form input[type="password"]::placeholder,
  .form input[type="search"]::placeholder,
  .form input[type="url"]::placeholder,
  .form input[type="tel"]::placeholder,
  .form textarea::placeholder {
    color: #b9b9b9;
    font-size: 14px; }
  .form input[type="text"]:disabled,
  .form input[type="email"]:disabled,
  .form input[type="number"]:disabled,
  .form input[type="password"]:disabled,
  .form input[type="search"]:disabled,
  .form input[type="url"]:disabled,
  .form input[type="tel"]:disabled,
  .form textarea:disabled {
    opacity: .5;
    pointer-events: none; }
.form textarea {
  height: 100%;
  height: 95px;
  resize: none; }
.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative; }
  .form__group label {
    margin-bottom: 10px;
    color: #000000;
    font-size: 14px;
    font-family: "GothamLight"; }
  .form__group__select {
    position: relative; }
    .form__group__select::before {
      content: "\e917";
      font-family: 'icomoon' !important;
      position: absolute;
      font-weight: bold;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      font-size: 7px; }
    .form__group__select select {
      width: 100%;
      height: 45px;
      min-width: 100px;
      appearance: none;
      padding: .375rem 1.5rem .375rem .75rem;
      box-sizing: border-box;
      border-color: #ced4da;
      border-radius: 0px;
      cursor: pointer;
      font-family: "GothamBook";
      font-size: 14px;
      transition: border-color 0.15s ease-in-out;
      background-color: #FFFFFF; }
      .form__group__select select:focus {
        outline: none;
        transition: all .15s ease-in-out;
        border-color: #000;
        box-shadow: none; }
  .form__group__select-input {
    display: flex;
    flex-direction: row; }
    .form__group__select-input .form__group__select {
      width: 120px; }
      .form__group__select-input .form__group__select select {
        height: 100%; }
      .form__group__select-input .form__group__select input {
        width: 100%; }
    .form__group__select-input .input {
      width: 100%; }
      .form__group__select-input .input input {
        width: 100%;
        border-left: 0; }

.input-line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative; }
  .input-line__input {
    border: none;
    outline: none;
    border-bottom: solid 2px #000000;
    width: 100%;
    position: relative;
    height: 35px;
    background-color: transparent;
    line-height: 1.5;
    font-family: "GothamLight";
    font-size: 14px;
    padding-right: 8.5em;
    color: #000000;
    padding-left: 10px; }
    .input-line__input::placeholder {
      color: #909090;
      font-family: "GothamLight"; }
  .input-line__label {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    font-family: "GothamSemi"; }

.more-less {
  display: flex;
  width: 135px;
  height: 40px;
  border: solid 1px #eeeeee;
  overflow: hidden; }
  .more-less .less, .more-less .more, .more-less .quanty {
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .more-less .less span, .more-less .more span, .more-less .quanty span {
      font-size: .8em;
      color: #909090; }
    .more-less .less input, .more-less .more input, .more-less .quanty input {
      border: none;
      outline: none; }
  .more-less .less {
    border-right: solid 1px #f7f7f7;
    cursor: pointer;
    background-color: #f7f7f7; }
  .more-less .more {
    cursor: pointer;
    border-left: solid 1px #f7f7f7;
    background-color: #f7f7f7; }

.select-default {
  display: inline-block;
  width: 100%; }
  .select-default__content {
    display: flex;
    align-items: center;
    border: solid 1px #ededed;
    padding: .632rem 10px;
    position: relative; }
  .select-default__select {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    appearance: none;
    padding-right: 20px; }
  .select-default__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    z-index: -1; }

.banner-home {
  position: relative; }
  .banner-home-item img {
    width: 100%;
    max-height: auto; }
  .banner-home .tns-nav {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 50px;
    margin: auto;
    justify-content: flex-end;
    z-index: 10;
    display: none; }
    @media screen and (min-width: 768px) {
      .banner-home .tns-nav {
        display: flex; } }
    .banner-home .tns-nav button {
      height: 14px;
      width: 14px;
      display: block;
      border-radius: 50%;
      background: transparent;
      border: none;
      border: solid 1px white;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      outline: none; }
      .banner-home .tns-nav button:nth-last-child(1) {
        margin: 0; }
      .banner-home .tns-nav button:after {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: white;
        opacity: 0; }
      .banner-home .tns-nav button.tns-nav-active:after {
        opacity: 1; }

.slider-brand {
  background-color: #FFF; }
  .slider-brand-cont {
    max-width: 1100px;
    margin: 0 auto; }
  .slider-brand-item {
    padding: 20px 10px;
    text-align: center; }

.category-tab {
  max-width: 1200px;
  padding-bottom: 0px; }
  @media screen and (min-width: 1024px) {
    .category-tab {
      display: grid;
      padding: 0 20px;
      padding-bottom: 50px;
      margin: 0 auto;
      grid-template-columns: 130px calc(100% - 130px); } }
  .category-tab-content {
    padding: 0 37px;
    padding-bottom: 40px;
    display: none;
    grid-gap: 20px;
    justify-content: center;
    opacity: 0; }
    .category-tab-content .product-card {
      max-width: 290px; }
    @media screen and (min-width: 500px) {
      .category-tab-content {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 780px) {
      .category-tab-content {
        grid-template-columns: repeat(3, 1fr); } }
    @media screen and (min-width: 1024px) {
      .category-tab-content {
        grid-row: 2;
        grid-column: 2;
        grid-gap: 30px;
        padding-bottom: 0;
        margin-left: 75px;
        padding: 0; } }
    .category-tab-content.active {
      display: grid; }
  .category-tab-title {
    padding: 35px 0 25px 0;
    font-family: "GothamBold";
    font-size: 18px;
    color: #355669;
    text-align: center;
    max-width: 200px;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .category-tab-title {
        grid-row: 1;
        text-align: left;
        font-size: 30px;
        max-width: 100%;
        width: 100%;
        grid-column: 1 / span 2;
        padding: 58px 0 48px 0; } }
  .category-tab-links {
    display: grid;
    grid-template-columns: repeat(6, minMax(10px, 200px)); }
    .category-tab-links-img {
      pointer-events: none; }
    @media screen and (min-width: 1024px) {
      .category-tab-links {
        display: flex;
        flex-direction: column;
        width: 130px;
        grid-row: 2;
        grid-column: 1;
        align-self: flex-start;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.17); } }
    .category-tab-links-item {
      background-color: #FF9E15;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .category-tab-links-item img {
        width: 100%;
        height: auto;
        pointer-events: none; }
      .category-tab-links-item svg {
        width: 100%;
        height: auto;
        fill: #fff;
        max-width: 36px;
        pointer-events: none; }
      .category-tab-links-item p {
        display: none;
        pointer-events: none; }
      @media screen and (min-width: 1024px) {
        .category-tab-links-item {
          height: 120px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          cursor: pointer; }
          .category-tab-links-item svg {
            fill: #99A8B0; }
          .category-tab-links-item p {
            display: block;
            color: #99A8B0;
            font-family: "PoppinsSemi";
            font-size: 13px;
            margin: 0;
            margin-top: 10px;
            text-align: center; }
          .category-tab-links-item.active, .category-tab-links-item:hover {
            background-color: #FFBF3B; }
            .category-tab-links-item.active p, .category-tab-links-item:hover p {
              color: #fff; }
            .category-tab-links-item.active svg, .category-tab-links-item:hover svg {
              fill: #fff; } }
      .category-tab-links-item.active {
        background-color: #FFBF3B; }

.product-card {
  display: block;
  position: relative;
  text-decoration: none;
  background-color: #fff;
  padding: 22px 37px; }
  .product-card:hover {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.17); }
  .product-card-badge {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .product-card-badge-image {
      position: absolute;
      width: 100%; }
      .product-card-badge-image svg {
        fill: #FF9E15; }
    .product-card-badge-text {
      color: #fff;
      position: relative;
      z-index: 2;
      font-size: 15px;
      font-family: "GothamBook"; }
  .product-card-image {
    display: flex;
    justify-content: center;
    padding: 20px; }
    .product-card-image img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center; }
  .product-card-name {
    color: #000;
    margin-bottom: 18px;
    font-family: "GothamBook";
    font-size: 14px;
    color: #99A8B0; }
  .product-card-price-new {
    color: #355669;
    font-family: "GothamBold";
    font-size: 16px; }
  .product-card-price-old {
    text-decoration: line-through;
    font-weight: normal;
    margin-bottom: 14px;
    font-family: "GothamLight";
    font-size: 14px;
    color: #355669; }

.banner-tree {
  display: grid;
  grid-gap: 10px; }
  @media screen and (min-width: 580px) {
    .banner-tree {
      grid-template-columns: minMax(10px, 431px) minMax(10px, 431px) minMax(10px, 431px); } }
  .banner-tree-item {
    font-size: 0;
    text-align: center; }

.banner-middle {
  margin-bottom: 30px; }

.slider-discount {
  padding: 30px 0; }
  @media screen and (min-width: 1024px) {
    .slider-discount {
      padding-top: 0; } }
  .slider-discount-heart {
    position: absolute;
    top: 0;
    left: -40px;
    width: 100%;
    max-width: 200px; }
    @media screen and (min-width: 1024px) {
      .slider-discount-heart {
        display: none; } }
  .slider-discount-bb {
    display: none; }
    @media screen and (min-width: 1024px) {
      .slider-discount-bb {
        display: block;
        position: absolute;
        top: -20px;
        left: -380px;
        width: 100%;
        max-width: 800px; } }
  .slider-discount-header {
    text-align: center;
    position: relative;
    padding: 20px 0; }
    @media screen and (min-width: 1024px) {
      .slider-discount-header {
        max-width: 920px;
        margin: auto 0 0 auto;
        padding-top: 160px;
        padding-bottom: 40px; } }
  .slider-discount-title {
    font-family: "GothamBold";
    font-size: 22px;
    color: #35BEC2;
    line-height: 30px;
    position: relative;
    z-index: 2;
    max-width: 300px; }
    .slider-discount-title strong {
      color: #FFBF3B; }
    @media screen and (min-width: 1024px) {
      .slider-discount-title {
        font-size: 30px;
        max-width: 420px;
        text-align: left;
        margin-left: 130px; } }
  @media screen and (min-width: 1024px) {
    .slider-discount-cont {
      max-width: 920px;
      margin: auto 0 0 auto; } }
  @media screen and (min-width: 1024px) {
    .slider-discount-list-item {
      padding: 20px 0; } }

.err {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .err-image {
    width: 290px;
    margin-bottom: 45px;
    text-align: center; }
    .err-image img {
      width: 100%; }
  .err-title {
    font-family: "GothamBold";
    color: #355669;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center; }
  .err-subtitle {
    font-family: "GothamBold";
    color: #355669;
    font-size: 25px;
    text-align: center;
    max-width: 520px;
    line-height: 35px;
    margin: 0 auto; }
  .err-desc {
    color: #99A8B0;
    font-size: 17px;
    font-family: "GothamBook";
    max-width: 590px;
    margin-top: 40px;
    text-align: center; }
  .err-action {
    text-align: center;
    margin-top: 50px; }

.result {
  padding: 80px 0;
  max-width: 920px;
  margin: 0 auto;
  min-height: 80vh; }
  .result-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    padding: 50px 0;
    grid-gap: 30px; }
    @media screen and (min-width: 768px) {
      .result-content {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 1024px) {
      .result-content {
        grid-template-columns: repeat(3, 1fr); } }
  .result-title {
    font-family: "GothamBold";
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #355669; }
  .result-subtitle {
    font-family: "GothamBook";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    margin-top: 10px;
    color: #7A7A87; }
  .result-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .result-error-title {
      font-family: "GothamBold";
      font-size: 25px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin-top: 50px;
      margin-bottom: 20px; }
      .result-error-title span {
        display: block;
        margin-top: 5px; }
    .result-error-subtitle {
      font-family: "GothamBook";
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: normal;
      text-align: center;
      color: #4a4a4a;
      margin-bottom: 20px; }

.faq {
  padding: 50px 0;
  background: #f7f7fb; }
  @media screen and (min-width: 1024px) {
    .faq {
      padding: 80px 0; } }
  .faq-header {
    font-family: "GothamBold";
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: center;
    color: #355669;
    margin-bottom: 20px; }
    @media screen and (min-width: 1024px) {
      .faq-header {
        text-align: left; } }
  @media screen and (min-width: 1024px) {
    .faq-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
  .faq-menu {
    width: 300px;
    background: #fff;
    display: none; }
    @media screen and (min-width: 1024px) {
      .faq-menu {
        display: block;
        align-self: flex-start; } }
    .faq-menu-list {
      width: 100%;
      margin: 0; }
    .faq-menu-item {
      font-family: "GothamBold";
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #979797;
      width: 100%;
      border-bottom: solid 1px #f2f2f2; }
      .faq-menu-item a {
        padding: 20px 29px;
        display: block;
        font-family: "GothamBold";
        font-size: 15px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #99A8B0; }
      .faq-menu-item:hover a, .faq-menu-item.active a {
        color: #355669; }
  .faq-content {
    background: #fff;
    padding: 22px 30px 40px 30px; }
    @media screen and (min-width: 1024px) {
      .faq-content {
        width: calc(100% - 320px);
        padding: 22px 55px 40px 55px;
        margin: 0 0 auto auto; } }
    .faq-content-header {
      font-family: "GothamBold";
      font-size: 20px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      margin-bottom: 22px; }
    .faq-content-body {
      font-family: "GothamBook";
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: justify;
      color: #4a4a4a; }

.libro-reclamo {
  max-width: 1140px;
  margin: 0px auto;
  padding: 88px 0; }
  .libro-reclamo-box {
    padding: 49px 30px; }
    @media screen and (min-width: 768px) {
      .libro-reclamo-box {
        padding: 49px 73px; } }
  .libro-reclamo-title {
    font-family: "GothamBold";
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: center;
    color: #355669; }
  .libro-reclamo-desc {
    margin-top: 23px; }
  .libro-reclamo-desc, .libro-reclamo-datos {
    color: #355669;
    font-family: "GothamBook";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    max-width: 806px; }
  .libro-reclamo-datos {
    margin-top: 23px; }
    .libro-reclamo-datos strong {
      font-family: "GothamSemi";
      color: #355669; }
  .libro-reclamo-form-desc {
    font-family: "GothamSemi";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #355669;
    margin-bottom: 25px;
    margin-top: 25px; }
    .libro-reclamo-form-desc strong {
      color: #355669; }
  .libro-reclamo-form-box {
    margin-top: 70px; }
  .libro-reclamo-form-select {
    height: 45px;
    border: solid 1px #DFE5E8;
    border-radius: 30px;
    overflow: hidden; }
    .libro-reclamo-form-select-group {
      display: flex;
      flex-direction: row; }
      .libro-reclamo-form-select-group .libro-reclamo-form-select {
        width: 90px;
        padding: 0 18px; }
      .libro-reclamo-form-select-group input {
        width: calc(100% - 90px);
        border-left: none; }
    .libro-reclamo-form-select select {
      background: #fff;
      width: 100%;
      height: 100%;
      border: none;
      box-shadow: none;
      font-family: "GothamBook";
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      padding: 0 20px;
      color: #979797;
      letter-spacing: normal; }
  .libro-reclamo-form-title {
    font-family: "GothamSemi";
    font-size: 19px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #355669;
    margin-bottom: 37px; }
  .libro-reclamo-form-input {
    display: flex;
    flex-direction: column; }
    .libro-reclamo-form-input.input-fluid {
      grid-column: 1 / -1; }
    .libro-reclamo-form-input label {
      font-family: "GothamSemi";
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #355669;
      margin-bottom: 6px; }
      .libro-reclamo-form-input label span {
        color: red; }
    .libro-reclamo-form-input textarea {
      height: 70px;
      border-radius: 2px;
      border: solid 1px #DFE5E8;
      font-family: "GothamBook";
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      color: #979797;
      letter-spacing: normal;
      padding: 0 18px;
      border-radius: 30px; }
    .libro-reclamo-form-input input {
      height: 45px;
      border-radius: 2px;
      border: solid 1px #DFE5E8;
      font-family: "GothamBook";
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      color: #979797;
      letter-spacing: normal;
      padding: 0 18px;
      border-radius: 30px; }
    .libro-reclamo-form-input-radio {
      position: relative;
      display: flex;
      flex-direction: row; }
      .libro-reclamo-form-input-radio-checked {
        width: 14px;
        height: 14px;
        border: solid 2px #62D0DF;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        .libro-reclamo-form-input-radio-checked:after {
          content: '';
          width: 6px;
          height: 6px;
          background: #62D0DF;
          position: absolute;
          border-radius: 50%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          opacity: 0; }
      .libro-reclamo-form-input-radio input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0; }
        .libro-reclamo-form-input-radio input:checked ~ .libro-reclamo-form-input-radio-checked:after {
          opacity: 1; }
  .libro-reclamo-form-inputs {
    display: grid;
    grid-gap: 17px;
    grid-template-columns: 1fr; }
    @media screen and (min-width: 768px) {
      .libro-reclamo-form-inputs {
        grid-template-columns: repeat(2, minMax(25%, 50%)); } }
    @media screen and (min-width: 1024px) {
      .libro-reclamo-form-inputs {
        grid-template-columns: repeat(3, minMax(25%, 33.33333%)); } }
  .libro-reclamo-action {
    margin-top: 23px;
    text-align: center; }

.campos-obligados {
  font-family: "GothamBook";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 17px;
  color: #355669; }
  .campos-obligados span {
    color: red; }

.checkout1_form {
  border-bottom: 1px solid #f4f4f4;
  padding: 0 0 51px 0; }

@media screen and (max-width: 1024px) {
  .checkout1_form {
    padding: 0 0 50px 0; } }
@media screen and (max-width: 767px) {
  .checkout1_form {
    padding: 0 0 40px 0; } }
.checkout1_campos {
  margin: 35px 0 18px 0; }

.checkout1_campos ul {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.checkout1_campos li {
  width: 31.25%;
  margin: 29px 3.125% 0 0; }

.checkout1_campos li:nth-child(3n+3) {
  margin-right: 0; }

.checkout1_campos li:nth-child(-n+3) {
  margin-top: 0; }

@media screen and (max-width: 767px) {
  .checkout1_campos li {
    width: 100%;
    margin-right: 0; }

  .checkout1_campos li:nth-child(-n+3) {
    margin-top: 29px; }

  .checkout1_campos li:nth-child(-n+1) {
    margin-top: 0; } }
.checkout1_address {
  border-bottom: 1px solid #f4f4f4;
  padding: 29px 0 55px 0; }

@media screen and (max-width: 1024px) {
  .checkout1_address {
    padding: 50px 0; } }
@media screen and (max-width: 767px) {
  .checkout1_address {
    padding: 40px 0; } }
.checkout1_addresses {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 28px; }

.checkout1_address_box {
  width: 31.25%;
  min-height: 150px;
  box-sizing: border-box;
  margin: 29px 3.125% 0 0; }

.checkout1_address_box:nth-child(3n+3) {
  margin-right: 0; }

.checkout1_address_box:nth-child(-n+3) {
  margin-top: 0; }

@media screen and (max-width: 960px) {
  .checkout1_address_box {
    width: 32%;
    margin-right: 2%; } }
@media screen and (max-width: 767px) {
  .checkout1_address_box {
    width: 49%;
    margin-top: 20px; }

  .checkout1_address_box:nth-child(3n+3) {
    margin-right: 2%; }

  .checkout1_address_box:nth-child(2n+2) {
    margin-right: 0; }

  .checkout1_address_box:nth-child(-n+3) {
    margin-top: 20px; }

  .checkout1_address_box:nth-child(-n+2) {
    margin-top: 0; } }
@media screen and (max-width: 540px) {
  .checkout1_address_box {
    width: 100%;
    margin-right: 0; }

  .checkout1_address_box:nth-child(3n+3) {
    margin-right: 0; }

  .checkout1_address_box:nth-child(-n+2) {
    margin-top: 20px; }

  .checkout1_address_box:nth-child(-n+1) {
    margin-top: 0; } }
.checkout1_address_itembox {
  position: relative; }

.checkout1_address_itembox label {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #acacac;
  border-radius: 2px;
  transition: all 0.25s ease-in-out;
  position: relative;
  box-sizing: border-box;
  padding: 30px 45px 30px 45px; }

.checkout1_address_itembox input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.checkout1_address_itembox input[type="radio"]:checked + label {
  border: 2px solid #70d44b; }

.checkout1_address_itembox input[type="radio"]:checked + label .checkout1_address_icon {
  opacity: 1;
  filter: none;
  visibility: visible; }

@media screen and (max-width: 1024px) {
  .checkout1_address_itembox label {
    padding: 30px 20px; } }
@media screen and (max-width: 960px) {
  .checkout1_address_itembox label {
    padding: 30px 15px; } }
.checkout1_address_icon {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  background: #70d44b;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: -11.5px;
  right: -11.5px;
  margin: 0; }

.checkout1_address_icon img {
  display: block;
  width: 13px;
  height: auto;
  margin: 0; }

.checkout1_address_texts {
  line-height: 1.2;
  color: #7a7a87;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 13px; }

.checkout1_address_texts h3 {
  line-height: 1.1;
  color: #7a7a87;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 17px;
  margin-bottom: 13px; }

.checkout1_address_texts p {
  margin-bottom: 10px; }

.checkout1_address_texts p:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 960px) {
  .checkout1_address_texts h3 {
    font-size: 16px; } }
.checkout1_address_add {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
  border: 1px dashed #acacac;
  border-radius: 2px;
  cursor: pointer; }

.checkout1_address_add-icon {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto 11px auto; }

.checkout1_address_add-icon img {
  display: block;
  width: 100%;
  height: auto; }

.checkout1-address_add-text {
  display: block;
  color: #000;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 14px;
  text-align: center; }

.checkout1_envio {
  padding: 29px 0 120px 0; }

@media screen and (max-width: 1024px) {
  .checkout1_envio {
    padding: 50px 0; } }
@media screen and (max-width: 767px) {
  .checkout1_envio {
    padding: 40px 0; } }
.checkout1_envio_head {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 16px 0;
  margin: 28px 0 0 0; }

.checkout1_envio_box {
  width: 31.25%;
  min-height: 189px;
  box-sizing: border-box;
  margin: 29px 3.125% 0 0; }

.checkout1_envio_box:nth-child(3n+3) {
  margin-right: 0; }

.checkout1_envio_box:nth-child(-n+3) {
  margin-top: 0; }

@media screen and (max-width: 960px) {
  .checkout1_envio_box {
    width: 32%;
    margin-right: 2%; } }
@media screen and (max-width: 767px) {
  .checkout1_envio_box {
    width: 49%;
    margin-top: 35px; }

  .checkout1_envio_box:nth-child(3n+3) {
    margin-right: 2%; }

  .checkout1_envio_box:nth-child(2n+2) {
    margin-right: 0; }

  .checkout1_envio_box:nth-child(-n+3) {
    margin-top: 35px; }

  .checkout1_envio_box:nth-child(-n+2) {
    margin-top: 0; } }
@media screen and (max-width: 540px) {
  .checkout1_envio_box {
    width: 100%;
    min-height: inherit;
    margin-right: 0; }

  .checkout1_envio_box:nth-child(3n+3) {
    margin-right: 0; }

  .checkout1_envio_box:nth-child(-n+2) {
    margin-top: 35px; }

  .checkout1_envio_box:nth-child(-n+1) {
    margin-top: 0; } }
.checkout1_envio_itembox {
  position: relative; }

.checkout1_envio_itembox input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.checkout1_envio_itembox input[type="radio"]:checked + label {
  border: 2px solid #70d44b; }

.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_icon {
  opacity: 1;
  filter: none;
  visibility: visible; }

.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_img-normal {
  opacity: 0;
  visibility: hidden;
  position: absolute; }

.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_img-activo {
  opacity: 1;
  filter: none;
  visibility: visible;
  position: relative; }

.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_subtitle h3 {
  color: rgba(0, 0, 0, 0.73); }

.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_text {
  color: #000; }

.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_button span {
  background: #70d44b;
  color: #000; }

.checkout1_envio_card {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #acacac;
  border-radius: 2px;
  transition: all 0.25s ease-in-out;
  position: relative;
  box-sizing: border-box;
  padding: 36px 20px 42px 20px; }

@media screen and (max-width: 1024px) {
  .checkout1_envio_card {
    padding: 30px 20px; } }
@media screen and (max-width: 960px) {
  .checkout1_envio_card {
    padding: 30px 15px; } }
@media screen and (max-width: 540px) {
  .checkout1_envio_card {
    padding: 30px 15px 45px 15px; } }
.checkout1_envio_icon {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  background: #70d44b;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: -11.5px;
  right: -11.5px;
  margin: 0; }

.checkout1_envio_icon img {
  display: block;
  width: 13px;
  height: auto;
  margin: 0; }

.checkout1_envio_info {
  text-align: center; }

.checkout1_envio_images {
  max-width: 37px;
  width: 100%;
  position: relative;
  margin: 0 auto 12px auto; }

.checkout1_envio_img {
  width: 100%;
  top: 0;
  left: 0; }

.checkout1_envio_img img {
  width: 100%;
  height: auto;
  display: block; }

.checkout1_envio_img-normal {
  opacity: 1;
  filter: none;
  visibility: visible;
  position: relative; }

.checkout1_envio_img-activo {
  opacity: 0;
  visibility: hidden;
  position: absolute; }

.checkout1_envio_subtitle {
  margin-bottom: 7px; }

.checkout1_envio_subtitle h3 {
  line-height: 1.1;
  color: #7a7a87;
  font-family: 'Metropolis-Bold', sans-serif;
  font-size: 19px;
  transition: all 0.25s ease-in-out;
  margin: 0; }

@media screen and (max-width: 960px) {
  .checkout1_envio_subtitle h3 {
    font-size: 17px; } }
.checkout1_envio_text {
  max-width: 194px;
  width: 100%;
  line-height: 1.2;
  color: #7a7a87;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
  margin: 0 auto; }

.checkout1_envio_text p {
  margin: 0; }

@media screen and (max-width: 960px) {
  .checkout1_envio_text {
    font-size: 13px; } }
.checkout1_envio_button {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px; }

.checkout1_envio_button span {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  background: #acacac;
  color: #fff;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 13px;
  text-align: center;
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
  padding: 0 23px; }

@media screen and (max-width: 960px) {
  .checkout1_envio_button span {
    padding: 0 15px; } }
.checkout1_envio_content {
  text-align: center; }

.checkout1_envio_itemblock {
  display: none;
  padding: 76px 0 0 0; }

@media screen and (max-width: 1024px) {
  .checkout1_envio_itemblock {
    padding: 50px 0 0 0; } }
@media screen and (max-width: 767px) {
  .checkout1_envio_itemblock {
    padding: 40px 0 0 0; } }
.checkout1_envio_date {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  margin-top: calc(45px - 1.7486338797814203%); }

@media screen and (max-width: 960px) {
  .checkout1_envio_date {
    flex-direction: column;
    text-align: center; } }
.checkout1_envio_month {
  display: block;
  width: 109px;
  line-height: 1;
  color: #000;
  font-family: 'Metropolis-Bold', sans-serif;
  font-size: 17px;
  margin: 0; }

@media screen and (max-width: 960px) {
  .checkout1_envio_month {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px; } }
.checkout1_envio_week {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 109px); }

@media screen and (max-width: 960px) {
  .checkout1_envio_week {
    width: 100%; } }
.checkout1_envio_day {
  width: 12.78688524590164%;
  height: 47px;
  border: 1px solid #acacac;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
  margin-top: 0.87431693989071%;
  margin-right: 1.74863387978142%;
  margin-bottom: 0.87431693989071%; }

.checkout1_envio_day input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.checkout1_envio_day input[type="radio"]:checked + label {
  background: #70d44b; }

.checkout1_envio_day label {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 17px;
  text-align: center;
  transition: all 0.25s ease-in-out; }

.checkout1_envio_day.checkout1_envio_day-inactive input[type="radio"]:checked + label {
  background: #f4f4f4; }

.checkout1_envio_day.checkout1_envio_day-inactive label {
  background: #f4f4f4; }

.checkout1_envio_day:nth-child(7n+7) {
  margin-right: 0; }

@media screen and (max-width: 960px) {
  .checkout1_envio_day label {
    font-size: 15px; } }
@media screen and (max-width: 640px) {
  .checkout1_envio_day {
    width: 18.25136612021858%; }

  .checkout1_envio_day:nth-child(7n+7) {
    margin-right: 1.74863387978142%; }

  .checkout1_envio_day:nth-child(5n+5) {
    margin-right: 0; } }
@media screen and (max-width: 480px) {
  .checkout1_envio_day {
    width: 32.16757741347905%;
    margin-top: 1%;
    margin-bottom: 1%; }

  .checkout1_envio_day:nth-child(5n+5) {
    margin-right: 1.74863387978142%; }

  .checkout1_envio_day:nth-child(3n+3) {
    margin-right: 0; } }
.checkout1_envio_program {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  margin-top: 45px; }

@media screen and (max-width: 960px) {
  .checkout1_envio_program {
    flex-direction: column;
    text-align: center;
    margin-top: 30px; } }
.checkout1_envio_horario {
  display: block;
  width: 109px;
  line-height: 1;
  color: #000;
  font-family: 'Metropolis-Bold', sans-serif;
  font-size: 17px;
  margin: 0; }

@media screen and (max-width: 960px) {
  .checkout1_envio_horario {
    font-size: 15px;
    margin-bottom: 10px; } }
.checkout1_envio_time {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 109px); }

@media screen and (max-width: 960px) {
  .checkout1_envio_time {
    width: 100%; } }
.checkout1_envio_hour {
  width: 27.3224043715847%;
  height: 47px;
  border: 1px solid #acacac;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
  margin-top: 0.87431693989071%;
  margin-right: 1.74863387978142%;
  margin-bottom: 0.87431693989071%; }

.checkout1_envio_hour input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.checkout1_envio_hour input[type="radio"]:checked + label {
  background: #70d44b; }

.checkout1_envio_hour label {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 17px;
  text-align: center;
  transition: all 0.25s ease-in-out; }

.checkout1_envio_hour.checkout1_envio_hour-inactive input[type="radio"]:checked + label {
  background: #f4f4f4; }

.checkout1_envio_hour.checkout1_envio_hour-inactive label {
  background: #f4f4f4; }

.checkout1_envio_hour:last-child {
  margin-right: 0; }

@media screen and (max-width: 960px) {
  .checkout1_envio_hour {
    width: 32.16757741347905%; }

  .checkout1_envio_hour:nth-child(3n+3) {
    margin-right: 0; }

  .checkout1_envio_hour label {
    font-size: 15px; } }
@media screen and (max-width: 620px) {
  .checkout1_envio_hour {
    width: 49.12568306010929%; }

  .checkout1_envio_hour:nth-child(3n+3) {
    margin-right: 1.74863387978142%; }

  .checkout1_envio_hour:nth-child(2n+2) {
    margin-right: 0; } }
@media screen and (max-width: 480px) {
  .checkout1_envio_hour {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0; }

  .checkout1_envio_hour:nth-child(3n+3) {
    margin-right: 0; } }
.checkout1_envio_atencion {
  text-align: left; }

.checkout1_envio_atencion_text {
  line-height: 1.1;
  color: #7a7a87;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 16px;
  margin-top: 36px; }

.checkout1_envio_atencion_text p {
  margin-bottom: 10px; }

.checkout1_envio_atencion_text p:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 960px) {
  .checkout1_envio_atencion_text {
    font-size: 14px; } }
.checkou1_popup_body.active {
  overflow: hidden; }

.checkout1_popup_overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out 0.3s;
  transform: scale(0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150; }

.checkout1_popup_overlay.active {
  opacity: 0.6;
  visibility: visible;
  transform: scale(1);
  transition: all 0.5s ease-in-out; }

.checkout1_popup_block {
  max-width: 730px;
  width: calc(100% - 40px);
  min-height: 550px;
  max-height: calc(100% - 40px);
  overflow: auto;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-50%, -45%, 0);
  transition: all 0.4s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 300;
  box-sizing: border-box;
  padding: 50px 46px 46px 46px; }

.checkout1_popup_block.active {
  opacity: 1;
  filter: none;
  visibility: visible;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.85s ease-in-out;
  z-index: 200; }

@media screen and (max-width: 767px) {
  .checkout1_popup_block {
    padding: 40px 15px; } }
.checkout1_popup_close {
  display: block;
  width: 19px;
  height: 19px;
  line-height: 19px;
  color: #e0e0e0;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: 27px;
  right: 27px; }

@media screen and (min-width: 1025px) {
  .checkout1_popup_close:hover {
    transform: rotate(180deg); } }
@media screen and (max-width: 767px) {
  .checkout1_popup_close {
    top: 10px;
    right: 10px; } }
.checkout1_popup_title {
  text-align: center;
  margin-bottom: 49px; }

.checkout1_popup_campos {
  margin-bottom: 20px; }

.checkout1_popup_campos ul {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.checkout1_popup_campos li {
  width: 47.02194357366771%;
  margin: 21px 5.956112852664575% 0 0; }

.checkout1_popup_campos li:nth-child(2n+2) {
  margin-right: 0; }

.checkout1_popup_campos li:nth-child(-n+2) {
  margin-top: 0; }

@media screen and (max-width: 767px) {
  .checkout1_popup_campos li {
    width: 100%;
    margin-right: 0; }

  .checkout1_popup_campos li:nth-child(-n+2) {
    margin-top: 21px; }

  .checkout1_popup_campos li:nth-child(-n+1) {
    margin-top: 0; } }
.checkout1_popup_button {
  text-align: center;
  margin-top: 43px; }

.checkout2_pay {
  padding: 0 0 83px 0;
  border-bottom: 1px solid #f4f4f4; }

@media screen and (max-width: 1024px) {
  .checkout2_pay {
    padding: 0 0 50px 0; } }
@media screen and (max-width: 767px) {
  .checkout2_pay {
    padding: 0 0 40px 0; } }
.checkout2_pay_campos {
  margin-top: 41px; }

.checkout2_pay_itembox {
  width: 100%;
  height: 67px;
  position: relative;
  margin-bottom: 25px; }

.checkout2_pay_itembox input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.checkout2_pay_itembox input[type="radio"]:checked + .checkout2_pay_info {
  border: 2px solid #70d44b; }

.checkout2_pay_itembox input[type="radio"]:checked + .checkout2_pay_info .checkout2_pay_icon {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible; }

.checkout2_pay_itembox input[type="radio"]:checked + .checkout2_pay_info .checkout2_pay_text {
  color: #000; }

.checkout2_pay_itembox:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 740px) {
  .checkout2_pay_itembox {
    height: auto; } }
.checkout2_pay_info {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #acacac;
  border-radius: 2px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 40px; }

@media screen and (max-width: 960px) {
  .checkout2_pay_info {
    padding: 0 20px; } }
@media screen and (max-width: 740px) {
  .checkout2_pay_info {
    padding: 15px 15px; } }
.checkout2_pay_icon {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 23px;
  height: 23px;
  background: #70d44b;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: -11.5px;
  right: -11.5px;
  margin: 0; }

.checkout2_pay_icon img {
  display: block;
  width: 13px;
  height: auto;
  margin: 0; }

.checkout2_wrap {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

@media screen and (max-width: 740px) {
  .checkout2_wrap {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: inherit;
    -moz-box-pack: inherit;
    -o-box-pack: inherit;
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
    -webkit-flex-wrap: inherit;
    -ms-flex-wrap: inherit;
    flex-wrap: inherit;
    -webkit-box-align: inherit;
    -moz-box-align: inherit;
    -o-box-align: inherit;
    -ms-flex-align: inherit;
    -webkit-align-items: inherit;
    align-items: inherit; } }
.checkout2_pay_text {
  line-height: 1.1;
  color: #7a7a87;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 16px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.checkout2_pay_text p {
  margin: 0; }

@media screen and (max-width: 960px) {
  .checkout2_pay_text {
    font-size: 14px; } }
@media screen and (max-width: 740px) {
  .checkout2_pay_text {
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5px; } }
.checkout2_pay_logos ul {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.checkout2_pay_logos li {
  margin: 0 0 0 30px; }

.checkout2_pay_logos li:first-child {
  margin-left: 0; }

@media screen and (max-width: 960px) {
  .checkout2_pay_logos li {
    margin-left: 20px; } }
@media screen and (max-width: 740px) {
  .checkout2_pay_logos ul {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }

  .checkout2_pay_logos li {
    margin: 10px 10px 0 10px; }

  .checkout2_pay_logos li:first-child {
    margin-left: 10px; } }
.checkout2_pay_img {
  width: 54px; }

.checkout2_pay_img img {
  width: 100%;
  height: auto;
  display: block; }

.checkout2_voucher {
  padding: 32px 0 81px 0; }

@media screen and (max-width: 1024px) {
  .checkout2_voucher {
    padding: 50px 0 50px 0; } }
@media screen and (max-width: 767px) {
  .checkout2_voucher {
    padding: 40px 0 50px 0; } }
.checkout2_voucher_head {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 69px 0 0 0; }

@media screen and (max-width: 1024px) {
  .checkout2_voucher_head {
    margin-top: 50px; } }
@media screen and (max-width: 767px) {
  .checkout2_voucher_head {
    margin-top: 40px; } }
@media screen and (max-width: 480px) {
  .checkout2_voucher_head {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }
.checkout2_voucher_itembox {
  width: 49.0234375%;
  height: 100px;
  position: relative; }

.checkout2_voucher_itembox input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.checkout2_voucher_itembox input[type="radio"]:checked + .checkout2_voucher_info {
  border: 2px solid #70d44b; }

.checkout2_voucher_itembox input[type="radio"]:checked + .checkout2_voucher_info .checkout2_voucher_icon {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible; }

.checkout2_voucher_itembox input[type="radio"]:checked + .checkout2_voucher_info .checkout2_voucher_img-normal {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute; }

.checkout2_voucher_itembox input[type="radio"]:checked + .checkout2_voucher_info .checkout2_voucher_img-activo {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  position: relative; }

.checkout2_voucher_itembox input[type="radio"]:checked + .checkout2_voucher_info .checkout2_voucher_text {
  color: #000; }

@media screen and (max-width: 480px) {
  .checkout2_voucher_itembox {
    width: 100%;
    height: auto;
    margin-bottom: 15px; }

  .checkout2_voucher_itembox:last-child {
    margin-bottom: 0; } }
.checkout2_voucher_info {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #acacac;
  border-radius: 2px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px; }

@media screen and (max-width: 480px) {
  .checkout2_voucher_info {
    padding: 15px; } }
.checkout2_voucher_icon {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 23px;
  height: 23px;
  background: #70d44b;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: -11.5px;
  right: -11.5px;
  margin: 0; }

.checkout2_voucher_icon img {
  display: block;
  width: 13px;
  height: auto;
  margin: 0; }

.checkout2_voucher_wrap {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.checkout2_voucher_images {
  width: 36px;
  position: relative; }

.checkout2_voucher_img {
  width: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  top: 0;
  left: 0; }

.checkout2_voucher_img img {
  width: 100%;
  height: auto;
  display: block; }

.checkout2_voucher_img-normal {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  position: relative; }

.checkout2_voucher_img-activo {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute; }

.checkout2_voucher_text {
  display: block;
  line-height: 1;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 16px;
  padding-left: 13px;
  margin: 0; }

@media screen and (max-width: 960px) {
  .checkout2_voucher_text {
    font-size: 14px; } }
.checkout2_voucher_campos {
  display: none;
  padding: 49px 0 0 0; }

.checkout2_voucher_campos ul {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.checkout2_voucher_campos li {
  width: 48.828125%;
  margin-top: 30px; }

.checkout2_voucher_campos li:nth-child(-n+2) {
  margin-top: 0; }

.checkout2_voucher_campos li.checkout2_voucher-full {
  width: 100%; }

@media screen and (max-width: 767px) {
  .checkout2_voucher_campos li {
    width: 100%; }

  .checkout2_voucher_campos li:nth-child(-n+2) {
    margin-top: 30px; }

  .checkout2_voucher_campos li:nth-child(-n+1) {
    margin-top: 0; } }
.checkout3_resumen {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 78px 0; }

@media screen and (max-width: 1024px) {
  .checkout3_resumen {
    padding-bottom: 50px; } }
@media screen and (max-width: 767px) {
  .checkout3_resumen {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 40px; } }
.checkout3_barra {
  width: 320px; }

@media screen and (max-width: 960px) {
  .checkout3_barra {
    width: 290px; } }
@media screen and (max-width: 767px) {
  .checkout3_barra {
    width: 100%;
    margin-bottom: 40px; } }
.checkout3_barra_box {
  width: 100%;
  min-height: 203px;
  border: 1px solid #b5b5b5;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 36px 50px 32px 30px;
  margin-bottom: 41px; }

.checkout3_barra_box:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 1024px) {
  .checkout3_barra_box {
    margin-bottom: 30px; } }
@media screen and (max-width: 960px) {
  .checkout3_barra_box {
    padding-left: 15px; } }
@media screen and (max-width: 480px) {
  .checkout3_barra_box {
    min-height: inherit;
    padding: 20px 50px 20px 15px; } }
.checkout3_barra_icon {
  display: block;
  width: 20px;
  position: absolute;
  top: 36px;
  right: 25px; }

.checkout3_barra_icon img {
  width: 100%;
  height: auto;
  display: block; }

@media screen and (max-width: 960px) {
  .checkout3_barra_icon {
    right: 15px; } }
@media screen and (max-width: 480px) {
  .checkout3_barra_icon {
    top: 20px; } }
.checkout3_barra_info {
  max-width: 223px;
  width: 100%;
  margin: 0; }

@media screen and (max-width: 767px) {
  .checkout3_barra_info {
    max-width: none; } }
.checkout3_barra_title {
  margin-bottom: 19px; }

.checkout3_barra_subtitle {
  margin-bottom: 11px; }

.checkout3_barra_subtitle h3 {
  line-height: 1.25;
  color: #000;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 17px;
  margin-bottom: 0; }

@media screen and (max-width: 480px) {
  .checkout3_barra_subtitle h3 {
    font-size: 15px; } }
.checkout3_barra_text {
  line-height: 1.4;
  color: #000;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 13px; }

.checkout3_barra_text p {
  margin-bottom: 8px; }

.checkout3_barra_text p:last-child {
  margin-bottom: 0; }

.checkout3_barra_images {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.checkout3_barra_img {
  width: 54px;
  margin: 9px 0 5px 0; }

.checkout3_barra_img img {
  width: 100%;
  height: auto;
  display: block; }

.checkout3_products {
  width: calc(100% - 348px);
  border: 1px solid #b5b5b5;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 36px 39px 0 44px; }

@media screen and (max-width: 960px) {
  .checkout3_products {
    width: calc(100% - 310px);
    padding-left: 15px;
    padding-right: 15px; } }
@media screen and (max-width: 767px) {
  .checkout3_products {
    width: 100%; } }
@media screen and (max-width: 480px) {
  .checkout3_products {
    padding-top: 20px; } }
.checkout3_products_title {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 34px; }

@media screen and (max-width: 480px) {
  .checkout3_products_title {
    padding-bottom: 20px;
    margin-bottom: 0; } }
.checkout3_products_icon {
  display: block;
  width: 20px;
  margin: 0; }

.checkout3_products_icon img {
  width: 100%;
  height: auto;
  display: block; }

@media screen and (max-width: 480px) {
  .checkout3_products_icon {
    display: none; } }
.checkout3_products_head {
  line-height: 1;
  color: #000;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 11px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px; }

.checkout3_products_head ul {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.checkout3_products_head li:nth-child(1) {
  width: 54.145516074450086%; }

.checkout3_products_head li:nth-child(2) {
  width: calc(45.854483925549914% - 83px); }

.checkout3_products_head li:nth-child(3) {
  width: 83px; }

@media screen and (max-width: 480px) {
  .checkout3_products_head {
    display: none; } }
.checkout3_products_content {
  border-bottom: 1px solid #e0e0e0;
  padding: 25px 0 84px 0; }

@media screen and (max-width: 1024px) {
  .checkout3_products_content {
    padding-bottom: 50px; } }
@media screen and (max-width: 480px) {
  .checkout3_products_content {
    border-top: 1px solid #e0e0e0;
    padding: 0; } }
.checkout3_products_itembox {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 41px; }

.checkout3_products_itembox:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 480px) {
  .checkout3_products_itembox {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    margin-bottom: 0; }

  .checkout3_products_itembox:last-child {
    border-bottom: none; } }
.checkout3_products_left {
  width: 18.781725888324875%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px; }

@media screen and (max-width: 480px) {
  .checkout3_products_left {
    width: 82px; } }
.checkout3_products_right {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 81.21827411167513%; }

@media screen and (max-width: 480px) {
  .checkout3_products_right {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 82px); } }
.checkout3_products_column-1 {
  width: 43.541666666666664%; }

@media screen and (max-width: 480px) {
  .checkout3_products_column-1 {
    width: auto;
    margin-bottom: 10px; } }
.checkout3_products_column-2 {
  width: calc(56.458333333333336% - 83px); }

@media screen and (max-width: 480px) {
  .checkout3_products_column-2 {
    width: auto;
    margin-bottom: 10px; } }
.checkout3_products_column-3 {
  width: 83px; }

@media screen and (max-width: 480px) {
  .checkout3_products_column-3 {
    width: auto; } }
.checkout3_products_img {
  width: 72px;
  margin: 0; }

.checkout3_products_img img {
  width: 100%;
  height: auto;
  display: block; }

.checkout3_products_description {
  line-height: 1.4;
  color: #000;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 15px;
  margin: 0; }

@media screen and (max-width: 480px) {
  .checkout3_products_description br {
    display: none; } }
.checkout3_products_cantidad {
  display: block;
  color: #7a7a87;
  line-height: 1;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 13px;
  margin: 0; }

.checkout3_products_price {
  display: block;
  line-height: 1;
  color: #000;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 15px;
  margin: 0; }

.checkout3_prices {
  padding: 34px 0 36px 0; }

@media screen and (max-width: 480px) {
  .checkout3_prices {
    padding-bottom: 20px; } }
.checkout3_prices_box {
  line-height: 1.2;
  color: #000;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 13px;
  margin-bottom: 21px; }

.checkout3_prices_box ul {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.checkout3_prices_box strong {
  font-family: 'Metropolis-Bold', sans-serif;
  font-weight: normal; }

.checkout3_prices_box li:nth-child(1) {
  width: calc(100% - 83px);
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 19.5%; }

.checkout3_prices_box li:nth-child(2) {
  width: 83px;
  font-size: 15px; }

.checkout3_prices_box li:nth-child(2) strong {
  font-family: 'Metropolis-SemiBold', sans-serif; }

.checkout3_prices_box:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 960px) {
  .checkout3_prices_box li:nth-child(1) {
    padding-right: 15%; } }
@media screen and (max-width: 480px) {
  .checkout3_prices_box {
    line-height: 1.4; }

  .checkout3_prices_box li:nth-child(1) {
    text-align: left;
    padding-right: 0; }

  .checkout3_prices_box li:nth-child(2) {
    text-align: right; }

  .checkout3_prices_box:last-child {
    border-top: 1px solid #e0e0e0;
    padding-top: 30px; } }
.checkout-header {
  width: 100%;
  height: 70px; }

.checkout-header_main {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: auto; }

.checkout-header_content {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 1240px;
  width: 100%;
  height: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto; }

@media screen and (max-width: 767px) {
  .checkout-header_content {
    padding: 0 15px; } }
.checkout-header_box {
  display: box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0; }

.checkout-header_box:nth-child(1) {
  align-items: flex-start;
  background: #000;
  width: 192px;
  position: relative; }

.checkout-header_box:nth-child(1):before {
  content: "";
  display: block;
  width: 1000px;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: -1000px; }

@media screen and (max-width: 960px) {
  .checkout-header_box:nth-child(1) {
    width: 192px; } }
@media screen and (max-width: 480px) {
  .checkout-header_box:nth-child(1) {
    width: 120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px; } }
.checkout-header_box:nth-child(2) {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: calc(100% - 384px); }

@media screen and (max-width: 960px) {
  .checkout-header_box:nth-child(2) {
    display: none; } }
.checkout-header_box:nth-child(3) {
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  width: 192px; }

@media screen and (max-width: 960px) {
  .checkout-header_box:nth-child(3) {
    width: calc(100% - 192px); } }
@media screen and (max-width: 480px) {
  .checkout-header_box:nth-child(3) {
    width: calc(100% - 120px); } }
.checkout-header_logo {
  max-width: 137px;
  width: 100%;
  margin: 0; }

.checkout-header_logo img {
  display: block;
  width: 100%;
  height: auto; }

.checkout-header_title {
  display: block;
  color: #2b292b;
  font-family: 'Metropolis-Bold', sans-serif;
  font-size: 14px;
  text-align: center; }

.checkout-header_button {
  display: block;
  line-height: 1;
  color: #7a7a87;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 14px;
  margin: 0; }

.checkout-header_button_icon {
  display: inline-block;
  vertical-align: middle;
  color: #7a7a87;
  font-size: 10px;
  margin: -2px 8px 0 0; }

.checkout-pasos {
  padding: 55px 20px 78px 20px; }

@media screen and (max-width: 1024px) {
  .checkout-pasos {
    padding: 50px 20px; } }
@media screen and (max-width: 767px) {
  .checkout-pasos {
    padding: 40px 15px; } }
.checkout-pasos_content {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 750px;
  width: 100%;
  margin: 0 auto; }

.checkout-pasos_itembox {
  width: 33.333333333333336%;
  position: relative; }

.checkout-pasos_itembox:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #acacac;
  position: absolute;
  top: 25.5px;
  left: -50%; }

.checkout-pasos_itembox:first-child:before {
  display: none; }

.checkout-pasos_itembox.active:before {
  background: #BFCFD3; }

.checkout-pasos_itembox .checkout-pasos_icon span {
  color: #fff; }

.checkout-pasos_itembox.active .checkout-pasos_icon {
  background: #62D0DF; }

.checkout-pasos_itembox.active .checkout-pasos_text {
  color: #62D0DF; }

@media screen and (max-width: 767px) {
  .checkout-pasos_itembox:before {
    top: 20.5px; } }
.checkout-pasos_icon {
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: #acacac;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  margin: 0 auto 18px auto; }

.checkout-pasos_icon img {
  display: block;
  width: 28px;
  height: auto;
  margin: 0; }

@media screen and (max-width: 767px) {
  .checkout-pasos_icon {
    width: 45px;
    height: 45px; }

  .checkout-pasos_icon img {
    width: 25px; } }
.checkout-pasos_text {
  display: block;
  line-height: 1;
  color: #acacac;
  font-family: "GothamSemi";
  font-size: 13px;
  text-align: center; }

.checkout-footer {
  width: 100%;
  height: 90px; }

@media screen and (max-width: 1000px) {
  .checkout-footer {
    height: auto; } }
.checkout-footer_main {
  width: 100%;
  height: 90px;
  background: #000;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

@media screen and (max-width: 1024px) {
  .checkout-footer_main {
    position: relative; } }
@media screen and (max-width: 1000px) {
  .checkout-footer_main {
    height: auto; } }
.checkout-footer_content {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.checkout-footer_column {
  height: 100%; }

@media screen and (max-width: 1000px) {
  .checkout-footer_column {
    height: auto; } }
.checkout-footer_column-left {
  width: 300px;
  border-right: 1px solid #505050;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (max-width: 1460px) {
  .checkout-footer_column-left {
    width: 200px; } }
@media screen and (max-width: 1000px) {
  .checkout-footer_column-left {
    width: 150px;
    height: auto; } }
@media screen and (max-width: 767px) {
  .checkout-footer_column-left {
    display: none; } }
.checkout-footer_column-right {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 300px); }

@media screen and (max-width: 1460px) {
  .checkout-footer_column-right {
    width: calc(100% - 200px); } }
@media screen and (max-width: 1000px) {
  .checkout-footer_column-right {
    width: calc(100% - 150px); } }
@media screen and (max-width: 767px) {
  .checkout-footer_column-right {
    width: 100%; } }
.checkout-footer_orden {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.checkout-footer_orden_icon {
  display: block;
  line-height: 1;
  color: #fff;
  font-size: 30px;
  margin: 0 34px 0 0; }

@media screen and (max-width: 1460px) {
  .checkout-footer_orden_icon {
    font-size: 22px;
    margin: 0 15px 0 0; } }
.checkout-footer_orden_text {
  display: block;
  line-height: 1;
  color: #fff;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 19px;
  margin: 0; }

@media screen and (max-width: 1460px) {
  .checkout-footer_orden_text {
    font-size: 17px; } }
.checkout-footer_block {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: calc(100% - 300px);
  height: 100%; }

@media screen and (max-width: 1460px) {
  .checkout-footer_block {
    width: calc(100% - 200px); } }
@media screen and (max-width: 1000px) {
  .checkout-footer_block {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 150px);
    height: auto; } }
.checkout-footer_button {
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 300px;
  height: 100%;
  line-height: 1;
  background: #70d44b;
  color: #000;
  font-family: 'Metropolis-Bold', sans-serif;
  font-size: 17px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 0; }

@media screen and (max-width: 1460px) {
  .checkout-footer_button {
    width: 200px;
    font-size: 15px; } }
@media screen and (max-width: 1000px) {
  .checkout-footer_button {
    width: 150px; } }
.checkout-footer_block-left {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: calc(100% - 169px);
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 4.5% 0 4.5%; }

@media screen and (max-width: 1460px) {
  .checkout-footer_block-left {
    width: calc(100% - 120px);
    padding: 0 20px; } }
@media screen and (max-width: 1000px) {
  .checkout-footer_block-left {
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0; } }
@media screen and (max-width: 767px) {
  .checkout-footer_block-left {
    display: none; } }
.checkout-footer_block-right {
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 169px;
  height: 100%; }

@media screen and (max-width: 1460px) {
  .checkout-footer_block-right {
    width: 120px; } }
@media screen and (max-width: 1000px) {
  .checkout-footer_block-right {
    width: 100%;
    height: auto;
    text-align: center;
    border-top: 1px solid #d4d4d4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px; } }
@media screen and (max-width: 767px) {
  .checkout-footer_block-right {
    border-top: none;
    padding: 15px 20px; } }
.checkout-footer_itembox:nth-child(1) {
  width: 160px; }

@media screen and (max-width: 1460px) {
  .checkout-footer_itembox:nth-child(1) {
    width: 120px; } }
@media screen and (max-width: 1000px) {
  .checkout-footer_itembox:nth-child(1) {
    width: 33.333333333333336%; } }
.checkout-footer_itembox:nth-child(2) {
  width: 204px; }

@media screen and (max-width: 1460px) {
  .checkout-footer_itembox:nth-child(2) {
    width: 180px; } }
@media screen and (max-width: 1000px) {
  .checkout-footer_itembox:nth-child(2) {
    width: 33.333333333333336%; } }
.checkout-footer_itembox:nth-child(3) {
  width: 160px; }

@media screen and (max-width: 1460px) {
  .checkout-footer_itembox:nth-child(3) {
    width: 120px; } }
@media screen and (max-width: 1000px) {
  .checkout-footer_itembox:nth-child(3) {
    width: 33.333333333333336%; } }
@media screen and (max-width: 1000px) {
  .checkout-footer_price {
    text-align: center; } }
@media screen and (max-width: 767px) {
  .checkout-footer_price {
    text-align: left; } }
.checkout-footer_boxtext-1 {
  display: block;
  line-height: 1;
  color: #fff;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 11px;
  margin-bottom: 3px; }

.checkout-footer_boxtext-2 {
  display: block;
  line-height: 1;
  color: #fff;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 21px; }

@media screen and (max-width: 1460px) {
  .checkout-footer_boxtext-2 {
    font-size: 18px; } }
.page_checkout header,
.page_checkout footer {
  display: none; }

.checkout_content {
  max-width: 1064px; }

.checkout_title {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 25px;
  margin-bottom: 27px; }

.checkout_title h1,
.checkout_title h2,
.checkout_title h3 {
  line-height: 1;
  color: #000;
  font-family: 'Metropolis-Bold', sans-serif;
  font-weight: normal;
  font-size: 30px;
  margin: 0; }

.checkout_title.center {
  text-align: center; }

@media screen and (max-width: 1024px) {
  .checkout_title h1,
  .checkout_title h2,
  .checkout_title h3 {
    font-size: 26px; } }
@media screen and (max-width: 767px) {
  .checkout_title h1,
  .checkout_title h2,
  .checkout_title h3 {
    font-size: 22px; } }
.checkout-campo_text {
  display: inline-block;
  line-height: 1;
  color: #000;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 14px;
  margin-bottom: 6px; }

.checkout-campo_text span {
  color: #70d44b; }

.checkout-campo_input {
  width: 100%;
  height: 45px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.checkout-campo_input input {
  width: 100%;
  height: 100%;
  background: none;
  color: #7a7a87;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 14px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 17px; }

.checkout-campo_input input[type="number"] {
  -moz-appearance: textfield; }

.checkout-campo_input input[type="number"]::-webkit-inner-spin-button,
.checkout-campo_input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.checkout-campo_select {
  width: 100%;
  height: 45px;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.checkout-campo_select select {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  color: #7a7a87;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 14px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 40px 0 17px; }

.checkout-campo_select select::-ms-expand {
  display: none; }

.checkout-campo_icon {
  display: block;
  width: 22px;
  height: 45px;
  line-height: 45px;
  color: #7a7a87;
  font-size: 20px;
  text-align: center;
  position: absolute;
  right: 14px;
  bottom: 0; }

.checkout-campo_double {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.checkout-campo_double .checkout-campo_select {
  width: 90px;
  border-radius: 2px 0 0 2px;
  border-right: none; }

.checkout-campo_double .checkout-campo_input {
  width: calc(100% - 90px);
  border-radius: 0 2px 2px 0; }

.checkout_campos_obligatorios {
  line-height: 1;
  color: #000;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 12px; }

.checkout_campos_obligatorios strong {
  color: #70d44b;
  font-weight: normal; }

.checkout_campos_obligatorios p {
  margin: 0; }

.redes {
  position: relative;
  padding: 45px 0; }
  @media screen and (min-width: 568px) {
    .redes .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 1050px; } }
  .redes-heart {
    position: absolute;
    left: -89px;
    max-width: 280px;
    z-index: 1; }
    @media screen and (min-width: 320) and (max-width: 568px) {
      .redes-heart {
        top: 15px; } }
    @media screen and (min-width: 568px) {
      .redes-heart {
        bottom: -60px; } }
  .redes-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
    position: relative;
    z-index: 2; }
    @media screen and (min-width: 568px) {
      .redes-header {
        flex-direction: column;
        justify-content: center; } }
    @media screen and (min-width: 780px) {
      .redes-header {
        width: 280px; } }
    @media screen and (min-width: 1024px) {
      .redes-header {
        align-items: flex-start; } }
  .redes-title {
    font-family: "GothamBold";
    color: #355669;
    font-size: 18px;
    text-align: left;
    max-width: 150px;
    line-height: 25px; }
    @media screen and (min-width: 1024px) {
      .redes-title {
        font-size: 30px;
        max-width: 280px;
        line-height: 35px; } }
  .redes-links {
    padding-right: 30px;
    display: flex;
    flex-direction: row; }
    @media screen and (min-width: 568px) {
      .redes-links {
        margin-top: 20px; } }
  .redes-link {
    font-size: 20px; }
    .redes-link.face {
      color: #004A97; }
    .redes-link:hover {
      color: #FF9E16; }
    .redes-link-title {
      display: none;
      font-family: "GothamBook";
      font-size: 16px;
      color: #355669; }
      @media screen and (min-width: 568px) {
        .redes-link-title {
          display: block;
          padding-right: 10px; } }
  .redes-list {
    position: relative;
    z-index: 2;
    display: grid;
    grid-gap: 10px; }
    @media screen and (min-width: 780px) {
      .redes-list {
        grid-template-columns: 1fr 1fr; } }
  .redes-item {
    padding: 19px;
    background: #fff;
    max-width: 350px; }
    .redes-item:last-child {
      display: none; }
      @media screen and (min-width: 768px) {
        .redes-item:last-child {
          display: block; } }
    .redes-item-image {
      max-width: 323px;
      width: 100%;
      height: 215px;
      display: flex;
      font-size: 0;
      overflow: hidden; }
      .redes-item-image img {
        object-fit: cover;
        object-position: center;
        width: 100%; }
    .redes-item-body {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 15px; }
  .redes-like span {
    margin-right: 3px; }
  .redes-share span {
    margin-right: 3px; }
  .redes-message span {
    margin-right: 3px; }

/*# sourceMappingURL=index.css.map */
