$limit-margin: 5;
$interval-margin: 10;
//Margin Top/bottom
@for $i from 1 through $limit-margin{
    .margin-#{$i * $interval-margin}{
        margin-top: unquote($i * $interval-margin + "px");
        margin-bottom: unquote($i * $interval-margin + "px");
    }
}
//Margin Top
@for $i from 1 through $limit-margin{
    .margin-top-#{$i * $interval-margin}{
        margin-top: unquote($i * $interval-margin + "px");
    }
}
//Margin Bottom
@for $i from 1 through $limit-margin{
    .margin-bottom-#{$i * $interval-margin}{
        margin-bottom: unquote($i * $interval-margin + "px");
    }
}

// margin left
@for $i from 1 through $limit-margin{
    .margin-left-#{$i * $interval-margin}{
        margin-left: unquote($i * $interval-margin + "px");
    }
}

// margin right
@for $i from 1 through $limit-margin{
    .margin-right-#{$i * $interval-margin}{
        margin-right: unquote($i * $interval-margin + "px");
    }
}



$limit-padding: 5;
$interval-padding: 10;
//Padding Top/bottom
@for $i from 1 through $limit-padding{
    .padding-#{$i * $interval-padding}{
        padding-top: unquote($i * $interval-padding + "px");
        padding-bottom: unquote($i * $interval-padding + "px");
    }
}
//padding Top
@for $i from 1 through $limit-padding{
    .padding-top-#{$i * $interval-padding}{
        padding-top: unquote($i * $interval-padding + "px");
    }
}
//padding Bottom
@for $i from 1 through $limit-padding{
    .padding-bottom-#{$i * $interval-padding}{
        padding-bottom: unquote($i * $interval-padding + "px");
    }
}
// padding left right
@for $i from 1 through $limit-padding{
    .padding-lr-#{$i * $interval-padding}{
        padding-left: unquote($i * $interval-padding + "px");
        padding-right: unquote($i * $interval-padding + "px");
    }
}

.center{
  text-align: center;
}
