.card-pedido{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #f4f4f4;
    padding: 30px 40px;
    &:last-child{
        border-bottom: 0;
    }
    @include desde(600px){
        flex-direction: row;
    }
    &__left{
        width: 100%;
        margin-bottom: 10px;
        @include desde(600px){
            margin-bottom: 0;
            width: 33.3%;
        }
    }
    &__center{
        width: 100%;
        margin-bottom: 10px;
        @include desde(600px){
            margin-bottom: 0;
            width: 33.3%;
        }
    }
    &__right{
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        @include desde(600px){
            margin-bottom: 0;
            width: 33.3%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btn{
            width: 120px;
            font-size: 12px;
            height: 40px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @include desde(600px){
                width: 155px;
                font-size: 14px;
                
            }
        }
    }
    &__pedido{
        font-family: $PrimarySemi;
        font-size: 13px;
        color: #355669;
        @include desde(s){
            font-size: 17px;
        }
    }
    &__status{
        text-transform: uppercase;
        font-size: 10px;
        margin-top: 2px;
        color: #99A8B0;
        @include desde(s){
            font-size: 12px;
        }
    }
    &__fecha{
        font-size: 14px;
        color: #355669;
    }
    &__cantidad{
        font-size: 14px;
        color: #355669;
    }
    &__total{
        font-size: 14px;
        color: #355669;
    }
}