.card-address{
    width: 100%;
    position: relative;
    input{
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .card-address-radio{
            border:solid 1px $blue-acua;
            &::before{
                content: "\e906";
                position: absolute;
                font-family: 'icomoon' !important;
                background-color: $blue-acua;
                color: white;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                right: -10px;
                font-size: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -10px;
            }
        }
    }
    &.for-add{
        border-style: dashed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:solid 1px #eaeaea;
        padding: 20px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover{
            border-color: #000;
            color: #000;
        }
    }
    &-radio{
        border:solid 1px #eaeaea;
        padding: 20px;
        margin-bottom: 10px;
        cursor: pointer;
        
    }
    @include desde(s){
        width: calc(50% - 20px);
        margin-right: 20px;
        &:nth-last-child(1){
            margin-right: 0;
        }
    }
    @include desde(m){
        width: calc(33% - 10px);
        margin-right: calc(30px / 3);
        &:nth-last-child(1){
            margin-right: 0;
        }
    }
    &__name{
        font-size: 12px;
        font-family: $PrimaryBold;
        margin-bottom: 15px;
    }
    &__add{
        font-size: 12px;
        font-family: $PrimaryLight;
        margin-bottom: 7px;
    }
    &__telf{
        font-size: 12px;
    }
    &__icon-add{
        font-size: 16px;
        color: #ccc;
    }
    &__text-add{
        font-family: $PrimaryBold;
        margin-top: 10px;
        font-size: 15px;
        color: #ccc;
    }

}