.card-cost{
    width: 100%;
    position: relative;
    input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .card-cost-checked{
            border:solid 1px $blue-acua;
            .card-cost__box-costo{
                background-color: $blue-acua;
            }
            &::before{
                content: "\e906";
                position: absolute;
                font-family: 'icomoon' !important;
                background-color: $blue-acua;
                color: white;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                right: -10px;
                font-size: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -10px;
            }
        }
    }
    &-checked{
        border:solid 1px #eaeaea;
        padding: 30px 0 30px;
        margin-bottom: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    @include desde(s){
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 10px;
        &:nth-last-child(1){
            margin-right: 0;
        }
    }
    @include desde(m){
        width: calc(33% - 10px);
        margin-right: calc(30px / 3);
        &:nth-last-child(1){
            margin-right: 0;
        }
    }
    &__icon{
        font-size: 26px;
    }
    &__name{
        font-size: 16px;
        font-family: $PrimaryBold;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    &__desc{
        font-family: $PrimaryLight;
        font-size: 12px;
        width: 70%;
        text-align: center;
    }
    &__box-costo{
        padding: 8px 12px;
        width: 150px;
        border-radius: 3px;
        background-color: #e0e0e0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__costo{
        font-size: 10px;
        font-family: $PrimaryLight;
    }
}