.card-comprobante{

    cursor: pointer;
    position: relative;
    width: 100%;
    @include desde(s){
        width: calc(50% - 10px);
        margin-right: 20px;
        &:nth-last-child(1){
            margin-right: 0;
        }
    }
    input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .card-comprobante-checked{
            border:solid 1px $blue-acua;
            &::before{
                content: "\e906";
                position: absolute;
                font-family: 'icomoon' !important;
                background-color: $blue-acua;
                color: white;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                right: -10px;
                font-size: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -10px;
            }
        }
    }
    &-checked{
        border:solid 1px #eaeaea;
        padding: 20px;
        margin-bottom: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__icon{
        font-size: 16px;
        color: $black;
        margin-right: 10px;
    }
    &__name{
        font-family: $PrimaryBold;
       // margin-top: 10px;
        font-size: 15px;
        color: $black;
    }

}