.card-box{
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
    border: solid 1px #E2EFF2;
    border-radius: 3px;
    &__header{
        padding: 20px;
        border-bottom: solid 1px #F3F3F3;
    }
    &__title{
        font-family: $PrimarySemi;
        color: #355669;
        font-size: 17px;
    }
    &__body{
        padding: 30px 20px;
    }
    &__encabezado{
        font-family: $PrimaryBold;
        margin-bottom: 20px;
        font-size: 15px;
    }
    &__name{
        font-family: $PrimarySemi;
        color: #355669;
        margin-bottom: 5px;
        line-height: 1.3;
        font-size: 13px;
        display: flex;
        &:nth-last-child(1){
            margin-bottom: 0;
        }
        &-left, &-right{
            width: 50%;
        }
    }
    &__logos{
        display: flex;
        flex-wrap: wrap;
        border-bottom: solid 1px #F3F3F3;
        padding-bottom: 15px;
        margin-bottom: 20px;
        &-item{
            margin-right: 10px;
            margin-bottom: 10px;
            img{
                max-width: 67px;
                width: 100%;
            }
        }
    }
    &__desc{
        font-family: $PrimaryRegular;
        display: inline-block;
        margin-left: 5px;
        color: #99A8B0;
    }
    &__banco{
        display: flex;
        align-items: center;
        img{
            width: 50px;

        }
    }
}

.padding-lr-20{
    padding: 0 20px;
}