.card-direccion{
    width: 100%;
    display: flex;
    border: solid 1px #E2EFF2;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    // cursor: pointer;
    justify-content: space-between;
    @include desde(s){
        width: calc(50% - 20px);
    }
    &.active{
        border: solid 2px #62D0DF;
    }
    &.empty{
        border: dashed 1px #E2EFF2;
        flex-direction: column;
        align-items: center;
        padding: 27px 0;
        
    }
    &__right{
        display: flex;
        align-items: center;
        // margin-left: 20px;
        font-family: $PrimarySemi;
        font-size: 13px;
        color: #99A8B0;
        margin-top: 10px;
        p{
            text-decoration: underline;
        }
        span{
            font-size: 11px;
            margin-right: 5px;
            margin-top: -5px;
            text-decoration: none;
            &:before{
                text-decoration: none;
            }
        }
    }
    &__left{
    }
    &__name{
        font-family: $PrimarySemi;
        font-size: 14px;
        margin-bottom: 15px;
        color: #355669;
    }
    &__text-simple{
        margin-bottom: 3px;
        line-height: 1.2;
        font-size: 13px;
        
        color: #99A8B0;
    }
    &__icono{
        font-size: 20px;
        color: #99A8B0;
        display: block;
    }
    &__agregar{
        font-family: $PrimaryBold;
        font-size: 14px;
        margin-top: 10px;
        color: #99A8B0;
    }
}