.checkout{
    &__list-step{
        display: flex;
        padding: 40px 0;
        justify-content: center;
        margin-top: 20px;
        @include desde(m){
            margin-top: 0;
           // justify-content: flex-start;
        }
    }
    &__w-step{
        position: relative;
        display: flex;
        margin-left: 100px;
        flex-direction: column;
        align-items: center;
        &.active{
            & .checkout__step{
                background-color: $blue;
                &::before{
                    background-color: $blue;
                }
            }
            
        }
        &:nth-child(1){
            margin-left: 0;
            & .checkout__step{
                &:before{
                    width: 0;
                }
            }
        }
        &:nth-last-child(1){
            & .checkout__step{
                &:before{
                    width: 112px;
                    left: -112px;
                } 
            }
        }
        @include desde(m){
            margin-left: 120px;
            &:nth-last-child(1){
                & .checkout__step{
                    &:before{
                      width: 122px;
                      left: -122px;  
                    }
                }
            }
        }

    }
    &__step{
        width: 40px;
        height: 40px;
        background-color: #eaeaea;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include desde(m){
            width: 50px;
            height: 50px;
            &:before{
                width: 100px;
                left: -100px;
            }
        }
        &:before{
            content: "";
            position: absolute;
            width: 120px;
            left: -120px;
            top: 50%;
            transform: translateY(-50%);
            height: 2px;
            background-color: #eaeaea;
            z-index: -1;

        }
    }
    &__step-num{
        color: $white;
        font-family: $PrimarySemi;
        font-size: 14px;
        @include desde(m){
            font-size: 20px;
        }
    }
    &__step-name{
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 10px;
    }
}