.footer-checkout{
    display: flex;
    height: 70px;
    margin-top: 50px;
    &__left{
        display: flex;
        align-items: center;
        background-color: $blue;
        border-right: solid 1px rgba(white, .3);
        padding: 0 20px;
        @include desde(s){
            width: 25%;
            justify-content: center;
        }
    }
    &__center{
        display: flex;
        align-items: center;
        background-color: $blue;
        width: 100%;
        // justify-content: center;
        padding-left: 20px;
        @include desde(s){
            justify-content: space-between;
            padding: 0 30px;
        }
    }
    &__center-l{
        display: none;
        @include desde(s){
            display: flex;
            //padding-left: 10px;
        }

    }
    &__center-r{
        display: flex;
    }
    &__right{
        display: flex;
        align-items: center;
        background-color: $blue-acua;
        padding: 0 20px;
        cursor: pointer;
        @include desde(s){
            width: 25%;
            justify-content: center;
        }
    }
    &__icon-orden{
        color: white;
        font-size: 16px;
        margin-right: 15px;
    }
    &__orden{
        font-size: 14px;
        font-family: $PrimarySemi;
        color: white;
    }
    &__detalle{
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        margin-right: 20px;
        @include desde-hasta(s, m){
            margin-right: 10px;
        }
        &.total{
            margin-right: 0;
        }
    }
    &__nombre{
        font-size: 11px;
        color: white;
        margin-bottom: 3px;
    }
    &__deta{
        font-family: $PrimarySemi;
        color: white;
        @include desde-hasta(s, m){
            font-size: 13px;
        }
    }
    &__continuar{
        font-family: $PrimaryBold;
        letter-spacing: .50px;
        color: white;
        font-size: 11px;
        text-transform: uppercase;
        @include desde(s){
            font-size: 13px;
        }
    }
}