.header-checkout{
    border-bottom: solid 1px #eaeaea;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        position: relative;
    }
    &__left{

    }
    &__img{
        width: 80px;
        height: auto;
        @include desde(s){
            width: 150px;
        }
    }
    &__center{
        display: none;
        @include desde(s){
            display:  block;
        }
    }
    &__compras{
        font-family: $PrimaryBold;
        font-size: 13px;
        color: $blue;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__icon{
        font-weight: bolder;
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    }
    &__need{
        color: #cccccc;
        font-size: 11px;
        font-family: $PrimaryLight;
    }
    &__phone{
        color: $blue;
        font-family: $PrimarySemi;
        font-size: 12px;
    }
    &__back{
        margin-right: 10px;
        font-size: 8px;
    }
}