.item-pedido{
    padding: 20px;
    border-bottom: solid 1px #eaeaea;
    display: flex;
    &__cod{
        font-family: $PrimaryRegular;
        color: #8C8E8E;
        margin-top: 5px;
        font-size: 12px;
    }
    &__box-img{
        width: 70px;
        height: 70px;
        margin-right: 20px;
        @include desde(640px){
            margin-right: 0;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    &__box-detalle{
        display: grid;
        width: 100%;
        @include desde(640px){
            display: flex;
            margin-left: 20px;
            width: 100%;
        }
    }
    &__detalle{
        grid-row: -1;
        width: 100%;
        @include desde(640px){
            width: 70%;
        }
    }
    &__name{
        font-family: $PrimaryBold;
        font-size: 15px;
        color: #355669;
    }
    &__precio{
        font-size: 12px;
        color: #4a4a4a;
        margin-top: 10px;
        font-family: $PrimaryLight;
    }
    &__price{
        font-family: $PrimaryBold;
        font-size: 17px;
        color: #355669;
        &-old{
            color: #99A8B0;
            font-size: 14px;
            font-family: $PrimaryRegular;
            text-decoration: line-through;
            margin-bottom: 5px;
        }
    }
    &__box-cantidad{
        grid-row: 2;
        width: 100%;
        @include desde(640px){
            width: 20%;
        }
    }
    &__cantidad{
        font-size: 16px;
        font-family: $PrimarySemi;
        text-align: right;
        color: #355669;
    }
    &__box-total{
        // grid-row: 2;
        // grid-column: 2;
        // width: 100%;
        
        @include desde(640px){
            padding-left: 20px;
            width: 30%;
            display: flex;
            flex-direction: column;
            // justify-content:flex-end;
            align-items: flex-start;
        }
    }
    &__total{
        font-size: 13px;
        font-family: $PrimaryBold;
    }
    &__totales{
        padding: 20px;
        .tabla__totales-item{
            &.border{
                height: 1px;
                background-color: #EEEEEE;
                max-width: 400px;
                width: 100%;
                margin: 0 0 auto auto;
                margin-bottom: 15px;
            }
        }
        .tabla__totales-key{
            padding-right: 0;
            color: #355669;
            font-family: $PrimarySemi;
            font-size: 14px;
            &.total{
                font-family: $PrimaryBold;
            }
        }
        .tabla__totales-value{
            width: 20%;
            text-align: right;
            color: #355669;
            font-family: $PrimaryBold;
            font-size: 14px;
            &.total{
                font-size: 15px;
            }
        }
    }
    &-variation{
        margin-top: 20px;
        &__item{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3px;
            font-family: $PrimaryRegular;
            font-size: 12px;
            color: #355669;
            &-left{
                margin-right: 8px;
            }
        }
        &-color{
            width: 10px;
            height: 10px;
            position: relative;
            border-radius: 50%;
            &::after{
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: solid 1px #BFCFD3;
            }
        }
    }
    &__discount{
        position: relative;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        margin-top: 20px;
        &-text{
            position: relative;
            z-index: 2;
            font-family: $PrimaryRegular;
            color: #fff;
            font-size: 11px;
        }
        svg{
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            fill: #FF9E15;
        }
    }
}

.pedido-estados{
    // margin: 30px 0;
    // margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &-item{
        width: 50%;   
        display: flex;
        flex-direction: row;
        align-items: center; 
        padding: 7px 0;
        font-family: $PrimaryRegular;
        color: #99a8b0;
        font-size: 14px;
        &.active{
            color: #355669;
            .pedido-estados-circle{
                background: #355669;
            }
        }
    }
    &-circle{
        margin-right: 10px;

        background: #99a8b0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
}