.modal-new-add{
    position: fixed;
    width: 80%;
    // height: 100%;
    top: 5%;
    left:0;
    right: 0;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    z-index: 20;
    display: none;
    height: 80%;
    &.active{
        display: block;
        overflow-y: auto;
    }
    @include desde(s){
        max-width: 680px;
        height: auto;
        width: 100%;
        padding: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__header{
        display: flex;
        justify-content: center;
        padding: 20px 0;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    &__title{
        font-size: 16px;
        font-family: $PrimaryBold;
        color: #355669;
        @include desde(s){
            font-size: 20px;
        }
    }
    &__descripcion{
        text-align: center;
        width: 80%;
        line-height: 1.4;
        font-family: $PrimaryLight;
        @include desde(s){
            width: 70%;
        }
    }
    &__close{
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 20px;
        color: #939393;
        cursor: pointer;
        &:hover{
            color: $black;
            transition: all .15s ease-in-out;
        }
        @include desde(s){
            font-size: 25px;
        }
    }
    &__body{
        max-width: 490px;
        margin: auto;
        & * label{
            font-family: $PrimarySemi;
        }
        & * select{
            color: #939393;
            &:focus{
                border: 1px solid #ced4da;
            }
        }
    }
    &__footer{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .btn{
            padding: 15px 20px;
            @include desde(s){
                width: 240px;
                height: 50px;
                border-radius: 25px;
                font-size: 14px;
            }
        }
    }
}



.modal-link{
    position: fixed;
    width: 80%;
    // height: 100%;
    top: 5%;
    left:0;
    right: 0;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    z-index: 30;
    display: none;
    height: 80%;
    &.active{
        display: block;
        overflow-y: auto;
    }
    @include desde(s){
        max-width: 680px;
        height: auto;
        width: 100%;
        padding: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    &__title{
        font-size: 16px;
        font-family: $PrimaryBold;
        color: #355669;
        margin-bottom: 20px;
        @include desde(s){
            font-size: 32px;
        }
    }
    &__descripcion{
        text-align: center;
        width: 80%;
        line-height: 1.4;
        font-family: $PrimaryLight;
        font-size: 15px;
        color: #99A8B0;
        @include desde(s){
            width: 70%;
        }
    }
    &__close{
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 13px;
        color: #939393;
        cursor: pointer;
        &:hover{
            color: $black;
            transition: all .15s ease-in-out;
        }
        @include desde(s){
            font-size: 15px;
        }
    }
    &__body{
        // max-width: 490px;
        display: flex;
        flex-direction: row;
        input{
            width: 70%;
            margin-right: -20px;
            border: solid 1px #E2E8EA;
            border-radius: 30px 0 0 30px;
            padding: 0 30px;
            color: #99A8B0;
            font-size: 14px;
            font-family: $PrimaryRegular;
        }
    }
    &__footer{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .btn{
            padding: 15px 20px;
            @include desde(s){
                width: 240px;
                height: 50px;
                border-radius: 25px;
                font-size: 14px;
            }
        }
    }
}