.perfil-credito{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    border-bottom: solid 1px #f4f4f4;
    padding-bottom: 30px;
    @include desde(m){
        padding: 40px;
        &.normal{
            padding: 25px 40px;
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-size: 16px;
        font-family: $PrimaryBold;
        color: #355669;
        @include desde(s){
            font-size: 20px;
        }
        @include desde(m){
            font-size: 20px;
        }
    }
    &__credito{
        font-family: $PrimaryBold;
        font-size: 16px;
        @include desde(s){
            font-size: 18px;
        }
        @include desde(m){
            font-size: 20px;
        }
    }
    &__barra{
        margin: 20px 0;
        width: 100%;
        height: 10px;
        border-radius: 10px;
        background-color: #f4f4f4;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 50%;
            height: 10px;
            top: 0;
            left: 0;
            border-radius: 10px;
            background-color: $blue-acua;;
        }
    }
    &__monto{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    &__consumido{
        font-family: $PrimarySemi;
        font-size: 11px;
        @include desde(s){
            font-size: 14px;
        }
    }
    &__total{
        font-family: $PrimarySemi;
        font-family: 11px;
        @include desde(s){
            font-size: 14px;
        }
    }
}