.perfil-datos{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    &__header{
        border-bottom: solid 1px #f4f4f4;
        padding: 25px 20px;
    }
    &__title{
        font-family: $PrimaryBold;
        font-size: 18px;
        color: #355669;
        @include desde(m){
            font-size: 20px;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    &__item{
        padding: 15px 0;
        color: #99A8B0;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-family: $PrimaryBold;
        font-size: 15px;
        &:hover{
            color: #355669;
        }
        &.active{
            color: #355669;
        }
    }
    &__icono{
        margin-right: 10px;
    }
    &__footer{
        border-top: solid 1px #f4f4f4;
        padding: 20px 40px;
    }
}