.recibir-pedido{
    &__title{
        font-family: $PrimaryBold;
        text-align: center;
        font-size: 14px;
        @include desde(s){
            font-size: 18px;
        }
    }
    &__box{
        display: flex;
        align-items: flex-start;
        margin-top: 40px;
        flex-direction: column;
        @include desde(s){
            padding: 0 40px;
            flex-direction: row;
        }
    }
    &__left{
        @include desde(s){
            flex: 100px 0 0;
        }
    }
    &__right{
        flex: 100% 1 1;
    }
    &__mes{
        font-family: $PrimaryBold;
        font-size: 14px;
        margin-bottom: 7px;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    &-checked{
        cursor: pointer;
        width: 90px;
        padding: 7px 0;
        border: solid 1px #ccc;
        border-radius: 3px;
        margin-right: 7px;
        display: flex;
        justify-content: center;
        margin-bottom: 7px;
        
    }
    &__item{
        position: relative;

        input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            &:checked ~ .recibir-pedido-checked{
                background-color: #ff8300;
                border: solid 1px #ff8300;
                .recibir-pedido__dia{
                    color: white;
                }
            }
        }
        &.nodisponible{
            input{
                pointer-events: none;
            }
            .recibir-pedido-checked{
                border: solid 1px #f2f2f2;
                background-color: #f2f2f2;
                pointer-events: none;
            }
        }
        
    }
    &__dia{
        font-family: $PrimarySemi;
        font-size: 14px;
    }
}