.subtitle{
  color: #9B9B9B;
  font-family: $PrimaryBold;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 14px;
  text-align: center;
}
.title{
  color: #448AFF;
  font-family: $PrimaryBold;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}
.subtitle-and-title{
  padding-bottom: 30px;
}