.input-line{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    &__input{
        border: none;
        outline: none;
        border-bottom: solid 2px $black;
        width: 100%;
        position: relative;
        height:35px;
        background-color: transparent;
        line-height: 1.5;
        font-family: $PrimaryLight;
        font-size: 14px;
        padding-right: 8.5em;
        color: $black;
        padding-left: 10px;
        &::placeholder{
            color: $secondary;
            font-family: $PrimaryLight;
        }
    }
    &__label{
        display: flex;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        padding: 5px 10px;
        font-size: 14px;
        font-family: $PrimarySemi;
    }
}