.more-less{
    $width: 45px;
    $height: 40px;
    $color: #f2f2f2;
    display: flex;
    width: $width * 3;
    height: $height;
    border: solid 1px #eeeeee;
    overflow: hidden;
    & .less, & .more, & .quanty{
        width: $width;
        height: $height;
        display: flex;
        justify-content: center;
        align-items: center;
        & span{
            font-size: .8em;
            color: #909090;
        }
        & input {
            border: none;
            outline: none;
        }
    }
    & .less{
        border-right: solid 1px #f7f7f7; 
        cursor: pointer;
        background-color: #f7f7f7;
    }
    & .more{
        cursor: pointer;
        border-left: solid 1px #f7f7f7;
        background-color: #f7f7f7;
    }
}