.select-default{
    display: inline-block;
    width: 100%;
    &__content{
        display: flex;
        align-items: center;
        border: solid 1px $border-color;
        padding: .632rem 10px;
        position: relative;
    }
    &__select{
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
        height: 100%;
        appearance: none;
        padding-right: 20px;
    }
    &__icon{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: $black;
        z-index: -1;
    }
}