body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-family: $PrimaryRegular;
    background-color: #f1f8fb;
  }
  // Ancho máximo para los contenedores
  $max-width: 1200px;

  .bg-default{
    background: #f7f7fb;
    padding: 0 20px;
  }