// font family
$PrimaryLight: 'GothamLight';
$PrimaryRegular: 'GothamBook';
$PrimarySemi: 'GothamSemi';
$PrimaryBold: 'GothamBold';

$SecondaryLight: 'PoppinsLight';
$SecondaryRegular: 'PoppinsRegular';
$SecondarySemi: 'PoppinsSemi';
$SecondaryBold: 'PoppinsBold';



$font-family: $PrimaryRegular;
