@charset "UTF-8";


@font-face {
  font-family: 'GothamSemi';
  src: url('../fonts/GothamMedium/GothamRounded-Medium.eot');
  src: url('../fonts/GothamMedium/GothamRounded-Medium.woff2') format('woff2'),
       url('../fonts/GothamMedium/GothamRounded-Medium.woff') format('woff'),
       url('../fonts/GothamMedium/GothamRounded-Medium.ttf') format('truetype'),
       url('../fonts/GothamMedium/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg'),
       url('../fonts/GothamMedium/GothamRounded-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/GothamBook/GothamRounded-Book.eot');
  src: url('../fonts/GothamBook/GothamRounded-Book.woff2') format('woff2'),
       url('../fonts/GothamBook/GothamRounded-Book.woff') format('woff'),
       url('../fonts/GothamBook/GothamRounded-Book.ttf') format('truetype'),
       url('../fonts/GothamBook/GothamRounded-Book.svg#GothamRounded-Book') format('svg'),
       url('../fonts/GothamBook/GothamRounded-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/GothamBold/GothamRounded-Bold.eot');
  src: url('../fonts/GothamBold/GothamRounded-Bold.woff2') format('woff2'),
       url('../fonts/GothamBold/GothamRounded-Bold.woff') format('woff'),
       url('../fonts/GothamBold/GothamRounded-Bold.ttf') format('truetype'),
       url('../fonts/GothamBold/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg'),
       url('../fonts/GothamBold/GothamRounded-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'PoppinsBold';
  src: url('../fonts/PoppinsBold/Poppins-SemiBold.eot');
  src: url('../fonts/PoppinsBold/Poppins-SemiBold.woff2') format('woff2'),
       url('../fonts/PoppinsBold/Poppins-SemiBold.woff') format('woff'),
       url('../fonts/PoppinsBold/Poppins-SemiBold.ttf') format('truetype'),
       url('../fonts/PoppinsBold/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
       url('../fonts/PoppinsBold/Poppins-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('../fonts/PoppinsSemi/Poppins-Medium.eot');
  src: url('../fonts/PoppinsSemi/Poppins-Medium.woff2') format('woff2'),
       url('../fonts/PoppinsSemi/Poppins-Medium.woff') format('woff'),
       url('../fonts/PoppinsSemi/Poppins-Medium.ttf') format('truetype'),
       url('../fonts/PoppinsSemi/Poppins-Medium.svg#Poppins-Medium') format('svg'),
       url('../fonts/PoppinsSemi/Poppins-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

