$primary:   #494949;
$secondary: #909090;
$gray-sidebar: rgb(220, 220, 220);
$red-lighten: #E40000;
$gray-3: #9B9B9B;
$color-price: #D12543;
$red:               #cb213b;
$red-topitop:       #fd0102;
$red-heart:         #ca011a;
$blue-acua: #00b3e3;

$gray1: #f3f3f3;
$bg-outfit: #F2F2F2;
