@font-face {
  font-family: 'Poppins-Medium';
  src: url('Poppins-Medium.eot');
  src: url('Poppins-Medium.woff2') format('woff2'),
       url('Poppins-Medium.woff') format('woff'),
       url('Poppins-Medium.ttf') format('truetype'),
       url('Poppins-Medium.svg#Poppins-Medium') format('svg'),
       url('Poppins-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

