@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4tuqd0');
  src:  url('fonts/icomoon.eot?4tuqd0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4tuqd0') format('truetype'),
    url('fonts/icomoon.woff?4tuqd0') format('woff'),
    url('fonts/icomoon.svg?4tuqd0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-SVG-07:before {
  content: "\e900";
}
.icon-SVG-06:before {
  content: "\e901";
}
.icon-SVG-05:before {
  content: "\e902";
}
.icon-SVG-04:before {
  content: "\e903";
}
.icon-SVG-03:before {
  content: "\e904";
}
.icon-SVG-02:before {
  content: "\e905";
}
.icon-SVG-01:before {
  content: "\e906";
}
.icon-SVG-19:before {
  content: "\e907";
}
.icon-SVG-18:before {
  content: "\e908";
}
.icon-SVG-17:before {
  content: "\e909";
}
.icon-SVG-16:before {
  content: "\e90a";
}
.icon-SVG-15:before {
  content: "\e90b";
}
.icon-SVG-14:before {
  content: "\e90c";
}
.icon-SVG-13:before {
  content: "\e90d";
}
.icon-SVG-12:before {
  content: "\e90e";
}
.icon-SVG-11:before {
  content: "\e90f";
}
.icon-SVG-10:before {
  content: "\e910";
}
.icon-SVG-09:before {
  content: "\e911";
}
.icon-SVG-08:before {
  content: "\e912";
}
.icon-SVG-32:before {
  content: "\e913";
}
.icon-SVG-31:before {
  content: "\e914";
}
.icon-SVG-30:before {
  content: "\e915";
}
.icon-SVG-29:before {
  content: "\e916";
}
.icon-SVG-28:before {
  content: "\e917";
}
.icon-SVG-27:before {
  content: "\e918";
}
.icon-SVG-26:before {
  content: "\e919";
}
.icon-SVG-25:before {
  content: "\e91a";
}
.icon-SVG-24:before {
  content: "\e91b";
}
.icon-SVG-23:before {
  content: "\e91c";
}
.icon-SVG-22:before {
  content: "\e91d";
}
.icon-SVG-21:before {
  content: "\e91e";
}
.icon-SVG-20:before {
  content: "\e91f";
}
.icon-SVG-44:before {
  content: "\e920";
}
.icon-SVG-43:before {
  content: "\e921";
}
.icon-SVG-42:before {
  content: "\e922";
}
.icon-SVG-41:before {
  content: "\e923";
}
.icon-SVG-40:before {
  content: "\e924";
}
.icon-SVG-39:before {
  content: "\e925";
}
.icon-SVG-38:before {
  content: "\e926";
}
.icon-SVG-37:before {
  content: "\e927";
}
.icon-SVG-36:before {
  content: "\e928";
}
.icon-SVG-35:before {
  content: "\e929";
}
.icon-SVG-34:before {
  content: "\e92a";
}
.icon-SVG-33:before {
  content: "\e92b";
}
.icon-SVG-46:before {
  content: "\e92c";
}
.icon-SVG-45:before {
  content: "\e92d";
}
