.banner-home{
  position: relative;
  max-height: 475px;
  height: 100%;
  &-list{
    
  }
  &-item{
    img{
      width: 100%;
      height: auto;
      max-height: 457px;
    }
  }
  .tns-nav{
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 50px;
    margin: auto;
    // display: flex;
    justify-content: flex-end;
    z-index: 10;
    display: none;
    @include desde(s){
      display: flex;
    }
    button{
      height: 14px;
      width: 14px;
      display: block;
      border-radius: 50%;
      background: transparent;
      border: none;
      border: solid 1px white;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      outline: none;
      &:nth-last-child(1){
        margin: 0;
      }
      &:after{
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: white;
        opacity: 0;
      }
      &.tns-nav-active{
        &:after{
          opacity: 1;
        }
      }
    }
  }
}