.breacrumbs{
  &-link{
    color: #8c8e8e;
    font-family: $PrimaryRegular;
    font-size: 13px;
    margin-right: 5px;
    &:after{
      content: '\e927';
      font-family: "icomoon" !important;
      font-size: 10px;
      font-weight: bold;
      color: #000;
      margin-left: 5px;
    }
    &:last-child{
      color: #355669;
      &:after{
        content: none;
      }
    }
  }
}