.category{
  &-tab{
    max-width: 1200px;
    padding-bottom: 0px;
    @include desde(m){
      display: grid;
      padding: 0 20px;
      padding-bottom: 50px;
      margin: 0 auto;
      grid-template-columns: 130px calc(100% - 130px);
    }
    // &-content{
    //   display: none;
    //   &.active{
    //     display: block;
    //   }
    // }
    &-content{
      padding: 0 37px;
      padding-bottom: 40px;
      display: none;
      grid-gap: 20px;
      justify-content: center;
      // overflow: hidden;
      opacity: 0;
      .product-card{
        max-width: 290px;
      }
      @include desde(500px){
        grid-template-columns: repeat(2, 1fr);
      }
      @include desde(780px){
        grid-template-columns: repeat(3, 1fr);
      }
      @include desde(m){
        grid-row: 2;
        grid-column: 2;
        grid-gap: 30px;
        padding-bottom: 0;
        margin-left: 75px;
        padding: 0;
      }
      &.active{
        display: grid;
      }
    }
    &-title{
      padding: 35px 0 25px 0;
      font-family: $PrimaryBold;
      font-size: 18px;
      color: #355669;
      text-align: center;
      max-width: 200px;
      margin: 0 auto;
      @include desde(m){
        grid-row: 1;
        text-align: left;
        font-size: 30px;
        max-width: 100%;
        width: 100%;
        grid-column: 1 / span 2;
        padding: 58px 0 38px 0;
      }
    }
    &-links{
      display: grid;
      grid-template-columns: repeat(6, minMax(10px, 200px));
      font-family: $SecondarySemi;
      &-img{
        pointer-events: none;
      }
      @include desde(m){
        display: flex;
        flex-direction: column;
        width: 130px;
        grid-row: 2;
        grid-column: 1;
        align-self: flex-start;
        box-shadow: 0px 3px 10px 0px #c1d1d5;
      }
      &-item{
        background-color: #FF9E15;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 100%;
          height: auto;
          pointer-events: none;
        }
        svg{
          width: 100%;
          height: auto;
          fill: #fff;
          max-width: 36px;
          pointer-events: none;
        }
        p{
          display: none;
          pointer-events: none;
        }
        @include desde(m){
          height: 120px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          svg{
            fill: #99A8B0;
          }
          p{
            display: block;
            color: #99A8B0;
            font-family: $SecondarySemi;
            font-size: 13px;
            margin: 0;
            margin-top: 10px;
            text-align: center;
          }
          &.active, &:hover{
            background-color: #FFBF3B;
            p{
              color: #fff;
            }
            svg{
              fill: #fff;
            }

          }
        }
        &.active{
          background-color: #FFBF3B;
        }
      }
    }
  }
}
