a{
  color: #263645;
}
.checkout3_resumen {

  display: box;
  display: flex;
  
  flex-direction: row;
  
  flex-wrap: wrap;
  
  justify-content: space-between;
  
  align-items: flex-start;
  padding: 0 0 78px 0;
}
@media screen and (max-width: 1024px) {
  .checkout3_resumen {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .checkout3_resumen {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 40px;
  }
}
.checkout3_barra {
  width: 320px;
}
@media screen and (max-width: 960px) {
  .checkout3_barra {
    width: 290px;
  }
}
@media screen and (max-width: 767px) {
  .checkout3_barra {
    width: 100%;
    margin-bottom: 40px;
  }
}
.checkout3_barra_box {
  width: 100%;
  min-height: 203px;
  border: 1px solid #E2EFF2;
  background: #FFF;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 36px 50px 32px 30px;
  margin-bottom: 30px;
}
.checkout3_barra_box:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .checkout3_barra_box {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 960px) {
  .checkout3_barra_box {
    padding-left: 15px;
  }
}
@media screen and (max-width: 480px) {
  .checkout3_barra_box {
    min-height: inherit;
    padding: 20px 50px 20px 15px;
  }
}
.checkout3_barra_icon {
  display: block;
  width: 20px;
  position: absolute;
  top: 36px;
  right: 25px;
  span{
    color: #99A8B0;
  }
}
.checkout3_barra_icon img {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 960px) {
  .checkout3_barra_icon {
    right: 15px;
  }
}
@media screen and (max-width: 480px) {
  .checkout3_barra_icon {
    top: 20px;
  }
}
.checkout3_barra_info {
  max-width: 223px;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .checkout3_barra_info {
    max-width: none;
  }
}
.checkout3_barra_title {
  margin-bottom: 19px;
  color: #355669;
}
.checkout3_barra_subtitle {
  margin-bottom: 11px;
  color: #355669;
}
.checkout3_barra_subtitle h3 {
  line-height: 1.25;
  color: #355669;
  font-family: $PrimarySemi;
  font-size: 17px;
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .checkout3_barra_subtitle h3 {
    font-size: 15px;
  }
}
.checkout3_barra_text {
  line-height: 1.4;
  color: #263645;
  font-family: $PrimaryRegular;
  font-size: 13px;
}
.checkout3_barra_text p {
  margin-bottom: 8px;
  color: #355669;
}
.checkout3_barra_text p:last-child {
  margin-bottom: 0;
}
.checkout3_barra_images {

  display: box;
  display: flex;
  
  flex-direction: row;
  
  flex-wrap: wrap;
}
.checkout3_barra_img {
  width: 54px;
  margin: 9px 0 5px 0;
}
.checkout3_barra_img img {
  width: 100%;
  height: auto;
  display: block;
}
.checkout3_products {
  width: calc(100% - 348px);
  border: 1px solid #E2EFF2;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 36px 39px 0 44px;
  background: #FFF;
}
@media screen and (max-width: 960px) {
  .checkout3_products {
    width: calc(100% - 310px);
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .checkout3_products {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .checkout3_products {
    padding-top: 20px;
  }
}
.checkout3_products_title {

  display: box;
  display: flex;
  
  flex-direction: row;
  
  flex-wrap: wrap;
  
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 34px;
}
@media screen and (max-width: 480px) {
  .checkout3_products_title {
    padding-bottom: 20px;
    margin-bottom: 0;
  }
}
.checkout3_products_icon {
  display: block;
  width: 20px;
  margin: 0;
  span{
    color: #99A8B0;
  }
}
.checkout3_products_icon img {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 480px) {
  .checkout3_products_icon {
    display: none;
  }
}
.checkout3_products_head {
  line-height: 1;
  color: #263645;
  font-family: $PrimaryRegular;
  font-size: 11px;
  border-bottom: 1px solid rgba($color: #d4e6e8, $alpha: .8);
  padding-bottom: 15px;
}
.checkout3_products_head ul {

  display: box;
  display: flex;
  
  flex-direction: row;
  
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.checkout3_products_head li:nth-child(1) {
  width: 54.145516074450086%;
}
.checkout3_products_head li:nth-child(2) {
  width: calc(45.854483925549914% - 83px);
}
.checkout3_products_head li:nth-child(3) {
  width: 83px;
}
@media screen and (max-width: 480px) {
  .checkout3_products_head {
    display: none;
  }
}
.checkout3_products_content {
  border-bottom: 1px solid rgba($color: #d4e6e8, $alpha: .8);
  padding: 25px 0 84px 0;
}
@media screen and (max-width: 1024px) {
  .checkout3_products_content {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .checkout3_products_content {
    border-top: 1px solid rgba($color: #d4e6e8, $alpha: .8);
    padding: 0;
  }
}
.checkout3_products_itembox {

  display: box;
  display: flex;
  
  flex-direction: row;
  
  flex-wrap: wrap;
  margin-bottom: 41px;
}
.checkout3_products_itembox:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .checkout3_products_itembox {
    border-bottom: 1px solid rgba($color: #d4e6e8, $alpha: .8);
    padding: 15px 0;
    margin-bottom: 0;
  }
  .checkout3_products_itembox:last-child {
    border-bottom: none;
  }
}
.checkout3_products_left {
  width: 18.781725888324875%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
}
@media screen and (max-width: 480px) {
  .checkout3_products_left {
    width: 82px;
  }
}
.checkout3_products_right {

  display: box;
  display: flex;
  
  flex-direction: row;
  
  flex-wrap: wrap;
  width: 81.21827411167513%;
}
@media screen and (max-width: 480px) {
  .checkout3_products_right {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 82px);
  }
}
.checkout3_products_column-1 {
  width: 43.541666666666664%;
}
@media screen and (max-width: 480px) {
  .checkout3_products_column-1 {
    width: auto;
    margin-bottom: 10px;
  }
}
.checkout3_products_column-2 {
  width: calc(56.458333333333336% - 83px);
}
@media screen and (max-width: 480px) {
  .checkout3_products_column-2 {
    width: auto;
    margin-bottom: 10px;
  }
}
.checkout3_products_column-3 {
  width: 83px;
}
@media screen and (max-width: 480px) {
  .checkout3_products_column-3 {
    width: auto;
  }
}
.checkout3_products_img {
  width: 72px;
  margin: 0;
}
.checkout3_products_img img {
  width: 100%;
  height: auto;
  display: block;
}
.checkout3_products_description {
  line-height: 1.4;
  color: #263645;
  font-family: $PrimaryRegular;
  font-size: 15px;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .checkout3_products_description br {
    display: none;
  }
}
.checkout3_products_cantidad {
  display: block;
  color: #7a7a87;
  line-height: 1;
  font-family: $PrimarySemi;
  font-size: 13px;
  margin: 0;
}
.checkout3_products_price {
  display: block;
  line-height: 1;
  color: #263645;
  font-family: $PrimarySemi;
  font-size: 15px;
  margin: 0;
}
.checkout3_prices {
  padding: 34px 0 36px 0;
}
@media screen and (max-width: 480px) {
  .checkout3_prices {
    padding-bottom: 20px;
  }
}
.checkout3_prices_box {
  line-height: 1.2;
  color: #263645;
  font-family: $PrimaryRegular;
  font-size: 13px;
  margin-bottom: 21px;
  text-align: right;
}
.checkout3_prices_box ul {

  display: box;
  display: flex;
  
  flex-direction: row;
  
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.checkout3_prices_box strong {
  font-family: $PrimaryBold;
  font-weight: normal;
}
.checkout3_prices_box li:nth-child(1) {
  width: calc(100% - 83px);
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 19.5%;
}
.checkout3_prices_box li:nth-child(2) {
  width: 83px;
  font-size: 15px;
}
.checkout3_prices_box li:nth-child(2) strong {
  font-family: $PrimarySemi;
}
.checkout3_prices_box:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  .checkout3_prices_box li:nth-child(1) {
    padding-right: 15%;
  }
}
@media screen and (max-width: 480px) {
  .checkout3_prices_box {
    line-height: 1.4;
  }
  .checkout3_prices_box li:nth-child(1) {
    text-align: left;
    padding-right: 0;
  }
  .checkout3_prices_box li:nth-child(2) {
    text-align: right;
  }
  .checkout3_prices_box:last-child {
    border-top: 1px solid rgba($color: #d4e6e8, $alpha: .8);
    padding-top: 30px;
  }
}
.checkout3_barra_title h2, .checkout3_products_title h2{
  font-size: 18px;
}

.checkout3_barra_brand{
  max-width: 100px;
}