.checkout2_pay {
  padding: 0 0 83px 0;
  border-bottom: 1px solid #E0E0E0;
}
@media screen and (max-width: 1024px) {
  .checkout2_pay {
    padding: 0 0 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .checkout2_pay {
    padding: 0 0 40px 0;
  }
}
.checkout2_pay_campos {
  margin-top: 41px;
  display: grid;
  @include desde(768px){
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}
.checkout2_pay_itembox {
  width: 100%;
  // height: 67px;
  position: relative;
  margin-bottom: 25px;
  background: #fff;

}
.checkout2_pay_itembox input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  // visibility: hidden;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 0;
  left: 0;
}
.checkout2_pay_itembox input[type="radio"]:checked + .checkout2_pay_info {
  border: 2px solid #62D0DF;
}
.checkout2_pay_itembox input[type="radio"]:checked + .checkout2_pay_info .checkout2_pay_icon {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.checkout2_pay_itembox input[type="radio"]:checked + .checkout2_pay_info .checkout2_pay_text {
  color: #000;
}
.checkout2_pay_itembox:last-child {
  // margin-bottom: 0;
}
@media screen and (max-width: 740px) {
  .checkout2_pay_itembox {
    height: auto;
  }
}

.checkout2_pay_brand{
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .checkout2_pay_brand {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 560px) {
  .checkout2_pay_brand {
    margin-bottom: 30px;
  }
}
.checkout2_pay_info {
  display: box;
  display: flex;
  
  flex-direction: column;
  
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 30px;
}
@media screen and (max-width: 960px) {
  .checkout2_pay_info {
    // padding: 0 20px;
  }
}
@media screen and (max-width: 740px) {
  .checkout2_pay_info {
    // padding: 15px 15px;
  }
}
.checkout2_pay_icon {
  display: box;
  display: flex;
  
  flex-direction: column;
  
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 23px;
  height: 23px;
  background: #62D0DF;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: -11.5px;
  right: -11.5px;
  margin: 0;
  font-size: 10px;
  color: #fff;
}
.checkout2_pay_icon img {
  display: block;
  width: 13px;
  height: auto;
  margin: 0;
}
.checkout2_wrap {
  display: box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 320px) {
  .checkout2_wrap {
    flex-direction: column;
    justify-content: inherit;
    flex-wrap: inherit;
    align-items: inherit;
  }
}
@media screen and (max-width: 767px) {
  .checkout2_wrap {
    justify-content: space-between;
  }
}
@media screen and (max-width: 560px) {
  .checkout2_wrap {
    justify-content: center;
  }
}
.checkout2_pay_text {
  line-height: 1.1;
  color: #7a7a87;
  font-family: 'Metropolis-SemiBold', sans-serif;
  font-size: 16px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.checkout2_pay_text p {
  margin: 0;
}
@media screen and (max-width: 960px) {
  .checkout2_pay_text {
    font-size: 14px;
  }
}
@media screen and (max-width: 740px) {
  .checkout2_pay_text {
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5px;
  }
}
.checkout2_pay_logos p{
  text-align: center;
  font-family: $PrimaryRegular;
  font-size: 14px;
  color: #355669;
}
.checkout2_pay_logos ul {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}
.checkout2_pay_logos li {
  margin: 0 0 0 0px;
  margin-right: 10px;
  width: 53px;
}
.checkout2_pay_logos li:first-child {
  margin-left: 0;
}
@media screen and (max-width: 960px) {
  .checkout2_pay_logos li {
    // margin-left: 20px;
  }
}
@media screen and (max-width: 740px) {
  .checkout2_pay_logos ul {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .checkout2_pay_logos li {
    // margin: 10px 10px 0 10px;
  }
  .checkout2_pay_logos li:first-child {
    // margin-left: 10px;
  }
}
.checkout2_pay_img {
  width: 53px;
  margin: 0;
}
.checkout2_pay_img img {
  width: 100%;
  height: auto;
  display: block;
}
.checkout2_voucher {
  padding: 32px 0 81px 0;
}
@media screen and (max-width: 1024px) {
  .checkout2_voucher {
    padding: 50px 0 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .checkout2_voucher {
    padding: 40px 0 50px 0;
  }
}
.checkout2_voucher_head {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 69px 0 0 0;
}
@media screen and (max-width: 1024px) {
  .checkout2_voucher_head {
    margin-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .checkout2_voucher_head {
    margin-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  .checkout2_voucher_head {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.checkout2_voucher_itembox {
  width: 49.0234375%;
  height: 100px;
  position: relative;
}
.checkout2_voucher_itembox input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  // visibility: hidden;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.checkout2_voucher_itembox input[type="radio"]:checked + .checkout2_voucher_info {
  border: 2px solid #62D0DF;
}
.checkout2_voucher_itembox input[type="radio"]:checked + .checkout2_voucher_info .checkout2_voucher_icon {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.checkout2_voucher_itembox input[type="radio"]:checked + .checkout2_voucher_info .checkout2_voucher_img-normal {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute;
}
.checkout2_voucher_itembox input[type="radio"]:checked + .checkout2_voucher_info .checkout2_voucher_img-activo {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  position: relative;
}
.checkout2_voucher_itembox input[type="radio"]:checked + .checkout2_voucher_info .checkout2_voucher_text {
  color: #355669;
}
@media screen and (max-width: 480px) {
  .checkout2_voucher_itembox {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  .checkout2_voucher_itembox:last-child {
    margin-bottom: 0;
  }
}
.checkout2_voucher_info {
  display: box;
  display: flex;
  
  flex-direction: column;
  background: #fff;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
}
@media screen and (max-width: 480px) {
  .checkout2_voucher_info {
    padding: 15px;
  }
}
.checkout2_voucher_icon {
  display: box;
  display: flex;
  
  flex-direction: column;
  
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 23px;
  height: 23px;
  background: #62D0DF;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: -11.5px;
  right: -11.5px;
  margin: 0;
  font-size: 10px;
  color: #fff;
}
.checkout2_voucher_icon img {
  display: block;
  width: 13px;
  height: auto;
  margin: 0;
}
.checkout2_voucher_wrap {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.checkout2_voucher_images {
  // width: 36px;
  position: relative;
  font-size: 30px;
  color: #355669;
}
.checkout2_voucher_img {
  width: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  top: 0;
  left: 0;
}
.checkout2_voucher_img img {
  width: 100%;
  height: auto;
  display: block;
}
.checkout2_voucher_img-normal {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  position: relative;
}
.checkout2_voucher_img-activo {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute;
}
.checkout2_voucher_text {
  display: block;
  line-height: 1;
  font-family: $PrimaryBold;
  font-size: 16px;
  padding-left: 13px;
  margin: 0;
  color: #355669;
}
@media screen and (max-width: 960px) {
  .checkout2_voucher_text {
    font-size: 14px;
  }
}
.checkout2_voucher_campos {
  display: none;
  padding: 49px 0 0 0;
}
.checkout2_voucher_campos ul {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.checkout2_voucher_campos li {
  width: 48.828125%;
  margin-top: 30px;
}
.checkout2_voucher_campos li:nth-child(-n+2) {
  margin-top: 0;
}
.checkout2_voucher_campos li.checkout2_voucher-full {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .checkout2_voucher_campos li {
    width: 100%;
  }
  .checkout2_voucher_campos li:nth-child(-n+2) {
    margin-top: 30px;
  }
  .checkout2_voucher_campos li:nth-child(-n+1) {
    margin-top: 0;
  }
}
