.checkout-header {
  width: 100%;
  height: 70px;
}
.checkout-header_main {
  width: 100%;
  height: 70px;
  // overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: auto;
}
.checkout-header_content {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 1240px;
  width: 100%;
  height: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .checkout-header_content {
    padding: 0 15px;
  }
}
.checkout-header_box {

  display: box;
  display: flex;

  flex-direction: column;

  justify-content: center;
  height: 100%;
  margin: 0;
}
.checkout-header_box:nth-child(1) {

  align-items: flex-start;
  // background: #000;
  width: 192px;
  position: relative;
}
.checkout-header_box:nth-child(1):before {
  content: "";
  display: block;
  width: 1000px;
  height: 100%;
  // background: #000;
  position: absolute;
  top: 0;
  left: -1000px;
}
@media screen and (max-width: 960px) {
  .checkout-header_box:nth-child(1) {
    width: 192px;
  }
}
@media screen and (max-width: 480px) {
  .checkout-header_box:nth-child(1) {
    width: 120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px;
  }
}
.checkout-header_box:nth-child(2) {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: calc(100% - 384px);
}
@media screen and (max-width: 960px) {
  .checkout-header_box:nth-child(2) {
    display: none;
  }
}
.checkout-header_box:nth-child(3) {
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  width: 192px;
}
@media screen and (max-width: 960px) {
  .checkout-header_box:nth-child(3) {
    width: calc(100% - 192px);
  }
}
@media screen and (max-width: 480px) {
  .checkout-header_box:nth-child(3) {
    width: calc(100% - 120px);
  }
}
.checkout-header_logo {
  max-width: 137px;
  width: 100%;
  margin: 0;
  margin-top: 20px;
}
.checkout-header_logo img {
  display: block;
  width: 100%;
  height: auto;
}
.checkout-header_title {
  display: block;
  color: #355669;
  font-family: $PrimaryBold;
  font-size: 14px;
  text-align: center;
}
.checkout-header_button {
  display: block;
  line-height: 1;
  color: #7a7a87;
  font-family: $PrimarySemi;
  font-size: 13px;
  margin: 0;
}
.checkout-header_button_icon {
  display: inline-block;
  vertical-align: middle;
  color: #7a7a87;
  font-size: 10px;
  margin: -2px 8px 0 0;
}
