.page_checkout header,
.page_checkout footer {
  display: none;
}
.checkout_content {
  max-width: 1064px;
}
.checkout_title {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 25px;
  margin-bottom: 27px;
}
.checkout_title h1,
.checkout_title h2,
.checkout_title h3 {
  line-height: 1;
  color: #355669;
  font-family: $PrimaryBold;
  font-weight: normal;
  font-size: 30px;
  margin: 0;
}
.title_g_semibold{
  color: #355669;
  h2{
    
    font-family: $PrimarySemi;
    font-size: 25px;
  }

}
.checkout_title.center {
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .checkout_title h1,
  .checkout_title h2,
  .checkout_title h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  .checkout_title h1,
  .checkout_title h2,
  .checkout_title h3 {
    font-size: 22px;
  }
}
.checkout-campo_text {
  display: inline-block;
  line-height: 1;
  color: #355669;
  font-family: $PrimarySemi;
  font-size: 13px;
  margin-bottom: 6px;
}
.checkout-campo_text span {
  color: red;
}
.checkout-campo_input {
  width: 100%;
  height: 45px;
  background: #fff;
  border: 1px solid #D8E4E6;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.icono{
    position: relative;
    img{
      position: absolute;
      top: 0;
      right: 20px;
      margin: auto;
      bottom: 0;
    }
  }
}
.checkout-campo_input input {
  width: 100%;
  height: 100%;
  background: none;
  color: #7a7a87;
  font-family: $PrimaryRegular;
  font-size: 14px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 17px;
}
.checkout-campo_input input[type="number"] {
  -moz-appearance: textfield;
}
.checkout-campo_input input[type="number"]::-webkit-inner-spin-button,
.checkout-campo_input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.checkout-campo_select {
  width: 100%;
  height: 45px;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.checkout-campo_select select {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0);
  color: #7a7a87;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 14px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 40px 0 17px;
}
.checkout-campo_select select::-ms-expand {
  display: none;
}
.checkout-campo_icon {
  display: block;
  width: 22px;
  height: 45px;
  line-height: 45px;
  color: #7a7a87;
  font-size: 8px;
  text-align: center;
  position: absolute;
  right: 14px;
  bottom: 0;
}
.checkout-campo_double {
  display: box;
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
  background: #fff;
  border: 1px solid #D8E4E6;
  border-radius: 30px;
  overflow: hidden;
  input{
    border: none;
  }
  .checkout-campo_select, .checkout-campo_input {
    border: none;
  }
  .checkout-campo_select{
    border-right: solid 1px #D8E4E6 !important;
  }
}
.checkout-campo_double .checkout-campo_select {
  width: 90px;
  border-radius: 2px 0 0 2px;
  border-right: none;
}
.checkout-campo_double .checkout-campo_input {
  width: calc(100% - 90px);
  border-radius: 0 2px 2px 0;
}
.checkout_campos_obligatorios {
  line-height: 1;
  color: #000;
  font-family: 'Metropolis-Regular', sans-serif;
  font-size: 12px;
}
.checkout_campos_obligatorios strong {
  color: #70d44b;
  font-weight: normal;
}
.checkout_campos_obligatorios p {
  margin: 0;
}
