.checkout-pasos {
  padding: 55px 20px 78px 20px;
}
@media screen and (max-width: 1024px) {
  .checkout-pasos {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 767px) {
  .checkout-pasos {
    padding: 40px 15px;
  }
}
.checkout-pasos_content {
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}
.checkout-pasos_itembox {
  width: 33.333333333333336%;
  position: relative;
}
.checkout-pasos_itembox:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #BFCFD3;
  position: absolute;
  top: 25.5px;
  left: -50%;
}
.checkout-pasos_itembox:first-child:before {
  display: none;
}
.checkout-pasos_itembox.active:before {
  background: #62D0DF;
}
.checkout-pasos_itembox .checkout-pasos_icon span {
  color: #fff;
  font-size: 25px;
}
.checkout-pasos_itembox.active .checkout-pasos_icon {
  background: #62D0DF;
}
.checkout-pasos_itembox.active .checkout-pasos_text {
  color: #62D0DF;
}
@media screen and (max-width: 767px) {
  .checkout-pasos_itembox:before {
    top: 20.5px;
  }
}
.checkout-pasos_icon {
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: #BFCFD3;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  margin: 0 auto 18px auto;
}
.checkout-pasos_icon img {
  display: block;
  width: 28px;
  height: auto;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .checkout-pasos_icon {
    width: 45px;
    height: 45px;
  }
  .checkout-pasos_icon img {
    width: 25px;
  }
}
.checkout-pasos_text {
  display: block;
  line-height: 1;
  color: #BFCFD3;
  font-family: $PrimarySemi;
  font-size: 13px;
  text-align: center;
}
