.checkout-footer {
  width: 100%;
  height: 90px;
}
@media screen and (max-width: 1000px) {
  .checkout-footer {
    height: auto;
  }
}
.checkout-footer_main {
  width: 100%;
  height: 90px;
  background: #62D0DF;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .checkout-footer_main {
    position: relative;
  }
}
@media screen and (max-width: 1000px) {
  .checkout-footer_main {
    height: auto;
  }
}
.checkout-footer_content {

  display: box;
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.checkout-footer_column {
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .checkout-footer_column {
    height: auto;
  }
}
.checkout-footer_column-left {
  width: 300px;
  border-right: 1px solid #57DDEB;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1460px) {
  .checkout-footer_column-left {
    width: 200px;
  }
}
@media screen and (max-width: 1000px) {
  .checkout-footer_column-left {
    width: 150px;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .checkout-footer_column-left {
    display: none;
  }
}
.checkout-footer_column-right {

  display: box;
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
  width: calc(100% - 300px);
}
@media screen and (max-width: 1460px) {
  .checkout-footer_column-right {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 1000px) {
  .checkout-footer_column-right {
    width: calc(100% - 150px);
  }
}
@media screen and (max-width: 767px) {
  .checkout-footer_column-right {
    width: 100%;
  }
}
.checkout-footer_orden {

  display: box;
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.checkout-footer_orden_icon {
  display: block;
  line-height: 1;
  color: #fff;
  font-size: 30px;
  margin: 0 34px 0 0;
}
@media screen and (max-width: 1460px) {
  .checkout-footer_orden_icon {
    font-size: 22px;
    margin: 0 15px 0 0;
  }
}
.checkout-footer_orden_text {
  display: block;
  line-height: 1;
  color: #fff;
  font-family: $PrimarySemi;
  font-size: 19px;
  margin: 0;
}
@media screen and (max-width: 1460px) {
  .checkout-footer_orden_text {
    font-size: 17px;
  }
}
.checkout-footer_block {

  display: box;
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: calc(100% - 300px);
  height: 100%;
}
@media screen and (max-width: 1460px) {
  .checkout-footer_block {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 1000px) {
  .checkout-footer_block {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 150px);
    height: auto;
  }
}
.checkout-footer_button {

  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 300px;
  height: 100%;
  line-height: 1;
  background: #59BED2;
  color: #fff;
  font-family: $PrimaryBold;
  font-size: 17px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 0;
}
@media screen and (max-width: 1460px) {
  .checkout-footer_button {
    width: 200px;
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .checkout-footer_button {
    width: 150px;
  }
}
.checkout-footer_block-left {

  display: box;
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: calc(100% - 169px);
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 4.5% 0 4.5%;
}
@media screen and (max-width: 1460px) {
  .checkout-footer_block-left {
    width: calc(100% - 120px);
    padding: 0 20px;
  }
}
@media screen and (max-width: 1000px) {
  .checkout-footer_block-left {
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
  }
}
@media screen and (max-width: 767px) {
  .checkout-footer_block-left {
    display: none;
  }
}
.checkout-footer_block-right {

  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 169px;
  height: 100%;
}
@media screen and (max-width: 1460px) {
  .checkout-footer_block-right {
    width: 120px;
  }
}
@media screen and (max-width: 1000px) {
  .checkout-footer_block-right {
    width: 100%;
    height: auto;
    text-align: center;
    border-top: 1px solid #d4d4d4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px;
  }
}
@media screen and (max-width: 767px) {
  .checkout-footer_block-right {
    border-top: none;
    padding: 15px 20px;
  }
}
.checkout-footer_itembox:nth-child(1) {
  width: 160px;
}
@media screen and (max-width: 1460px) {
  .checkout-footer_itembox:nth-child(1) {
    width: 120px;
  }
}
@media screen and (max-width: 1000px) {
  .checkout-footer_itembox:nth-child(1) {
    width: 33.333333333333336%;
  }
}
.checkout-footer_itembox:nth-child(2) {
  width: 204px;
}
@media screen and (max-width: 1460px) {
  .checkout-footer_itembox:nth-child(2) {
    width: 180px;
  }
}
@media screen and (max-width: 1000px) {
  .checkout-footer_itembox:nth-child(2) {
    width: 33.333333333333336%;
  }
}
.checkout-footer_itembox:nth-child(3) {
  width: 160px;
}
@media screen and (max-width: 1460px) {
  .checkout-footer_itembox:nth-child(3) {
    width: 120px;
  }
}
@media screen and (max-width: 1000px) {
  .checkout-footer_itembox:nth-child(3) {
    width: 33.333333333333336%;
  }
}
@media screen and (max-width: 1000px) {
  .checkout-footer_price {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .checkout-footer_price {
    text-align: left;
  }
}
.checkout-footer_boxtext-1 {
  display: block;
  line-height: 1;
  color: #fff;
  font-family: $PrimaryRegular;
  font-size: 11px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.checkout-footer_boxtext-2 {
  display: block;
  line-height: 1;
  color: #fff;
  font-family: $PrimarySemi;
  font-size: 21px;
}
@media screen and (max-width: 1460px) {
  .checkout-footer_boxtext-2 {
    font-size: 18px;
  }
}
