.checkout1_form {
  border-bottom: 1px solid #f4f4f4;
  padding: 0 0 51px 0;
}
@media screen and (max-width: 1024px) {
  .checkout1_form {
    padding: 0 0 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .checkout1_form {
    padding: 0 0 40px 0;
  }
}
.checkout1_campos {
  margin: 35px 0 18px 0;
}
.checkout1_campos ul {

  display: box;
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
}
.checkout1_campos li {
  width: 31.25%;
  margin: 29px 3.125% 0 0;
}
.checkout1_campos li:nth-child(3n+3) {
  margin-right: 0;
}
.checkout1_campos li:nth-child(-n+3) {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .checkout1_campos li {
    width: 100%;
    margin-right: 0;
  }
  .checkout1_campos li:nth-child(-n+3) {
    margin-top: 29px;
  }
  .checkout1_campos li:nth-child(-n+1) {
    margin-top: 0;
  }
}
.checkout1_address {
  border-bottom: 1px solid #f4f4f4;
  padding: 29px 0 55px 0;
}
@media screen and (max-width: 1024px) {
  .checkout1_address {
    padding: 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .checkout1_address {
    padding: 40px 0;
  }
}
.checkout1_addresses {

  display: box;
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
  margin-top: 28px;
}
.checkout1_address_box {
  width: 31.25%;
  min-height: 150px;
  
  box-sizing: border-box;
  margin: 29px 3.125% 0 0;
}
.checkout1_address_box:nth-child(3n+3) {
  margin-right: 0;
}
.checkout1_address_box:nth-child(-n+3) {
  margin-top: 0;
}
@media screen and (max-width: 960px) {
  .checkout1_address_box {
    width: 32%;
    margin-right: 2%;
  }
}
@media screen and (max-width: 767px) {
  .checkout1_address_box {
    width: 49%;
    margin-top: 20px;
  }
  .checkout1_address_box:nth-child(3n+3) {
    margin-right: 2%;
  }
  .checkout1_address_box:nth-child(2n+2) {
    margin-right: 0;
  }
  .checkout1_address_box:nth-child(-n+3) {
    margin-top: 20px;
  }
  .checkout1_address_box:nth-child(-n+2) {
    margin-top: 0;
  }
}
@media screen and (max-width: 540px) {
  .checkout1_address_box {
    width: 100%;
    margin-right: 0;
  }
  .checkout1_address_box:nth-child(3n+3) {
    margin-right: 0;
  }
  .checkout1_address_box:nth-child(-n+2) {
    margin-top: 20px;
  }
  .checkout1_address_box:nth-child(-n+1) {
    margin-top: 0;
  }
}
.checkout1_address_itembox {
  position: relative;
  background: #fff;
  cursor: pointer;
}
.checkout1_address_itembox label {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #E2EFF2;
  border-radius: 2px;
  cursor: pointer;
 
  transition: all 0.25s ease-in-out;
  position: relative;
  
  box-sizing: border-box;
  padding: 30px 45px 30px 45px;
}
.checkout1_address_itembox input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  
  
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.checkout1_address_itembox input[type="radio"]:checked + label {
  border: 2px solid #62D0DF;
}
.checkout1_address_itembox input[type="radio"]:checked + label .checkout1_address_icon {
  opacity: 1;
  
  filter: none;
  visibility: visible;
}
@media screen and (max-width: 1024px) {
  .checkout1_address_itembox label {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 960px) {
  .checkout1_address_itembox label {
    padding: 30px 15px;
  }
}
.checkout1_address_icon {

  display: box;
  display: flex;
  
  flex-direction: column;

  justify-content: center;

  align-items: center;
  width: 23px;
  height: 23px;
  background: #62D0DF;
  border-radius: 50%;
  opacity: 0;
  
  
  visibility: hidden;
 
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: -11.5px;
  right: -11.5px;
  margin: 0;
}
.checkout1_address_icon span {
  color: #fff;
  font-size: 10px;
}
.checkout1_address_texts {
  line-height: 1.2;
  color: #355669;
  font-family: $PrimaryRegular;
  font-size: 13px;
}
.checkout1_address_texts a{
  color: #355669;
}
.checkout1_address_texts h3 {
  line-height: 1.1;
  color: #355669;
  font-family: $PrimarySemi;
  font-size: 17px;
  margin-bottom: 13px;
}
.checkout1_address_texts p {
  margin-bottom: 10px;
}
.checkout1_address_texts p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  .checkout1_address_texts h3 {
    font-size: 16px;
  }
}
.checkout1_address_add {

  display: box;
  display: flex;
  
  flex-direction: column;

  justify-content: center;
  min-height: 150px;
  border: 1px dashed #E0E0E0;
  border-radius: 2px;
  cursor: pointer;
  background: #fff;
}
.checkout1_address_add-icon {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto 11px auto;
}
.checkout1_address_add-icon img {
  display: block;
  width: 100%;
  height: auto;
}
.checkout1-address_add-text {
  display: block;
  color: #355669;
  font-family: $PrimarySemi;
  font-size: 14px;
  text-align: center;
}
.checkout1_envio {
  padding: 29px 0 120px 0;
}
@media screen and (max-width: 1024px) {
  .checkout1_envio {
    padding: 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .checkout1_envio {
    padding: 40px 0;
  }
}
.checkout1_envio_head {

  display: box;
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
  padding: 0 0 16px 0;
  margin: 28px 0 0 0;
}
.checkout1_envio_box {
  width: 31.25%;
  min-height: 189px;
  
  box-sizing: border-box;
  margin: 29px 3.125% 0 0;
}
.checkout1_envio_box:nth-child(3n+3) {
  margin-right: 0;
}
.checkout1_envio_box:nth-child(-n+3) {
  margin-top: 0;
}
@media screen and (max-width: 960px) {
  .checkout1_envio_box {
    width: 32%;
    margin-right: 2%;
  }
}
@media screen and (max-width: 767px) {
  .checkout1_envio_box {
    width: 49%;
    margin-top: 35px;
  }
  .checkout1_envio_box:nth-child(3n+3) {
    margin-right: 2%;
  }
  .checkout1_envio_box:nth-child(2n+2) {
    margin-right: 0;
  }
  .checkout1_envio_box:nth-child(-n+3) {
    margin-top: 35px;
  }
  .checkout1_envio_box:nth-child(-n+2) {
    margin-top: 0;
  }
}
@media screen and (max-width: 540px) {
  .checkout1_envio_box {
    width: 100%;
    min-height: inherit;
    margin-right: 0;
  }
  .checkout1_envio_box:nth-child(3n+3) {
    margin-right: 0;
  }
  .checkout1_envio_box:nth-child(-n+2) {
    margin-top: 35px;
  }
  .checkout1_envio_box:nth-child(-n+1) {
    margin-top: 0;
  }
}
.checkout1_envio_itembox {
  position: relative;
}
input[type="radio"]{
  cursor: pointer;
}
.checkout1_envio_itembox input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.checkout1_envio_itembox input[type="radio"]:checked + label {
  border: 2px solid #62D0DF;
}
.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_icon {
  opacity: 1;
  
  filter: none;
  visibility: visible;
}
.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_img-normal {
  opacity: 0;
  
  
  visibility: hidden;
  position: absolute;
}
.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_img-activo {
  opacity: 1;
  
  filter: none;
  visibility: visible;
  position: relative;
}
.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_subtitle h3 {
  color: rgba(0,0,0,0.73);
}
.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_text {
  color: #000;
}
.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_button span {
  background: #62D0DF;
  color: #fff;
}
.checkout1_envio_itembox input[type="radio"]:checked + label .checkout1_envio_images {
  color: #355669;

}
.checkout1_envio_card {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  cursor: pointer;
 
  transition: all 0.25s ease-in-out;
  position: relative;
  
  box-sizing: border-box;
  padding: 36px 20px 42px 20px;
}
@media screen and (max-width: 1024px) {
  .checkout1_envio_card {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 960px) {
  .checkout1_envio_card {
    padding: 30px 15px;
  }
}
@media screen and (max-width: 540px) {
  .checkout1_envio_card {
    padding: 30px 15px 45px 15px;
  }
}
.checkout1_envio_icon {

  display: box;
  display: flex;
  
  flex-direction: column;

  justify-content: center;

  align-items: center;
  width: 23px;
  height: 23px;
  background: #62D0DF;
  border-radius: 50%;
  opacity: 0;
  
  
  visibility: hidden;
 
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: -11.5px;
  right: -11.5px;
  margin: 0;
}
.checkout1_envio_icon span {
  font-size: 10px;
  color: #fff;
}
.checkout1_envio_info {
  text-align: center;
}
.checkout1_envio_images {
  max-width: 37px;
  width: 100%;
  position: relative;
  margin: 0 auto 12px auto;
  font-size: 30px;
  color: #99A8B0;
}
.checkout1_envio_img {
  width: 100%;
  top: 0;
  left: 0;
}
.checkout1_envio_img img {
  width: 100%;
  height: auto;
  display: block;
}
.checkout1_envio_img-normal {
  opacity: 1;
  
  filter: none;
  visibility: visible;
  position: relative;
}
.checkout1_envio_img-activo {
  opacity: 0;
  
  
  visibility: hidden;
  position: absolute;
}
.checkout1_envio_subtitle {
  margin-bottom: 7px;
}
.checkout1_envio_subtitle h3 {
  line-height: 1.1;
  color: #99A8B0;
  font-family: $PrimaryBold;
  font-size: 19px;
 
  transition: all 0.25s ease-in-out;
  margin: 0;
}
@media screen and (max-width: 960px) {
  .checkout1_envio_subtitle h3 {
    font-size: 17px;
  }
}
.checkout1_envio_text {
  max-width: 194px;
  width: 100%;
  line-height: 1.2;
  color: #355669;
  font-family: $PrimaryRegular;
  font-size: 14px;
 
  transition: all 0.25s ease-in-out;
  margin: 0 auto;
}
.checkout1_envio_text p {
  margin: 0;
}
@media screen and (max-width: 960px) {
  .checkout1_envio_text {
    font-size: 13px;
  }
}
.checkout1_envio_button {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
}
.checkout1_envio_button span {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  background: #E2EFF2;
  color: #355669;
  font-family: $PrimaryRegular;
  font-size: 13px;
  text-align: center;
  border-radius: 3px;
 
  transition: all 0.25s ease-in-out;
  padding: 0 23px;
}
@media screen and (max-width: 960px) {
  .checkout1_envio_button span {
    padding: 0 15px;
  }
}
.checkout1_envio_content {
  text-align: center;
}
.checkout1_envio_itemblock {
  display: none;
  padding: 76px 0 0 0;
}
@media screen and (max-width: 1024px) {
  .checkout1_envio_itemblock {
    padding: 50px 0 0 0;
  }
}
@media screen and (max-width: 767px) {
  .checkout1_envio_itemblock {
    padding: 40px 0 0 0;
  }
}
.checkout1_envio_date {

  display: box;
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;

  align-items: center;
  text-align: left;
  margin-top: calc(45px - 1.7486338797814203%);
}
@media screen and (max-width: 960px) {
  .checkout1_envio_date {
    
    flex-direction: column;
    text-align: center;
  }
}
.checkout1_envio_month {
  display: block;
  width: 109px;
  line-height: 1;
  color: #000;
  font-family: $PrimaryBold;
  font-size: 17px;
  margin: 0;
}
@media screen and (max-width: 960px) {
  .checkout1_envio_month {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.checkout1_envio_week {

  display: box;
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
  width: calc(100% - 109px);
}
@media screen and (max-width: 960px) {
  .checkout1_envio_week {
    width: 100%;
  }
}
.checkout1_envio_day {
  width: 12.78688524590164%;
  height: 47px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  position: relative;
  
  box-sizing: border-box;
  margin-top: 0.87431693989071%;
  margin-right: 1.74863387978142%;
  margin-bottom: 0.87431693989071%;
}
.checkout1_envio_day input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  
  
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.checkout1_envio_day input[type="radio"]:checked + label {
  background: #62D0DF;
  border-color: #62D0DF;
  color: #fff;
}
.checkout1_envio_day label {

  display: box;
  display: flex;
  
  flex-direction: column;

  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #fff;
  color: #000;
  cursor: pointer;
  font-family: $PrimarySemi;
  font-size: 17px;
  text-align: center;
 
  transition: all 0.25s ease-in-out;
}
.checkout1_envio_day.checkout1_envio_day-inactive input[type="radio"]:checked + label {
  background: #D8E4E6;
}
.checkout1_envio_day.checkout1_envio_day-inactive label {
  background: #D8E4E6;
  pointer-events: none;
}
.checkout1_envio_day:nth-child(7n+7) {
  margin-right: 0;
}
@media screen and (max-width: 960px) {
  .checkout1_envio_day label {
    font-size: 15px;
  }
}
@media screen and (max-width: 640px) {
  .checkout1_envio_day {
    width: 18.25136612021858%;
  }
  .checkout1_envio_day:nth-child(7n+7) {
    margin-right: 1.74863387978142%;
  }
  .checkout1_envio_day:nth-child(5n+5) {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .checkout1_envio_day {
    width: 32.16757741347905%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .checkout1_envio_day:nth-child(5n+5) {
    margin-right: 1.74863387978142%;
  }
  .checkout1_envio_day:nth-child(3n+3) {
    margin-right: 0;
  }
}
.checkout1_envio_program {

  display: box;
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;

  align-items: center;
  text-align: left;
  margin-top: 45px;
}
@media screen and (max-width: 960px) {
  .checkout1_envio_program {
    
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }
}
.checkout1_envio_horario {
  display: block;
  width: 109px;
  line-height: 1;
  color: #000;
  font-family: $PrimaryBold;
  font-size: 17px;
  margin: 0;
}
@media screen and (max-width: 960px) {
  .checkout1_envio_horario {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.checkout1_envio_time {

  display: box;
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
  width: calc(100% - 109px);
}
@media screen and (max-width: 960px) {
  .checkout1_envio_time {
    width: 100%;
  }
}
.checkout1_envio_hour {
  width: 27.3224043715847%;
  height: 47px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  position: relative;
  
  box-sizing: border-box;
  margin-top: 0.87431693989071%;
  margin-right: 1.74863387978142%;
  margin-bottom: 0.87431693989071%;
}
.checkout1_envio_hour input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  
  
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.checkout1_envio_hour input[type="radio"]:checked + label {
  background: #62D0DF;
  color: #fff;
}
.checkout1_envio_hour label {

  display: box;
  display: flex;
  
  flex-direction: column;

  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #fff;
  color: #000;
  font-family: $PrimarySemi;
  font-size: 17px;
  text-align: center;
 
  transition: all 0.25s ease-in-out;
}
.checkout1_envio_hour.checkout1_envio_hour-inactive input[type="radio"]:checked + label {
  background: #f4f4f4;
}
.checkout1_envio_hour.checkout1_envio_hour-inactive label {
  background: #f4f4f4;
}
.checkout1_envio_hour:last-child {
  margin-right: 0;
}
@media screen and (max-width: 960px) {
  .checkout1_envio_hour {
    width: 32.16757741347905%;
  }
  .checkout1_envio_hour:nth-child(3n+3) {
    margin-right: 0;
  }
  .checkout1_envio_hour label {
    font-size: 15px;
  }
}
@media screen and (max-width: 620px) {
  .checkout1_envio_hour {
    width: 49.12568306010929%;
  }
  .checkout1_envio_hour:nth-child(3n+3) {
    margin-right: 1.74863387978142%;
  }
  .checkout1_envio_hour:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .checkout1_envio_hour {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0;
  }
  .checkout1_envio_hour:nth-child(3n+3) {
    margin-right: 0;
  }
}
.checkout1_envio_atencion {
  text-align: left;
}
.checkout1_envio_atencion_text {
  line-height: 1.1;
  color: #355669;
  font-family: $PrimaryRegular;
  font-size: 16px;
  margin-top: 36px;
}
.checkout1_envio_atencion_text p {
  margin-bottom: 10px;
}
.checkout1_envio_atencion_text p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  .checkout1_envio_atencion_text {
    font-size: 14px;
  }
}
.checkou1_popup_body.active {
  overflow: hidden;
}
.checkout1_popup_overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  
  
  visibility: hidden;

  transition: all 0.5s ease-in-out 0.3s;

  transform: scale(0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
}
.checkout1_popup_overlay.active {
  opacity: 0.6;
  
  
  visibility: visible;

  transform: scale(1);

  transition: all 0.5s ease-in-out;
}
.checkout1_popup_block {
  max-width: 730px;
  width: calc(100% - 40px);
  min-height: 550px;
  max-height: calc(100% - 40px);
  overflow: auto;
  background: #fff;
  opacity: 0;
  
  
  visibility: hidden;

  transform: translate3d(-50%, -45%, 0);

  transition: all 0.4s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 300;
  
  box-sizing: border-box;
  padding: 50px 46px 46px 46px;
}
.checkout1_popup_block.active {
  opacity: 1;
  
  filter: none;
  visibility: visible;

  transform: translate3d(-50%, -50%, 0);

  transition: all 0.85s ease-in-out;
  z-index: 200;
}
@media screen and (max-width: 767px) {
  .checkout1_popup_block {
    padding: 40px 15px;
  }
}
.checkout1_popup_close {
  display: block;
  width: 19px;
  height: 19px;
  line-height: 19px;
  color: #e0e0e0;
  font-size: 19px;
  text-align: center;
  cursor: pointer;

  transform: rotate(0deg);
 
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: 27px;
  right: 27px;
}
@media screen and (min-width: 1025px) {
  .checkout1_popup_close:hover {

    transform: rotate(180deg);
  }
}
@media screen and (max-width: 767px) {
  .checkout1_popup_close {
    top: 10px;
    right: 10px;
  }
}
.checkout1_popup_title {
  text-align: center;
  margin-bottom: 49px;
}
.checkout1_popup_campos {
  margin-bottom: 20px;
}
.checkout1_popup_campos ul {

  display: box;
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
}
.checkout1_popup_campos li {
  width: 47.02194357366771%;
  margin: 21px 5.956112852664575% 0 0;
}
.checkout1_popup_campos li:nth-child(2n+2) {
  margin-right: 0;
}
.checkout1_popup_campos li:nth-child(-n+2) {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .checkout1_popup_campos li {
    width: 100%;
    margin-right: 0;
  }
  .checkout1_popup_campos li:nth-child(-n+2) {
    margin-top: 21px;
  }
  .checkout1_popup_campos li:nth-child(-n+1) {
    margin-top: 0;
  }
}
.checkout1_popup_button {
  text-align: center;
  margin-top: 43px;
}

.checkout1_address_add-icon{
  color: #99A8B0;
  font-size: 20px;
}