.crear-lista-bebe{
  max-width: 945px;
  &-action{
    a{
      margin-right: 20px;
      margin-top: 50px;
    }
    span{
      font-size: 13px;
      font-family: $PrimaryRegular;
      color: #99A8B0;
    }
  }
}
.crear-lista-radio{
  background: #fff;
  border-radius: 30px;
  border: solid 1px #D8E4E6;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  label{
    width: calc(100% - 50px);
    color: #355669;
    font-family: $PrimaryRegular;
    font-size: 13px;
  }
  &-check{
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border-radius: 50%;
    border: solid 1px #355669;
    position: relative;
   
    &::after{
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: #355669;
      opacity: 0;

    }
  }
  input{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    &:checked ~ .crear-lista-radio-check{
      &::after
      {
        opacity: 1;

      }
    }
  }
}

.input-file{
  position: relative;
  background: #fff;
  border-radius: 30px;
  height: 100px;
  border: dashed 1px #BFCFD3;
  display: flex;
  justify-content: center;
  align-items: center;
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  &-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span{
      font-size: 20px;
    color: #99A8B0;

    }
  }
  &-title{
    color: #99A8B0;
    font-size: 12px;
    font-family: $PrimaryRegular;
    margin-top: 20px;
  }
}