.crear-cuenta{
  max-width: 809px;
  margin: 0 auto;
  padding: 100px 0;
  &-title{
    color: #355669;
    font-size: 20px;
    font-family: $PrimaryBold;
    margin-bottom: 30px;
  }
  .perfil-bebe{
    width: 100%;
    &-select{
    }
  }
  .perfil__boton-doble .btn{
    width: 219px;
  }
  .perfil__boton-doble{
    justify-content: center;
    margin-top: 50px;
  }
  .perfil__boton-doble{
    flex-direction: column;
    align-items: center;
    .volver{
      margin-bottom: 20px;
      color: #99A8B0;
      font-size: 14px;
      font-family: $PrimaryRegular;
    }
  }
}