.detalle-lista{
  padding: 70px 0;
  &-header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    @include desde(840px){
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
    &-right{
      margin-bottom: 30px;
      max-width: 400px;
      @include desde(840px){
        margin-bottom: 0;
        margin-top: 0px;
        margin-left: 20px;
      }
      @include desde(m){
        max-width: 510px;
        margin-top: 0;
      }
    }
  }
  &-edit{
    margin-bottom: 10px;
    text-align: right;
    a{
      font-size: 14px;
      font-family: $PrimaryBold;
      color: #99A8B0;
      span{
        margin-left: 10px;
      }

    }
  }
  &-name{
    color: #355669;
    font-size: 25px;
    font-family: $PrimaryBold;
    margin-bottom: 70px;
  }
  &-item{
    color: #355669;
    font-family: $PrimaryRegular;
    font-size: 14px;
    margin-bottom: 28px;
    strong{
      font-family: $PrimarySemi;
      font-weight: normal;
    }
  }
  &-action{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    a{
      text-transform: initial;
    }
    @include desde(m){
      display: block;
      flex-direction: row;
      .open-link-share{
        margin-right: 20px;
      }
    }
    &-title{
      color: #355669;
      font-size: 14px;
      font-family: $PrimarySemi;
      margin-bottom: 10px;
    }
    a:last-child{
      margin-top: 20px;
    }
  }
  &-table{
    margin-top: 100px;
    background: #fff;
    padding: 0 50px;
    &-header{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 112px;
      &-name{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #355669;
        font-size: 16px;
        font-family: $PrimaryBold;
        margin-right: 80px;
        &:last-child{
          margin-right: 0;
          .select-arrow{
            width: 174px;
            margin-left: 10px;
            select{
              font-family: $PrimaryRegular;
            }
          }
        }
      }
      select{
        background: #fff;
        border: none;
        width: 100%;
        height: 45px;
        padding: 0 20px;
        border: solid 1px #E2EFF2;
        font-family: "GothamLight";
        font-size: 13px;
        border-radius: 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #8C8E8E;
      }
    }
    &-item{
      display: flex;
      flex-direction: row;
      padding: 25px 0;
      border-top: solid 1px #E2E8EA;
      &-left{
        padding: 15px;
        box-sizing: border-box;
        max-width: 150px;
        max-height: 130px;
        border: solid 1px #E2EFF2;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &-middle{
        @include desde(s){
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 60%;
          padding: 0 30px;
          margin-top: 20px;
        }
      }
      &-right{
        a{
          text-transform: initial;
        }
      }
      &-name{
        color: #99A8B0;
        font-size: 15px;
        font-family: $PrimaryRegular;
        max-width: 185px;
        width: 60%;
      }
      &-price{
        color: #355669;
        font-size: 16px;
        font-family: $PrimaryBold;
        width: 20%;
        text-align: center;
      }
      &-quantity{
        color: #99A8B0;
        font-size: 16px;
        font-family: $PrimaryRegular;
        width: 22%;
      }
    }
  }
}