.err{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &-cont{

  }
  &-image{
    width: 192px;
    margin: 0 auto;
    margin-bottom: 45px;
    text-align: center;
    img{
      width: 100%;
    }
  }
  &-title{
    font-family: $PrimaryBold;
    color: #355669;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  &-subtitle{
    font-family: $PrimaryBold;
    color: #355669;
    font-size: 25px;
    text-align: center;
    max-width: 520px;
    line-height: 30px;
    margin: 0 auto;

  }
  &-desc{
    color: #99A8B0;
    font-size: 17px;
    font-family: $PrimaryRegular;
    max-width: 590px;
    margin-top: 40px;
    text-align: center;
  }
  &-action{
    text-align: center;
    margin-top: 50px;
  }
}