.faq{
  padding: 50px 0;
  background: #f7f7fb;
  @include desde(m){
    padding: 80px 0;
  }
  &-header{
    font-family: $PrimaryBold;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: center;
    color: #355669;
    margin-bottom: 20px;
    @include desde(m){
      text-align: left;
    }
  }
  &-body{
    @include desde(m){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &-menu{
    width: 300px;
    background: #fff;
    display: none;
    @include desde(m){
      display: block;
      align-self: flex-start;
    }
    &-list{
      width: 100%;
      margin: 0;
    }
    &-item{
      font-family: $PrimaryBold;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #979797;
      width: 100%;
      border-bottom: solid 1px #f2f2f2;
      
      a{
        padding: 20px 29px;
        display: block;
        font-family: $PrimaryBold;
        font-size: 15px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #99A8B0;
      }
      &:hover, &.active{
        a{
          color: #355669;
        }
      }
    }
  }
  &-content{
    background: #fff;
    padding: 30px 30px 40px 30px;
    @include desde(m){
      width: calc(100% - 320px);
      padding: 40px 55px 40px 55px;
      margin: 0 0 auto auto;
    }
    &-item{
      // margin-top: 20px;
      // &:last-child{
      //   margin-top: 0;
      // }
      // &.active{
      //   .faq-content-body{
      //     display: block;
      //   }
      // }
    }
    &-header{
      font-family: $PrimaryBold;
      font-size: 20px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      margin-bottom: 30px;
    }
    &-body{
      // display: none;
      font-family: $PrimaryRegular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: justify;
      color: #355669;
    }
  }
}