.libro-reclamo{
  max-width: 1140px;
  margin: 0px auto;
  padding: 88px 0;
  
  &-box{
    // background-color: #ffffff;
    padding: 49px 30px;
    @include desde(s){
      padding: 49px 73px;
    }

  }
  &-title{
    font-family: $PrimaryBold;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: center;
    color: #355669;
  }
  &-desc{
    margin-top: 23px;
  }
  &-desc, &-datos{
    color: #355669;
    font-family: $PrimaryRegular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    max-width: 806px;
  }
  &-datos{
    margin-top: 23px;
    strong{
      font-family: $PrimarySemi;
      color: #355669;
    }
  }
  &-form{

    &-desc{
      font-family: $PrimarySemi;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #355669;
      margin-bottom: 25px;
      margin-top: 25px;
      strong{
        color: #355669;
      }
    }
    &-box{
    margin-top: 70px;
    }
    &-select{
      height: 45px;
      border:solid 1px #DFE5E8;
      border-radius: 30px;
      overflow: hidden;
      &-group{
        display: flex;
        flex-direction: row;
        .libro-reclamo-form-select{
          width: 90px;
          padding: 0 18px;
        }
        input{
          width: calc(100% - 90px);
          border-left: none;
        }
      }
      select{
        background: #fff;
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
        font-family: $PrimaryRegular;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        padding: 0 20px;
        color: #979797;
        letter-spacing: normal;
      }
    }
    &-title{
      font-family: $PrimarySemi;
      font-size: 19px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #355669;
      margin-bottom: 37px;
    }
    &-input{
      display: flex;
      flex-direction: column;
      
      &.input-fluid{
        grid-column: 1 / -1;
      }
      label{
        font-family: $PrimarySemi;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #355669;
        margin-bottom: 6px;
        span{
          color: red;
        }
      }
      textarea{
        height: 70px;
        border-radius: 2px;
        border:solid 1px #DFE5E8;
        font-family: $PrimaryRegular;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: #979797;
        letter-spacing: normal;
        padding: 0 18px;
        border-radius: 30px;
      }
      input{
        height: 45px;
        border-radius: 2px;
        border:solid 1px #DFE5E8;
        font-family: $PrimaryRegular;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: #979797;
        letter-spacing: normal;
        padding: 0 18px;
        border-radius: 30px;

      }
      &-radio{
        position: relative;
        display: flex;
        flex-direction: row;
        &-checked{
          width: 14px;
          height: 14px;
          border: solid 2px #62D0DF;
          border-radius: 50%;
          margin-right: 10px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          &:after{
            content: '';
            width: 6px;
            height: 6px;
            background: #62D0DF;
            position: absolute;
            border-radius: 50%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            opacity: 0;

          }
        }
        input{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          &:checked ~ .libro-reclamo-form-input-radio-checked:after{
            opacity: 1;
          }
        }
      }
    }
    &-inputs{
      display: grid;
      grid-gap: 17px;
      grid-template-columns: 1fr;
      @include desde(s){
        grid-template-columns: repeat(2, minMax(25%, 50%));
      }
      @include desde(m){
        grid-template-columns: repeat(3, minMax(25%, 33.333333333%));
      }
    }
  }
  &-action{
    margin-top: 23px;
    text-align: center;
  }
}

.campos-obligados{
  font-family: $PrimaryRegular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 17px;
  color: #355669;
  span{
    color: red;
  }
}