.product-card{
  display: block;
  position: relative;
  text-decoration: none;
  background-color: #fff;
  padding: 22px 37px;
  &:hover{
    box-shadow: 0px 3px 10px 0px #c1d1d5;
  }
  &-badge{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-image{
      position: absolute;
      width: 100%;
      svg{
        fill: #FF9E15;
      }
    }
    &-text{
      color: #fff;
      position: relative;
      z-index: 2;
      font-size: 14px;
      font-family: $PrimaryBold;
      font-weight: normal;
    }
  }
  &-image{
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 210px;
    height: 200px;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &-body{
    // padding: 0 20px;
  }
  &-name{
    color: #000;
    margin-bottom: 18px;
    font-family: $PrimaryRegular;
    font-size: 14px;
    color: #99A8B0;
  }
  &-price{
    &-new{
      color: #355669;
      font-family: $PrimaryBold;
      font-size: 20px;
    }
    &-old{
      text-decoration: line-through;
      font-weight: normal;
      margin-bottom: 14px;
      font-family: $PrimaryBold;
      font-size: 13px;
      color: #355669;
    }
  }
}

.margin-top-20{
  margin-top: 30px;
}