.promocion-home{
    position: sticky;
    bottom: 0;
    min-height: 80px;
    z-index: 10;
    width: 100%;
    background-color: #44d4d2;
    background-image: url('../img/home/fondo.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    text-align: center;
    @include desde(s){
        flex-direction: row;
    }
    &-left{
        display: none;
        @include desde(m){
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    &-right{
    }
    &-middle{
        margin-bottom: 10px;
        font-family: $PrimaryBold;
        font-weight: normal;
        @include desde(s){
            margin-bottom: 0;
            margin-right: 10px;
        }
        @include desde(m){
            margin-left: 10%;
        }
        p{
            color: #fff;
        }
        span{
            color: #355669;
        }
    }
    .btn{
        @include hasta(s){
            padding: 10px 30px;
        }
    }
}