.redes{
  position: relative;
  padding: 45px 0;
  .container{
    @include desde(568px){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 1050px;
    }
  }
  &-heart{
    position: absolute;
    left: -89px;
    max-width: 280px;
    z-index: 1;
    @include desde-hasta(320, 568px){
      top: 15px;
    }
    @include desde(568px){
      bottom: -60px;
    }
  }
  &-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
    position: relative;
    z-index: 2;
    @include desde(568px){
      flex-direction: column;
      justify-content: center;
    }
    @include desde(780px){
      width: 280px;
    }
    @include desde(m){
      // width: 300px;
      align-items: flex-start;
    }
  }
  &-title{
    font-family: $PrimaryBold;
    color: #355669;
    font-size: 18px;
    text-align: left;
    max-width: 150px;
    line-height: 25px;
    @include desde(m){
      font-size: 30px;
      max-width: 280px;
      line-height: 35px;
    }
  }
  &-links{
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    @include desde(568px){
      margin-top: 20px;
    }
  }
  &-link{
    font-size: 20px;
    &.face{
      color: #004A97;
    }
    &:hover{
      color: #FF9E16;
    }
    &-title{
      display: none;
      font-family: $PrimaryRegular;
      font-size: 16px;
      color: #355669;
      @include desde(568px){
        display: block;
        padding-right: 10px;
      }
    }
  }
  &-list{
    position: relative;
    z-index: 2;
    display: grid;
    grid-gap: 20px;
    @include desde(780px){
      grid-template-columns: 1fr 1fr;
    }
  }
  &-item{
    padding: 19px;
    background: #fff;
    max-width: 350px;
    &:last-child{
      display: none;
      @include desde(768px){
        display: block;
      }
    }
    &-image{
      max-width: 323px;
      width: 100%;
      height: 327px;
      display: flex;
      font-size: 0;
      overflow: hidden;
      img{
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
    &-body{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 15px;
      color: #355669;
    }
  }
  &-like{
    span{
      margin-right: 3px;
    }
  }
  &-share{
    span{
      margin-right: 3px;
    }
  }
  &-message{
    span{
      margin-right: 3px;
    }
  }
}