.result{
  padding: 80px 0;
  max-width: 920px;
  margin: 0 auto;
  min-height: 80vh;
  &-cont{
    
  }
  &-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    padding: 50px 0;
    grid-gap: 30px;
    @include desde(s){
      grid-template-columns: repeat(2, 1fr);
    }
    @include desde(m){
      grid-template-columns: repeat(3, 1fr);
    }
    @include desde(l){
      // grid-template-columns: repeat(4, 1fr);
    }
  }
  &-title{
    font-family: $PrimaryBold;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #355669;
  }
  &-subtitle{
    font-family: $PrimaryRegular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    margin-top: 10px;
    color: #7A7A87;
  }
  &-error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title{
      font-family: $PrimaryBold;
      font-size: 25px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin-top: 50px;
      margin-bottom: 20px;
      span{
        display: block;
        margin-top: 5px;
      }
    }
    &-subtitle{
      font-family: $PrimaryRegular;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: normal;
      text-align: center;
      color: #4a4a4a;
      margin-bottom: 20px;
    }
  }
}
