.search-bebe{
  position: relative;
  max-height: 600px;
  @include desde(s){
    max-height: 700px;
  }
  overflow: hidden;
  &-fondo{
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
  &-title{
    font-size: 25px;
    color: #fff;
    font-family: $PrimaryBold;
    margin-bottom: 20px;
    &.lista{
      text-align: center;
    }
    @include desde(s){
      &.lista{
        text-align: left;
      }
      font-size: 32px;
    }
  }
  &-desc{
    font-family: $PrimaryRegular;
    font-size: 15px;
    color: #fff;
    margin-bottom: 30px;
    padding: 0 40px;
    text-align: center;
  }
  &-cont{
    padding: 50px 20px;
    position: absolute;
    max-width: 600px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-input{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    &.lista{
      flex-direction: column;
      border-radius: 30px;
      @include desde(xs){
        flex-direction: row,
      }
    }
    input{
      // border-radius: 30px 0 0 30px;
      border: none;
      width: 100%;
      margin-right: -30px;
      padding: 0 40px;
      height: 60px;
      font-family: $PrimaryRegular;
      color: #99A8B0;
      font-size: 14px;
      border-radius: 30px;
      &.lista{
        border-radius: 30px;
        margin-bottom: 30px;
        @include desde(xs){
          border-radius: 30px 0 0 30px;
          margin-bottom: 0;
        }
      }
    }
    &-search{
      
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 40px;
      @include desde(s){
        height: 60px;
      }
      input{
        width: 100%;
        height: 100%;
        border: none;
        padding: 0 40px;
        font-family: $PrimaryRegular;
        color: #99A8B0;
        font-size: 14px;
      }
      span{
        position: absolute;
        top: 0;
        right: 30px;
        bottom: 0;
        color: #62D0DF;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include desde(s){
          font-size: 25px;
        }
      }
    }
    &.active{
      input{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  &-action{
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    .btn{
      margin-bottom: 20px;
    }
    @include desde(xs){
      flex-direction: row;
      .btn{
        text-transform: initial;
        width: 40%;
      }
    }
  }
}

.ui-widget.ui-widget-content {
  border: 0;
  padding: 20px;
}

.auto_search{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
  &.ui-state-active{
    background: #5FD0DF;
    color: #fff;
    border: none;
  }
}
.auto_image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.auto_description{
  display: flex;
  flex-direction: column;
  color: #355669;
  strong{
    font-family: $PrimaryBold;
    font-size: 15px;
  }
  span{
    font-family: $PrimaryRegular;
    font-size: 14px;
  }
}