.slider-discount{
  padding: 30px 0;
  margin-top: 40px;
  @include desde(m){
    padding-top: 0;
  }
  &-arrow{
    display: flex;
    &-left, &-right{
      background: #fff;
      color: #FFBF3B;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      &:hover{
        background: #FFBF3B;
        color: #fff;
      }
    }

    &-left{
      margin-right: 10px;
    }
  }
  &-heart{
    position: absolute;
    top: 0;
    left: -40px;
    width: 100%;
    max-width: 200px;
    @include desde(m){
      display: none;
    }
  }
  &-bb{
    display: none;
    @include desde(m){
      display: block;
      position: absolute;
      top: -20px;
      left: -380px;
      width: 100%;
      max-width: 800px;
    }
  }
  &-header{
    text-align: center;
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desde(m){
      max-width: 920px;
      margin: auto 0 0 auto;
      padding-top: 160px;
      padding-bottom: 40px;
    }
  }
  &-title{
    font-family: $PrimaryBold;
    font-size: 18px;
    color: #35BEC2;
    position: relative;
    z-index: 2;
    max-width: 300px;
    @include desde(xs){
      font-size: 22px;
      line-height: 30px;
    }
    strong{
      color: #FFBF3B;
    }
    @include desde(m){
      font-size: 30px;
      max-width: 420px;
      text-align: left;
      margin-left: 130px;
    }
  }
  &-cont{
    @include desde(m){
      max-width: 920px;
      margin: auto 0 0 auto;
    }
  }
  &-list{
    &-item{

      @include desde(m){
        padding: 20px 0;
      }
    }
  }
}