.slider-brand{
  background-color: #fff;
  margin-top: -4px;
  height: 105px;
  display: flex;
  align-items: center;
  overflow: hidden;

  &-cont{
    max-width: 1100px;
    margin: 0 auto;
  }
  &-item{
    text-align: center;
    @include desde(m){
      padding: 20px 10px;
    }
  }
}