// default page color
$white:             #ffffff !default;
$black:             #000000 !default;
$dark:              #000000 !default;
$green:             #38c550 !default;
$red:               #ff4747 !default;
$yellow:            #e5be30 !default;
$gray-light:        #eaecf0 !default;
$anchor-link:       #1a0dab !default;
$blue:              #002e6d !default;
$gray:              #F1F1F1 !default;
$border-color: #ededed !default;
$yellow: #f49c20;

// text
$title: #000000;
$subtitle: #000000;
$paragraph: #000000;

// icons
$icon-primary: #000000;
$icon-secondary: #000000;


// extras
$footer-bg: #242E30;

//color Button
$btn-black: $black;
$btn-white: $white;
$btn-red: #ff4747;
$btn-blue: #3b7fff;
$btn-gray: #e8e8e8;
$btn-yellow: #f49c20;
