.account-body{
  width: 100%;
  &__box{

  }
  &__toggle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    @include desde(s){
      display: none;
    }
  }
  &__toggle-name{
    margin-left: 5px;
    font-family: $PrimaryLight;
    font-size: 14px;
  }
  &__toggle-icon{
    margin-right: 10px;
  }
  &__toggle-show{
    font-size: 12px;
  }
  &__header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__title{
    font-family: $PrimarySemi;
    letter-spacing: .40px;
    color: #010101;
    font-size: 16px;
    @include desde(s){
      font-size: 22px;
    }
  }
  &__row{
    padding: 20px;
    border: solid 1px #e1e1e1;
    @include desde(s){
      border: none;
      margin-left: 40px;
    }
  }
  &__container{
    display: flex;
    flex-direction: column;
    @include desde(s){
      flex-direction: row;
    }
  }
  &__left{
    @include desde(s){
      flex: 300px 0 0;
    }
  }
  &__right{
    @include desde(s){
      flex: 100% 1 1;
    }
  }
  &__btn{
    padding: 0 10px;

    &.pass{
      display: none;
      @include desde(s){
        display: block;
      }
    }
  }
  &__file{
    position: relative;
    * input[type="file"] {
      border: dashed 1px #E5E5E5;
      min-height: 100px;
      border-radius: 3px;
      color: #545146;
      padding: 10px 10px;
      font-size: 18px;
      resize: none;
      opacity: 0;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }
    * .file{
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        height: 100%;
        border: dashed 1px #E5E5E5;
        display: -webkit-box;
      }
    * .text-file {
        color: #545146;
        font-family: "NovaSemibold";
        font-size: 16px;
        margin-left: 10px;
    }
  }
}
