.account-header{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  @include desde(s){
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px $gray1;
    padding: 20px 0;
  }
  &__left{
    display: flex;
    justify-content: center;
  }
  &__profile{
    display: flex;
    align-self: center;
  }
  &__box-img{
    width: 50px;
    margin-left: -20px;
    @include desde(s){
      margin-left: 0;
    }
  }
  &__img{
    border-radius: 50%;
  }
  &__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
  }
  &__welcome{
    font-size: 12px;
    color: #a1a1a1;
    font-family: $PrimaryLight;
    letter-spacing: .50px;
    @include desde(s){
      font-size: 14px;
    }
  }
  &__name{
    color:  $black;
    font-family: $PrimarySemi;
    @include desde(s){
      font-size: 17px;
    }
  }
  &__right{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    @include desde(s){
      margin-top: 0;
      align-items: center;
    }
  }
  &__btn{
    //padding: 6px 15px;
    padding: 5px;
    width: 50%;
    font-size: 10px;
    &:nth-last-child(1){
      margin-left: 5px;
    }
    @include desde(xs){
      font-size: 11px;
      font-family: $PrimarySemi;
      padding: 7px 0;
    }
    @include desde(s){
      width: auto;
      padding: 12px 20px;
      font-family: $PrimaryRegular;
      background-color: #f8f8f8;
      border: solid 2px #f8f8f8;
      &:hover{
        background-color: #f3f3f3;
        border: solid 2px #f3f3f3;
      }
    }
    &.password{
      @include desde(s){
        display: none;
      }
    }
  }
}
