.account-menu{
  display: none;
  @include desde(s){
    display: flex;
    width: 250px;
  }
  &__list{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  &__item{
    margin: 0;
    position: relative;
    border-bottom: solid 2px $gray1;
    margin-bottom: 2px;
    &:nth-last-child(1){
      margin-bottom: 0;
    }
  }
  &__link{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    color: #c1c1c1;
    font-family: $PrimarySemi;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
      transition: all .15s ease-in-out;
    &.active{
      color: $black;
    }
    &:hover{
      color: $black;
      transition: all .15s ease-in-out;
    }
  }
  &__icon{
    margin-right: 10px;
    font-size: 16px;
  }
}
