.arrow{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #99A8B0;
  border-radius: 50%;
  cursor: pointer;
  &:hover, &.active{
    background-color: #99A8B0;
    color: #ffff;
  }
  &-left, &-right{
  }
  &-left{

  }
  &-right{

  }
}