.banner-basic{
  position: relative;
  &-list{
    height: 100%;
  }
  &-item{
    height: 100%;

    img{
      width: 100%;
      height: auto;
      max-height: 550px;
    }
  }
  .tns-nav{
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    z-index: 10;
    button{
      height: 14px;
      width: 14px;
      display: block;
      border-radius: 50%;
      background: transparent;
      border: none;
      border: solid 1px white;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      outline: none;
      &:nth-last-child(1){
        margin: 0;
      }
      &:after{
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: white;
        opacity: 0;
      }
      &.tns-nav-active{
        &:after{
          opacity: 1;
        }
      }
    }
  }
  &-arrow{
    &-left{
      position: absolute;
      left: 2.5%;
      bottom: 0;
      top: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-right{
      position: absolute;
      right: 2.5%;
      bottom: 0;
      top: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}