.breadcrumb{
  padding: 25px 0;
  font-family: $PrimaryRegular;
  margin-top: 20px;

  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  &-link{
    display: inline-flex;
    flex-direction: row-reverse;
    &:after{
      content: '\e919';
      font-family: 'icomoon' !important;
      padding-right: 10px;
      font-size: 10px;
      padding-left: 10px;
      display: flex;
      align-items: center;
    }
    &:first-child{
      &:after{
        content: none;
      }
    }
    &:last-child{
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #00b3e3;
      &:after{
        // content: none;
        color: #4a4a4a;
      }
    }
  }
}