.card-pago{
    width: 100%;
    position: relative;
    &-checked{
        border:solid 1px #eaeaea;
        padding: 20px 40px;
        margin-bottom: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        cursor: pointer;
        @include desde(s){
            flex-direction: row;
            justify-content: space-between;
        }
    }
    input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .card-pago-checked{
            border:solid 1px $blue-acua;
            &::before{
                content: "\e906";
                position: absolute;
                font-family: 'icomoon' !important;
                background-color: $blue-acua;
                color: white;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                right: -10px;
                font-size: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -10px;
            }
        }
    }
    
   
    &__name{
        font-size: 13px;
        font-family: $PrimaryBold;
        color: $black;
        margin-right: 20px;
        text-align: center;
        @include desde(s){
            text-align: left;
        }
    }
    &__pagos{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        @include desde(s){
            margin-top: 0;
        }
    }
    &__img{
        width: 100px;
        padding: 5px;
        @include desde(s){
            width: 80px;
        }
        &:nth-last-child(1){
            margin-right: 0;
        }
    }

}