.carrito{
  background-color: #F3F9FB;
  padding: 40px 0;
  &-coupon{
    padding: 18px 38px;
    padding-top: 0;
    a{
      background: #BFCFD3;
      border: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    p{
      font-family: $PrimaryRegular;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      margin-bottom: 15px;
    }
    &-input{
      display: flex;
      flex-direction: row;
      border-radius: 30px;
      height: 45px;
      input{
        border: solid 1px #BFCFD3;
        &::placeholder{
          color: #99A8B0;
        }

      }

      overflow: hidden;
      .btn{
        background: #E2E8EA;
        font-size: 13px;
        color: #99A8B0;
        border-color: #BFCFD3;
        &:hover{
          border-color: #BFCFD3;
          border: none;
        }
      }
      input{
        color: #99A8B0;
        background: #fff;
      }
    }
    input{
      width: 100%;
      // height: 45px;
      margin-right: -20px;
      border-radius: 25px 0 0 25px;
      padding-left: 20px;
      font-size: 13px;
      // background-color: #f2f2f2;
      // border: none;
    }
  }
  &-header{
    font-family: $PrimaryBold;
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #355669;
    margin-bottom: 40px;
    text-align: center;
  }
  &-box{

    &-detail{
      background: #fff;
      margin: 0 auto;
      max-width: 100%;
      border-radius: 20px;
      width: 100%;
      @include desde(m){
        max-width: 420px;
      }
      &-header{
        padding: 50px 38px;
        font-family: $PrimaryBold;
        font-size: 16px;
        font-style: normal;
        text-align: center;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #355669;
        // border-bottom: solid 1px #f4f4f4;
      }
      &-body{

      }
    }
  }
  &-detail{
    &-list{
      padding: 20px 38px;
      // border-top: solid 1px #f4f4f4;
      // border-bottom: solid 1px #f4f4f4;
      &-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: $PrimaryRegular;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0px;
        color: #99A8B0;
        margin-bottom: 19px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &-total{
      font-family: $PrimaryBold;
      font-size: 16px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0px;
      color: #355669;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 18px 38px;
    }
    &-action{
      padding: 50px 38px;
    }
  }

  &-product-item{
    display: flex;
    background: #fff;
    // align-items: center;
    padding: 45px 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    flex-direction: column;
    @include desde(540px){
      flex-direction: row;
      justify-content: space-between;
    }
    &-left{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-right{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      margin-top: 10px;
      @include desde(540px){
        margin-top: 0;
        padding: 0;
        display: block;
      }
    }
    &-brand{
      font-family: $PrimaryRegular;
      font-size: 12px;
      color: #8c8e8e;
      margin-top: 5px;
    }
    &-image{
      width: 112px;
      height: 112px;
      margin-right: 15px;
      img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: auto;
      }
    }
    &-title{
      font-family: $PrimaryBold;
      font-size: 15px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #355669;
    }
    &-prices{
      margin-top: 10px;
    }
    &-price{
      font-family: $PrimaryRegular;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #99a8b0;
    }
    &-priceTotal{
      font-family: $PrimaryBold;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #62d0df;
    }
    &-middle{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    &-quantity{
      width: 85px;
      height: 40px;
      border-radius: 30px;
      background-color: #ffffff;
      border: solid 1px #BFCFD3;
      overflow: hidden;
      position: relative;
      input{
        border: none;
        width: 100%;
        text-align: center;
        color: #355669;
        height: 100%;
        font-size: 16px;

      }
      span{
        position: absolute;
      }
      .mas{
        top: -4px;
        right: 12px;
        bottom: 0;
        position: absolute;
        display: flex;
        align-items: center;
        color: #355669;
        font-size: 20px;
        font-weight: bold;
      
      }
      .menos{
        position: absolute;
        top: -4px;
        left: 12px;
        bottom: 0;
        display: flex;
        align-items: center;
        color: #355669;
        font-size: 30px;
      }

    }
    &-delete{
      text-align: center;
      color: #99A8B0;
      font-family: $PrimaryRegular;
      font-size: 13px;
      cursor: pointer;
      @include desde(540px){
        margin-top: 20px;

      }
      span{
        &::before{
          color: #979797;
        }
      }
      &:hover{
        color: #000000;
        span{
          &::before{
            color: #000000;
          }
        }
      }
    }
  }
  &-content{
    display: flex;
    flex-direction: column-reverse;
    &-left{
      margin-top: 30px;
    }
    &-right{
      @include hasta(m){
        margin-top: 30px;
      }
    }
    @include desde(m){
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      &-left{
        width: 411px;
        margin-top: 0;
      }
      &-right{
        width: calc( 100% - 450px);
        // max-width: 692px;
      }
    }
  }
  &-step{
    background: #fff;
    padding: 30px 0;
    margin-top: 100px;
    grid-template-columns: repeat(3, 1fr);
    display: none;
    border-radius: 20px;
    @include desde(m){
      
      display: grid;
    }
    &-item{
      display: flex;
      align-items: center;
      border-right: solid 1px #E2EFF2;
      padding: 0 50px;
      &:last-child{
        border-right: none;
      }
      &-title{
        color: #355669;
        font-size: 16px;
        font-family: $PrimaryBold;
        margin-bottom: 3px;
      }
      &-subtitle{
        color: #99A8B0;
        font-size: 12px;
        font-family: $PrimaryRegular;
      }
      &-middle{
        padding: 0 20px;
      }
      &-left{
        font-size: 40px;
        color: #355669;
      }
      &-right{
        margin-left: 15px;
        font-size: 12px;
        span{
          
          font-weight: bold;
        }
      }
    }
  }
}