body{
  &.active{
    overflow: hidden;
  }
}
.card-sidebar{
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  display: none;
  overflow: auto;
  &.active{
    display: block;
    right: 0;
    transition: all .15s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &__header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  }
  &__close{
    font-size: 25px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    &:hover{
      background-color: rgba(#f3f3f3, .8);
    }
  }
  &__body{
    margin-top: 70px;
  }
  &__wrapper-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px #f4f4f4;
    padding-bottom: 30px;
  }
  &__img{
    width: 150px;
  }
  &__vacio{
    font-size: 17px;
    width: 70%;
    font-family: $PrimaryBold;
    text-align: center;
    margin-top: 20px;
    color: #355669;
  }
  &__pasos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    font-family: $PrimarySemi;
    color: #355669;
    font-size: 16px;
  }
  &__box-paso{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #355669;
    font-family: $PrimaryRegular;
    font-size: 15px;

  }
  &__paso-left{
    display: flex;
    flex-direction: column;
  }
  &__title{
    font-size: 15px;
    font-family: $PrimaryBold;
  }
  &__desc{
    font-family: 14px;
    margin-top: 5px;
  }
  &__paso-right{
    display: flex;
    align-items: center;
    font-size: 20px;
    span{
      color: #355669;
    }
  }
  &__footer{
    width: 100%;
    bottom: 0;
    // position: absolute;
    padding: 30px;
    // height: 200px;
    // border-top: solid 1px #f4f4f4;
    .btn{
      padding: 13px;
      font-family: $PrimaryBold;
      font-size: 15px;
    }
  }
  &__carrito{
    text-transform: uppercase;
  }
  &.item{
    & .card-sidebar{
      &__wrapper{
        height: calc(100% - 200px);
      }
      &__header{
        justify-content: center;
        position: relative;
        align-items: center;
        height: 140px;
      }
      &__carrito{
        font-family: $PrimaryBold;
        font-size: 18px;
        color: #355669;
        text-align: center;
      }
      &__close{
        font-size: 13px;
        position: absolute;
        top: 20px;
        right: 20px;
      }
      &__body{
        margin-top: 0;
        // border-top: solid 1px #f4f4f4;
        overflow-y: auto;
        height: 100%;
      }
      &__footer{
        padding: 0 30px 30px;
        .btn{
          margin-bottom: 20px;
          padding: 12px;
          font-size: 13px;
        }
      }
      &__total{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        font-size: 14px;
        text-transform: uppercase;
      }
      &__key{
        font-family: $PrimaryRegular;
        font-size: 12px;
        color: #99A8B0;
      }
      &__value{
        font-family: $PrimaryBold;
        font-size: 20px;
        color: #355669;
      }
      &__item{
        display: flex;
        padding: 0 20px;
        padding-top: 20px;
        border-bottom: solid 1px #f4f4f4;
        padding-bottom: 20px;
      }
      &__imagen{
        width: 65px;
        height: 65px;
        display: flex;
        margin-right: 35px;
        img{
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &__more-less{
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item-pedido-variation{
          margin-top: 0;
        }
      }
      &__nombre-item{
        font-family: $PrimaryBold;
        font-size: 15px;
        color: #355669;
        margin-top: 5px;
      }
      &__nombre-brand{
        font-size: 12px;
        font-family: $PrimaryRegular;
        color: #99A8B0;
        margin-top: 5px;

      }
      &__nombres{
        display: flex;
        flex-direction: column;
        // flex: 100% 1 1;
        width: calc(100% - 110px);
      }
      &__borrar{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 50px;
        font-size: 9px;
        color: #99A8B0;
        padding-top: 15px;
      }
      &__precio-item{
        color: $blue;
        font-family: $PrimaryBold;
      }
      &__precio{
        &-sub{
          color: #99A8B0;
          font-size: 12px;
          font-family: $PrimaryRegular;
          text-align: right;
          margin-bottom: 5px;
        }
        &-total{
          font-size: 18px;
          font-family: $PrimaryBold;
          color: #62D0DF;
          text-align: right;
        }
      }
    }
  }
}
