.catalogue{
  &-banner{
    margin-bottom: 30px;
  }
  &-content{
    margin: 35px 0;
    @include desde(m){
      display: flex;
      flex-direction: row;
    }
    &-left{
      display: none;
      padding: 20px 30px;
      @include desde(m){
        display: block;
        width: 305px;
        background: #fff;
        margin-right: 50px;
        align-self: flex-start;
      }

    }
    &-right{
      &-products{

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        @include desde(xs){
          grid-template-columns: repeat(2, 1fr);
        }
        @include desde(s){
          grid-template-columns: repeat(3, 1fr);
        }
        @include desde(m){
          width: 100%;
        }
      }
      @include desde(m){
        width: calc(100% - 310px);
        padding-bottom: 40px;
        // border-bottom: solid 1px #EBEBEB;
      }
    }
  }
}