.catalogue-search{
  padding-top: 40px;

  @include desde(m){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  &-left{
    .subtitle{
      padding-bottom: 10px;
    }
    .title{
      padding-bottom: 20px;
    }
    .title, .subtitle{

      @include desde(m){
        text-align: left;
        padding-bottom: 0;
      }
    }
  }
  &-right{
    @include desde(m){
      align-self: flex-end;
    }
  }
  &-result{
    text-align: center;
    color: #4A4A4A;
    font-family: $PrimarySemi;
    font-size: 16px;
    line-height: 20px;
  }
}