.category-grid{
  &-content{
    display: grid;
    grid-gap: 11px;
    grid-template-columns: repeat(2, 1fr);
    @media screen and(min-width: 500px){
      grid-template-columns: repeat(3, 1fr);
    }
    //@media screen and(min-width: 768px){
      //grid-template-columns: repeat(4, 1fr);
    //}
    
  }
  &-item{
    position: relative;
    &-image{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &-text{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #FFFFFF;
      font-family: "Proxima Nova";
      font-size: 22px;
      font-weight: bold;
      line-height: 36px;
      text-align: center;
      top: 0;
      left: 0;
    }
    &.large-start{
      @media screen and(min-width: 1024px){
        grid-column: 1;
        grid-row: 1 / span 2;  
      }
    }
    &.large-end{
      @media screen and(min-width: 1024px){
       grid-column: 3;
       grid-row: 2 / span 3;
      }
    }
  }
}