.checkout{
    &__wrapper{
        padding: 20px 0;
        border-bottom: solid 1px #eaeaea;
        &.no-line{
            border-bottom: 0;
        }
        &:nth-last-child(1){
            border-bottom: 0;
        }
    }
    &__box-num{
        display: flex;
        justify-content: center;
        //margin: 10px 0;
        padding-bottom: 15px;
        border-bottom: solid 1px #eaeaea;
    }
    &__num{
        font-family: $PrimaryBold;
        font-size: 28px;
    }
    &__name-box{
        font-family: $PrimaryBold;
        font-size: 20px;
        margin-bottom: 20px;
    }
    &__obligatorio{
        font-size: 13px;
        font-family: $PrimaryLight;
        margin-top: 5px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        input {
            margin-right: 2px;
        }
    }
    &__list-address{
        display: flex;
        flex-wrap: wrap;
    }
    &__list-cost{
        display: flex;
        flex-wrap: wrap;
    }
    &__recibir-pedido{
        margin-top: 30px;
       // margin-bottom: 50px;
    }
    &__list-comprobante{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        @include desde(s){
            margin-top: 60px;
        }
        
    }
}