.compra-exitosa-banco{
  background: #f7f7fb;
  padding: 55px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  .container{
    max-width: 694px;
  }
  justify-content: center;
  &-img{
    width: 203px;
    height: 203px;
    margin: 0 auto;
    margin-bottom: 38px;
  }
  &-title{
    font-family: $PrimaryBold;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    text-align: center;
  }
  &-subtitle{
    font-family: $PrimaryRegular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-top: 10px;
    margin-bottom: 45px;
  }
  &-desc{
    font-family: $PrimarySemi;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-bottom: 23px;
  }
  &-card{
    display: flex;
    background: #fff;
    max-width: 532px;
    padding: 23px 45px;
    margin: 0 auto;
    margin-bottom: 23px;
    flex-direction: column;
    @include desde(xs){
      flex-direction: row;
    }
    &-img{
      width: 113px;
      margin-right: 39px;
    }
    &-text{
      font-family: $PrimarySemi;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.79;
      letter-spacing: normal;
      text-align: left;
      p{
        margin-bottom: 5px;
      }
    }
    
  }
  &-email-and-tel{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 100%;
    @include desde(xs){
      grid-template-columns: 50% 50%;
    }
  }
  &-tel, &-email{
    font-family: $PrimaryRegular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background: #fff;
    color: #000;
    text-decoration: none;
    padding: 21px 0;
    display: block;
    width: 100%;
    @include desde(xs){
      width: calc(100% - 30px);
    }
    strong{
      font-family: $PrimarySemi;
    }
  }
  &-action{
    margin-top: 50px;
  }
}