.contacto{
    &__banner{
        width: 100%;
        position: relative;
        background: $black;
        height: 240px;
        @include desde(m){
            height: 380px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: .5;
        }
    }
    &__header{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &__titulo{
        font-size: 24px;
        color: $white;
        font-family: $PrimaryBold;
        font-weight: normal;
        text-align: center;
        margin-bottom: 12px;
        @include desde(m){
            font-size: 38px;
            margin-bottom: 20px;
            margin-top: 50px;

        }
    }
    &__descripcion{
        font-size: 14px;
        font-family: $PrimaryLight;
        text-align: center;
        color: $white;
        width: 80%;
        @include desde(m){
            font-size: 16px;
            width: 80%;
        }
    }
    &__wrapper{
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        @include desde(s){
            flex-direction: row;
        }
    }
    &__left{
        width: 100%;
        @include desde(s){
            flex: 230px 0 0;
        }
    }
    &__right{
        width: 100%;
        @include desde(s){
            margin-left: 20px;
            max-width: 768px;
        }
    }
    &__card{
        background-color: $blue;
        padding: 50px 24px;
    }
    &__atencion{
        color: #00b3e3;
        text-transform: uppercase;
        font-size: 20px;
        font-family: $PrimaryBold;
    }
    &-cajita{
        margin: 15px 0;
    }
    &__text{
        color: white;
        font-size: 16px;
        line-height: 1.3;
        font-family: $PrimaryLight;
    }
    &__resaltar{
        font-family: $PrimaryBold;
        color: white;
        text-transform: uppercase;
    }
    &-follow{
        margin: 30px 0 10px;
    }
    &__siguenos{
        color: white;
        font-size: 17px;
        display: flex;
        align-items: center;
        span{
            margin-left: 20px;
            font-size: 18px;
        }
    }
    &__box{
        padding: 30px;
        background-color: #fff;
    }
    &__escribir{
        font-family: $PrimaryBold;
        font-weight: normal;
        margin-bottom: 20px;
        @include desde(m){
            font-size: 22px;
        }
    }
    &__footer{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        @include desde(s){
            justify-content: flex-end;
        }
    }
}