.empresa{
  padding: 50px 0;
  &-cont{
    @include desde(m){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-left{
      @include desde(m){
        padding-right: 30px;
      }
    }
  }
  &-banner{
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    height: 280px;
    margin-top: 50px;
    @include desde(m){
      height: 380px;
      margin-top: 0;
    }
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.5);
      position: absolute;
      z-index: 1;
    }
    &-desc{
      font-family: $PrimaryLight;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-top: 15px;
      @include desde(m){
        font-size: 16px;
      }
    }
    &-title{
      font-family: $PrimaryBold;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.03;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      @include desde(m){
        font-size: 39px;
      }
    }
    &-cont{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 530px;
      padding: 0 30px;
      @include desde(m){
        padding: 0;
      }
    }
    &-img{
      position: relative;
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 100%;
    }
  }
  &-cont{
    margin-top: 90px;
    &-left{
      @include desde(m){
        max-width: 450px;
      }
    }
  }
  &-title{
    font-family: $PrimaryBold;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #002e6d;
    margin-bottom: 10px;
  }
  &-desc{
    font-family: $PrimaryLight;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    padding-bottom: 30px;
  }
  &-item{
    &-header{
      font-family: $PrimaryBold;
      font-size: 23px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      border-bottom: solid 1px #e0e0e0;
      margin-bottom: 10px;
      padding: 10px 0;
    }
    &-body{
      font-family: $PrimaryLight;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      padding-bottom: 40px;
    }
  }
  &-grid{
    display: grid;
    grid-template-columns: 100%;
    @include desde(480px){
      grid-template-columns: 50% 50%;
    }
    @include desde(m){
      grid-template-columns: 300px 300px;
    }
    &-item{
      height: 200px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0 45px;
      @include desde(m){
        height: 300px;
      }
      &-text{
        font-family: $PrimaryBold;
        font-size: 20px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #ffffff;
        max-width: 210px;
        width: 100%;
        text-align: center;
        @include desde(m){
          font-size: 24px;
          text-align: left;
        }
      }
      &-icon{
        width: 70px;
        height: 70px;
        margin-bottom: 28px;
        @include desde(m){
          align-self: flex-start;
        }
      }
      &:nth-child(1){
        background: #00b3e3;
      }
      &:nth-child(2){
        background: #002e6d;
      }
      &:nth-child(3){
        background: #979797;
      }
      &:nth-child(4){
        background: #ff8300;
      }
    }
  }
}





