.catalogue-content-right-filterOrder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  // padding: 20px;
  height: 63px;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 30px;
  @include desde(m){
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  .carrows{
    display: flex;
    flex-direction: row;
    @include hasta(m){
      margin: auto 0 0 auto;
    }
    .arrow:first-child{
      margin: 0 20px;
    }
  }
  &-end{
    justify-content: flex-end;
    display: flex;
    padding: 50px 0;
    .cselect{
      background: #fff !important;
    }
    .carrows{
      display: flex;
      flex-direction: row;
      @include hasta(m){
        margin: auto 0 0 auto;
      }
      .arrow:first-child{
        margin: 0 20px;
      }
    }
  }
}
.filterOrder{
  &-text{
    color: #99A8B0;
    font-family: $PrimaryRegular;
    font-size: 14px;
  }

  &-price, &-show, &-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
    @include desde(m){
      display: flex;
    }
    label{
      font-family: $PrimaryRegular;
      font-size: 13px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #99A8B0;
      margin-right: 14px;
    }
    select{
      background: transparent;
      border: none;
      color: #99a8b0;
      height: 100%;
      padding: 14px 17px;
      font-size: 14px;
      height: 45px;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    .cselect{
      border-radius: 30px;
      background-color: #e2e8ea;
      color: #99a8b0;
      border: solid 1px #e4e4e4;
      position: relative;
      &:after{
        content: "\e91a";
        font-family: "icomoon" !important;
        font-weight: bold;
        font-size: 6px;
        margin-right: 14px;
      }
    }
  }
  &-page{
    display: flex;
    // justify-content: flex-end;
    width: 100%;
    &.first{
      // justify-content: flex-start;
      @include desde(m){
        justify-content: flex-end;
      }
      @include desde(1164px){
        margin-top: 0;

      }
    }
    @include desde(m){
      width: auto;
    }
    @include desde-hasta(m, 1223px){
      margin-top: 20px;
      .arrow:first-child{
        margin-right: 2px !important;
      }
    }
    @include desde(1206px){
      margin-top: 0;
    }
    .cselect{
      margin-right: 10px;
    }
    span{
      // color: #99A8B0;
    }
  }
}
.filterLabels{
  &-header{
    font-family: $PrimaryBold;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #355669;
    padding: 15px 0px;
    margin-top: 20px;
  }
  &-footer{
    padding: 25px 0px;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  &-item{
    border-radius: 30px;
    background-color: #e2e8ea;
    padding: 8px 18px 8px 18px;
    font-family: $PrimaryRegular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #8c8e8e;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
    &:last-child{
      margin-bottom: 0;
    }
    span{
      font-size: 8px;
      margin-left: 20px;
    }
  }
  &-remove{
    font-family: $PrimaryRegular;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #99a8b0;
    a{
      text-decoration: none;
    }
  }
}
.filter{
  &-title{
    font-family: $PrimaryBold;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #000000;
    padding: 15px 0;
    border-top: solid 1px #e4e4e4;
    display: flex;
    flex-direction: row;
    span{
      font-size: 12px;
      margin-right: 20px;
    }
  }
  &-item{
    &.toggle{
      .filter-item-header{
        &:after{
          content: "\e91f";
          font-family: "icomoon" !important;
          font-size: 8px;
          
        }
      }
      .filter-item-body{
        display: none;
      }

    }
    &.active{
      .filter-item-header{
        &:after{
          content: "\e91a";
          font-size: 8px;
          position: absolute;
          top: 10px;
          right: 0;
          color: #000;
          font-weight: bold;
          bottom: 0;
          display: flex;
          align-items: center;
        }
      }
      .filter-item-body{
        display: block
      }
    }
    &-header{
      padding: 25px 0;
      padding-bottom: 10px;
      font-family: $PrimaryBold;
      font-size: 17px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #355669;
      border-top: solid 1px #e4e4e4;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-content: center;
      cursor: pointer;
      
    }
    &.limit{
      .filter-item-body ul{
        max-height: 150px;
        overflow-Y: auto;
      }
    }
    &-body{
      padding-bottom: 20px;
      padding-right: 20px;
      input{
        border: solid 1px #99a8b0;
        border-radius: 30px;
        width: 90%;
        height: 40px;
        padding: 0 20px;
        font-size: 13px;
        font-family: $PrimaryRegular;
      }
      
    }
  }
}

.input-check{
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 15px;
  color: #99a8b0;
  span{
    margin-left: 10px;
    font-size: 13px;
  }
  input{
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    &:checked{
      & ~ span{
        color: #99a8b0;
      }
      & ~ .input-checked{
        &:after{
          opacity: 1;
          color: #99a8b0;
        }
        &::before{
          border-color: #99a8b0;
        }
      }
    }
  }
}
.input-checked{
  width: 16px;
  height: 16px;
  font-family: $PrimaryRegular;
  span{
    width: calc(100% - 20px);
  }
  &::after{
    content: "\e91d";
    font-family: "icomoon" !important;
    font-size: 7px;
    position: absolute;
    top: 0;
    left: 3px;
    bottom: 1px;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    opacity: 0;
  }
  &:before{
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border:solid 1px #99a8b0;
    border-radius: 3px;
  }
}

.input-colors{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.input-color{
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  input{
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    &:checked ~ .input-checkeed{
      &:after{
        border-color: #355669;
      }
    }
  }
  .input-checkeed{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: -3px;
      left: -3px;
      border-radius: 50%;
      border:solid 1px #bfcfd3;
    }
  }
}
// .filter{
//   @include desde(m){
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     padding: 20px 0;
//     margin-bottom: 30px;
//     border-top: solid 1px #EBEBEB;
//     border-bottom: solid 1px #EBEBEB;
//   }
//   &-left{
    
//   }
//   &-right{
//     padding-top: 30px;
//     display: flex;
//     flex-direction: column-reverse;
//     @include desde(m){
//       padding-top: 0;
//       flex-direction: row;
//     }
//     &-item{
//       padding-bottom: 15px;
//       .btn{
//         width: 100%;
//       }
//       @include desde(m){
//         padding: 0;
//         .btn{
//           width: initial;
//           background: #448AFF;
//           color: #fff;
//         }
//       }
//     }
//   }
//   &-toggle{
//     @include hasta(m){
//       width: 100%;
//       max-width: 500px;
//       background: #fff;
//       max-height: 80%;
//       position: fixed;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       margin: auto;
//       padding: 0;
//       opacity: 0;
//       visibility: hidden;
//       transition: all .3s ease-in-out;
//       transform: translateY(200%);
//       z-index: 9999;
//       box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.4);
//     }
//     &.active{
//       visibility: visible;
//       opacity: 1;
//       transform: translateY(0);
//     }
//     @include desde(m){
//       position: initial;
//       display: flex;
//       flex-direction: row;
//     }
//     &-link{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         padding-bottom: 1rem;
//         position: fixed;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         margin: auto;
//         width: 95%;
//         z-index: 2;
//       &-btn{
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         background: red;
//         padding: 1rem 4rem;
//         border-radius: 100px;
//         color: white;
//         font-size: 14px;
//         text-decoration: none;
//         text-transform: uppercase;
//         letter-spacing: 1px;
//         font-weight: 500;
//         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

//       }
//       @include desde(m){
//         display: none;
//       }
//     }
//     &-header{
//       font-size: 30px;
//       width: 100%;
//       border-bottom: 1px solid #f3f3f3;
//       padding: 2rem 2rem 1.15rem 2rem;
//       width: 100%;
//       box-sizing: border-box;
//       display: flex;
//       justify-content: space-between;
//       font-family: $PrimaryBold;
//       @include desde(m){
//         color: #4A4A4A;
//         font-size: 14px;
//         letter-spacing: 2px;
//         line-height: 17px;
//         padding: 0;
//         display: flex;
//         align-items: center;
//         margin-right: 25px;
//         border: none;
//       }
//     }
//     &-result{
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       padding: 2rem;
//       width: 100%;
//       border-bottom: 1px solid #f3f3f3;
//       &-header{
//         font-size: 14px;
//         text-transform: uppercase;
//         font-weight: 500;
//         color: #525252;
//         letter-spacing: .5px;
//         margin: 0 0 .5rem .5rem;
//       }
//       @include desde(m){
//         display: none;
//       }
//     }
//     &-content{
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       width: 100%;
//       padding: 2rem;
//       box-sizing: border-box;
//       @include desde(m){
//         padding: 0;
//       }
//       &-header{
//         font-size: 14px;
//         text-transform: uppercase;
//         font-weight: 500;
//         color: #525252;
//         letter-spacing: .5px;
//         margin: 0 0 1rem .25rem;
//         @include desde(m){
//           display: none;
//         }
//       }
//       &-list{
//         width: 100%;
//         @include desde(m){
//           display: flex;
//           flex-direction: row;
//           margin: 0;
//         }
//         &-item{
//           display: flex;
//           flex-direction: column;
//           align-items: flex-start;
//           width: 100%;
//           margin: 0;
//           padding: 2rem 2rem 1.75rem 2rem;
//           border-bottom: solid 1px #eff0f1;
//           margin: 0;
//           box-sizing: border-box;
//           width: 100%;
//           @include desde(m){
//             padding: 0;
//             border: none;
//           }
//         }
//       }
//     }
//     &-item{
//       &-title{
//         cursor: pointer;
//         text-transform: uppercase;
//         letter-spacing: 1px;
//         font-weight: 500;
//         font-size: 13px;
//         display: block;
//         margin: 0;
//         @include desde(m){
//           display: none;
//         }
//       }
//       &-content{
//         display: none;
//         width: 100%;
//         max-height: 100%;
//         overflow: auto;
//         margin: 2rem 0 1rem 0;
//         @include desde(m){
//           display: inline-block;
//           margin: 0;
//         }
//       }
//     }
//     &-close{
//       @include desde(m){
//         display: none;
//       }
//     }
//   }
//   &-select{
//     border: solid 1px #EBEBEB;
//     border-radius: 30px;
//     cursor: pointer;
//     text-align: center;
//     @include desde(m){
//       margin-right: 18px;
//       text-align: left;
//     }
//     select{
//       cursor: pointer;
//       padding: 0.7rem 1.8rem;
//       background: none;
//       border: none;
//       outline: none;
//       font-size: 11px;
//       font-family: $PrimaryRegular;
//       letter-spacing: .7px;
//       -webkit-appearance: none;
//       -moz-appearance: none;
//       -ms-appearance: none;
//     }
//   }
// }