$footer-color: #f8f8f8 !global;
.row-footer{
    //padding-top: 40px;
    background-color: #FFBF51;
    position: relative;
    z-index: 2;
}
.footer{
    display: flex;
    flex-direction: column;
    &-logo{
        max-width: 150px;
    }
    @include desde(m){
        //height: em(70px);
        //flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: em(50px) 0;
        padding-bottom: 0;
        //background-color: $footer-color;
    }
    @include desde(l){
        max-width: 1400px;
        padding: em(50px) 0;
        padding-bottom: 0;

    }
    &__img{
        display: none;
        @include desde(m){
            display: flex;
            width: 120px;
        }
        @include desde(l){
            flex: 25% 0 0;
        }
    }
    &__box-img{
        width: 120px;
    }
    &__left{
        // @include desde(m){
        //     display: flex;
        // }
        @include desde(m){
            display: flex;
            width: 100%;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        width: 100%;
        @include desde(m){
            flex-direction: row;
            //align-items: center;
            justify-content: flex-start;
          //  margin-left: 100px;
            padding: 0 0px;
        }
        @include desde(l){
            width: 100%;
            margin-left: 0;
        }
    }
    &__item{
       /// padding: 20px 0;
       // border-bottom: solid 1px #e5e5e5;
        // @include desde(m){
        //     margin-left: em(80px);
        //     &:nth-child(1){
        //         margin-left: 0;
        //     }
        // }
        &.last{
            order: -1;
            @include hasta(m){

            }
            @include desde(m){
                order: initial;
            }
        }
        @include desde(m){
            width: calc(100% / 4);
            margin-left: 0;
            border-bottom: 0;
        }
        &.logo{
            display: none;
            @include desde(m){
                display: block;
            }
        }
        
    }
    &__link{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-family: $PrimaryRegular;
        border-bottom: solid 1px #e5e5e5;
        font-size: em(14px);
        padding: 20px 0;
        &-text{
            margin-left: 20px;
            color: white;
            text-transform: uppercase;
        }
        @include desde(m){
            border-bottom: 0;
            justify-content: flex-start;
            padding: em(5px) em(10px);
            font-size: em(13px);
            padding: 0;
            letter-spacing: 0.50px;
            &-text{
                margin-left: 0;
                // color: #00b3e3;
                font-family: $PrimaryBold;
            }
        }
    }
    &__icon-down{
        display: flex;
        align-items: center;
        font-size: 9px;
        margin-right: 20px;
        font-weight: bolder;
        color: white;
        @include desde(m){
            display: none;
        }
    }
    &__right{
        // border-bottom: solid 1px #e5e5e5;
        // @include desde(m){
        //     border-bottom: 0;
        // }
        @include desde(l){
            flex: 215px 0 0;
        }
    }
    &__extra{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 0 0;
        @include desde(m){
            padding: 0;
            align-items: flex-start;
        }
    }
    &__bookclain{
        display: flex;
        align-items: center;
        padding: 1em 2em;
        background-color: #f7f7f7;
        color: $black;
        font-family: $PrimaryLight;
        font-size: em(13px);
        order: 2;
        margin-top: 12px;
        @include desde(m){
            margin-right: em(53px);
            order: 2;
            margin-top: 70px;
            padding: 0;
            background: none;
            color: #5d5d5d;
            transition: color .1s ease-in-out;
            &:hover{
                color: $black;
                transition: color .1s ease-in-out;
            }
        }
    }
    &__social{
        display: flex;
        flex-direction: column;
    }
    &__social-follow{
        display: none;
        @include desde(m){
            display: flex;
            font-size: em(13px);
            font-family: $PrimarySemi;
            letter-spacing: 0.50px;
        }
        
    }
    &__social-list{
        display: flex;
        align-items: center;
        margin: 0;
        @include desde(m){
            margin-top: 20px;
        }
    }
    &__social-item{
        margin-left: em(4px);
        &:nth-child(1){
            margin-left: 0;
        }
    }
    &__social-link{
        display: flex;
        align-items: center;
        padding: em(5px);
        color: $black;
        font-family: $PrimaryLight;
        font-size: em(13px);
        transition: color .1s ease-in-out;
        &:hover{
            color: $black;
            transition: color .1s ease-in-out;
        }
    }
    &__social-icon{
        display: flex;
        align-items: center;
        font-size: 1.75em;
        @include desde(m){
            font-size: 22px;
            color: #5d5d5d;
            transition: color .1s ease-in-out;
            &:hover{
                color: $black;
                transition: color .1s ease-in-out;
            }
        }
        &.claim{
            margin-right: em(12px);
            @include desde(m){
                font-size: 28px;
                margin-right: 10px;
            }
        }
    }
    &__sec-list{
        display: none;
        flex-direction: column;
        @include desde(m){
            display: flex;
            margin-top: 20px;
            &.atencion{
                .footer__sec-item{
                    margin-bottom: 7px;
                    &.telf{
                        display: flex;
                        flex-direction: column;
                        small{
                            font-size: 10px;
                            color: #fff;
                            font-family: $PrimaryRegular;
                        }
                    }
                }
            }
        }
    }
    &__sec-item{
        padding: 20px 0;
        border-bottom: solid 1px #eaeaea;
        &.direction{
            .footer__sec-link{
                font-family: $PrimaryRegular;
            }
        }
        @include desde(m){
            padding: 0;
            border-bottom: 0;
            background: none;
            margin-bottom: 10px;
            &.telf{
                margin-top: 5px;
            }
            &:nth-last-child(1){
                margin-bottom: 0;
            }
        }
    }
    &__sec-link{
        color: #fff;
        font-family: $PrimaryRegular;
        padding:0 20px 0 40px;
        font-size: 11px;
        text-transform: uppercase;
        &.telf{
            font-size: 14px;
            font-family: $PrimaryBold;
            @include desde(m){
                font-size: 17px;
            }
        }
        @include desde(m){
            position: relative;
            padding: 0;
            text-transform: initial;
            font-size: em(12px);
        }
    }
    &__bottom{
        display: flex;
        flex-wrap: wrap;
        // width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        @include desde(m){
            // padding: 0 40px;
            margin-top: 20px;
            padding-bottom: 20px;
            align-items: center;
        }
    }
    &__libro{
        // width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 2;
        @include desde(s){
            width: 25%;
            order: 0;
            justify-content: flex-start;
        }
    }
    &__icono-libro{
        font-size: 24px;
        padding-right: 5px;
        color: white;
    }
    &__libro-text{
        // width: 60%;
        color: white;
        line-height: 1.1;
        font-family: $PrimaryBold;
        font-size: 14px;
    }
    &__bancos{
        width: 100%;
        display: flex;
        order: 1;
        justify-content: center;
        padding-bottom: 20px;
        flex-wrap: wrap;
        @include desde(s){
            flex-wrap: nowrap;
            width: 50%;
            order: 0;
            padding-bottom: 0;
            // justify-content: flex-start;
        }
        span{
            font-size: 19px;
            color: white;
            background: #fff;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            &:nth-last-child(1){
                margin-right: 0;
            }
        }
    }
    &__red{
        display: none;
        width: 50%;
        align-items: center;
        justify-content: center;
        order:2;
        color: #fff;
        font-size: 12px;
        font-family: $SecondaryBold;
        @include desde(s){
            display: flex;
            order: 0;
            width: 14%;
            justify-content: flex-end;
        }
        @include desde(m){
            justify-content: flex-start;
        }

    }
    &__follow{
        display: flex;
        color: white;
        align-items: center;
        font-size: 12px;
        margin-left: 15px;
        &:hover{
            color: #FF9E16;
        }
    }
    &__fb{
        // font-weight: bolder;
        font-size: 20px;
        @include desde(xs){
            margin-left: 10px;
        }
    }
    &-subscribete{
        position: relative;
        margin-top: 20px;
        input{
            display: inline-block;
            width: calc(100% - 100px);
            height: 37px;
            border: none;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        a{
            position: absolute;
            top: 0;
            right: 0;
            width: 114px;
            height: 37px;
            background: #FF9E15;
            display: inline-block;
            border-radius: 30px;
            display: inline-flex;
            color: #fff;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            font-family: $PrimaryBold;
        }
    }
}

.copyright{
    text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 20px 0px;
  padding-top: 0;
//   border-top: solid 1px rgba($color: #FFFFFF, $alpha: .35);
  &-brand{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2px;
    color: white;
  }
  &__box-left{
    font-family: $PrimaryRegular;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  &__box-right{
    font-family: $PrimaryRegular;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  &__made-by{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-family: $PrimaryRegular;
    &.last{
        margin-top: 5px;
    }
    span{
        color: #FF9E15;
    }
  }
}