.header{
  background: #fff;
  position: relative;
  &-search-box{
    position: absolute;
    bottom: -90px;
    padding: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    right: 5%;
    width: 100%;
    max-width: 400px;
    z-index: -1;
    opacity: 0;
    &.active{
      opacity: 1;
      z-index: 100;
    }
    input{
      width: 100%;
      height: 100%;
      border: none;
      font-family: $PrimarySemi;
    }
  }
  &-menu{
    display: none;
    &-top{
      &-offer{
        background: #FF9E18;
        font-family: $PrimarySemi;
        font-size: 10px;
        padding: 4px 8px;
        display: block;
        color: #fff;
        position: relative;
        z-index: 2;
        &:after{
          content: '';
          background: #ff9e15;
          top: 0;
          right: -7px;
          bottom: 0;
          width: 12px;
          height: 12px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          z-index: -1;
          margin: auto;
        }
        @include hasta(m){
          margin-left: 40px;
          width: 170px;
        }
      }
    }
    @include desde(1100px){
      &-p{
        &-title{
          font-family: $PrimaryBold;
          font-size: 24px;
          color: #355669;
        }
        &-list{
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
        &-link{
          margin-bottom: 30px;
          width: 50%;
          a{
            font-family: $SecondaryRegular;
            font-size: 13px;
            color: #355669;
            &:hover{
              color: #62D0DF;
            }

          }
        }
      }
      display: block;
      &-logo{
        margin-top: -30px;
        width: 120px;
        position: relative;
        z-index: 3;
      }
      &-top{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 20px 0;
        padding-bottom: 10px;
       
        &-link{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 20px;
          font-family: $PrimarySemi;
          font-size: 13px;
          cursor: pointer;
          color: #355669;
          &.account{
            position: relative;
            justify-content: center;
            &:hover{
              .box-account{
                display: flex;
              }
            }
          }
          span{
            color: #62D0DF;
            margin-top: -4px;
            margin-right: 8px;
            font-weight: bold;
          }
        }
      }
      &-bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 33px;
      }
      &-right{
        ul{
          display: flex;
          flex-direction: row;
          position: relative;
          margin: 0;
          li{
            font-size: 10px;
            font-family: $SecondaryBold;
            color: #355669;
            margin-left: 15px;
            cursor: pointer;
            padding: 10px 0;
            @include desde(1200px){
              font-size: 11px;
            }
            @include desde(1300px){
              font-size: 13px;
            }
            
            ul{
              position: absolute;
              width: 100%;
              background: #fff;
              top: 33px;
              left: 0;
              z-index: -1;
              opacity: 0;
              padding: 25px 70px;
            }
            &:hover{
              ul{
                opacity: 1;
                z-index: 10;
                display: flex;
                justify-content: space-between;
            
              }
            }
          }
        }
      }
    }
  }





  &-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    @include desde(1100px){
      display: none;
    }

    &-logo{
      margin-left: 10px;
      margin-top: 15px;
      img{
        width: 23vw;
        max-width: 100px;
      }
    }
    &-btn{
      width: 47px;
      height: 55px;
      background: #62D0DF;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      span{
        width: 20px;
        height: 3px;
        background: #fff;
        display: block;
        pointer-events: none;
        margin-bottom: 5px;
      }
    }
    &-item{
      color: #62D0DF;
      font-weight: normal;
      font-size: 20px;
      margin-left: 20px;
      display: binline-lock;
      &.cart{
        position: relative;
        .header-mobile-item-num{
          position: absolute;
          top: -10px;
          right: -11px;
          background: #FF9E15;
          border-radius: 50%;
          font-size: 10px;
          width: 20px;
          color: #fff;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 2px;
        }
      }
    }
    &-right{
      justify-self: flex-end;
      align-self: center;
      margin: auto 0 0 auto;
      padding-right: 30px;
      margin-bottom: auto;
      margin-top: auto;
    }
    &-nav{
      &-header{
        
        position: relative;
      }
      &-close{
        position: absolute;
        top: 20px;
        right: 20px;
        color: #355669;
      }
      &-redes{
        height: 55px;
        display: flex;
        align-items: center;
        padding: 0 40px;
        &-link{
          margin-right: 10px;
        }
      }
      &-end{
        height: 109px;
        background: #62D0DF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        color: #fff;
        a{
          color: #fff;
        }
      }
      &-body{
        background: #fff;
        padding-top: 20px;
      }
      &-content{
        height: 100%;
        overflow-y: scroll;
      }
      &-ctn{
        position: fixed;
        width: 320px;
        background: #EBF5F9;
        z-index: 100;
        height: 100%;
        top: 0;
        left: -100vw;
        &.active{
          left: 0;
        }
      }
      &-register{
        height: 273px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &-item{
          margin-bottom: 30px;
          &:last-child{
            margin-bottom: 0;
          }
          p{
            font-size: 15px;
            font-family: $PrimaryBold;
            color: #355669;
            margin-bottom: 10px;
          }
        }
      }
      &-list{
        &-link{
          &.active{
            .header-mobile-nav-list-arrow{
              transform: rotate(180deg);
            }
            ul{
              display: block;
            }
          }
        }
        &-arrow{
          &::before{
            content: '\e91a';
            font-family: 'icomoon' !important;
            font-size: 6px;
            font-weight: bold;
          }
        }
        &-header{
          color: #355669;
          font-size: 14px;
          font-family: $PrimarySemi;
          padding: 13px 40px;
          border-bottom: solid 1px #DEDEDE;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          position: relative;
        }
        ul{
          padding: 0px 50px;
          padding-top: 20px;
          display: none;
          li{
            padding: 5px 0;
            color: #355669;
            font-family: $PrimaryRegular;
            font-size: 13px;
          }
        }
      }
    }
  }
  &-message{
    background: #FF9E15;
    text-align: center;
    height: 24px;
    padding: 25px 10px;
    @include desde(m){
      padding: 0;
    }

    a{
      // padding: 15px 0;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: #fff;
      width: 100%;
      height: 100%;
      font-family: $PrimaryBold;
      letter-spacing: 2px;
      font-size: 11px;
      strong{
        font-family: $SecondaryBold;
        font-size: 11px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

// .header{
//   &-login{
//     &-enter{
//       border-bottom: solid 1px #f4f4f4;
//     }
//     &-enter, &-register{
//       display: flex;
//       flex-direction: column;
//       justify-content: flex-start;
//       align-items: center;
//       text-align: left;
//       padding: 35px 32px;
//       p{
//         font-size: 14px;
//         width: 100%;
//         margin-bottom: 10px;
//       }
//     }
    
//     &-box{
//       position: absolute;
//       min-width: 250px;
//       min-height: 200px;
//       border-radius: 2px;
//       display: none;
//       background-color: #ffffff;
//       top: 40px;
//       right: -50%;
//       box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.07);
//       &::after{
//         content: "";
//         position: absolute;
//         top: -14px;
//         width: 0;
//         height: 0;
//         border-style: solid;
//         border-width: 0 10px 20px 10px;
//         border-color: transparent transparent #fff transparent;
//         right: 0;
//         left: 0;
//         margin: auto;
//       }
//       &-header{

//       }
//       &-body{

//       }
//       &-footer{
        
//       }

//     }
//   }
//   &-box-shadow{
//     @include desde(m){
//       height: 1px;
//       background-color: #ffffff;
//       box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
//       margin-bottom: 3px;
//     }
//   }
//   &-message{
//     background-color: #002e6d;
//     padding: 12px 35px;
//     position: relative;
//     &-text{
//       font-family: $PrimarySemi;
//       font-size: 12px;
//       font-style: normal;
//       font-stretch: normal;
//       line-height: normal;
//       letter-spacing: 0.7px;
//       text-align: center;
//       color: #ffffff;
//     }
//     &-close{
//       position: absolute;
//       right: 11px;
//       top: 9px;
//       bottom: 0;
//       margin: auto;
//       display: flex;
//       align-items: flex-start;
//       color: #fff;
//     }
//   }
//   &-logo{
//     width: 130px;
//     font-size: 0;
//     @include desde(s){
//       width: 150px;
//     }
//     @include desde(m){
//       width: 200px;
//     }
//   }
//   &-top{
//     padding: 11px 0;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     height: 93px;
//     @include desde(m){
//       align-items: center;
//     }
//     &-left{

//     }
//     &-middle{
//       display: none;
//       @include desde(m){
//         display: block;
//         width: 25%;
//       }
//       @include desde(1100px){
//         width: 35%;
//       }
//       @include desde(1300px){
//         width: 45%;
//       }
//       &-search{
//         position: relative;
//         @include desde(m){
//           display: flex;
//           height: 50px;
//           border-radius: 25px;
//           background-color: #f2f2f2;
//           margin-right: 30px;
//           input{
//             width: 100%;
//             border: none;
//             background: none;
//             height: 100%;
//             padding: 0 33px;
//             font-family: $PrimarySemi;
//             font-size: 12px;
//             font-style: normal;
//             font-stretch: normal;
//             line-height: normal;
//             letter-spacing: normal;
//             color: #979797;
//           }
//           span{
//             position: absolute;
//             top: 0;
//             right: 20px;
//             bottom: 0;
//             display: flex;
//             align-items: center;
//           }
//         }
        
//       }
//     }
//     &-bottom{
//       display: flex;
//       flex-direction: row;
//       margin-bottom: 6px;
//       height: 48px;
//     }
    
//   }
//   &-icon-link{
//     display: flex;
//     flex-direction: row;
//     margin-right: 22px;
//     align-items: center;
//     cursor: pointer;
//     position: relative;
//     border-right: solid 1px #e0e0e0;
//     padding-right: 22px;
//     color: #000000;
//     &:last-child{
//       padding-right: 0px;
//       margin-right: 0;
//       border-right: none;
//     }
//     &-text{
//       display: none;
//       font-family: $PrimarySemi;
//       font-size: 12px;
//       font-style: normal;
//       font-stretch: normal;
//       line-height: normal;
//       letter-spacing: normal;
//       color: #000000;
//       margin-left: 20px;
//       @include desde(m){
//         display: block;
//       }
//     }
//     &.cart{
//       .header-icon-link-text{
//         color: #ff8300;
//         font-size: 14px;
//       }
//       span{
//         position: relative;
//       }
//       .number{
//         width: 20px;
//         height: 20px;
//         background-color: #ff8300;
//         border-radius: 50%;
//         color: #fff;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         position: absolute;
//         top: -10px;
//         right: -10px;
//         font-family: $PrimaryRegular;
//         font-size: 12px;
//         font-weight: 600;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: normal;
//         letter-spacing: normal;
//         text-align: center;
//       }
//     }
//     &:hover{
//       .header-login-box{
//         z-index: 2;
//         display: block;
//       }
//     }
//     span{
//       font-size: 18px;
//     }
//   }
//   &-mobile{
//     display: flex;
//     @include desde(m){
//       display: none;
//     }
//     &-menu{
//       width: 51px;
//       height: 45px;
//       background-color: #00b3e3;
//       display: flex;
//       justify-content: center;
//       flex-direction: column;
//       align-items: center;
//       span{
//         width: 20px;
//         height: 3px;
//         background-color: #fff;
//         display: block;
//         margin-bottom: 4px;
//         &:last-child{
//           margin-bottom: 0;
//         }
//       }
//     }
//     &-search{
//       width: calc(100% - 51px);
//       position: relative;
//       span{
//         position: absolute;
//         top: 0;
//         right: 22px;
//         bottom: 0;
//         display: flex;
//         align-items: center;
//       }
//       input{
//         width: 100%;
//         height: 100%;
//         border: none;
//         background-color: #f2f2f2;
//         box-shadow: 0 2px 10px 0 rgba(234, 234, 234, 0.5);
//         font-family: $PrimarySemi;
//         font-size: 9px;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: normal;
//         letter-spacing: normal;
//         color: #979797;
//         padding: 0 74px 0 24px;
//       }
//     }
//   }
//   &-menu{
//     position: fixed;
//     min-width: 260px;
//     max-width: 90%;
//     width: 100%;
//     height: 100%;
//     background-color: #fff;
//     z-index: 30;
//     top: 0;
//     left: 0;
//     transform: translateX(-100%);

//     &.active{
//       transform: translateX(0%);
//       transition: transform .25s cubic-bezier(1, 0.56, 0, 0.2);
//     }
    
    
//     &-header{
//       padding: 12px 19px;
//       border-bottom: solid 1px #e0e0e0;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       padding-right: 11px;
//       &-left{
//         font-family: $PrimarySemi;
//         font-size: 13px;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: normal;
//         letter-spacing: normal;
//         color: #979797;
//         span{
//           font-size: 7px;
//         }
//       }
//       &-right{
//         font-size: 15px;
//         color: #00b3e3;
//       }
//     }
//     &-list{
//       border-top: solid 1px #e0e0e0;
//     }
//     &-link{
//       border-bottom: solid 1px #e0e0e0;
//       padding: 14px 30px 14px 19px;
//       position: relative;
//       display: block;
//       &-img{
//         display: none;
//         width: 62px;
//         height: 62px;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//       }
//       &-text{
//         font-family: $PrimaryRegular;
//         font-size: 16px;
//         font-weight: normal;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: normal;
//         letter-spacing: normal;
//         color: #000000;
//         @include desde(m){
//           color: #979797;

//         }

//       }
//       &:after{
//         content: "\e919";
//         font-family: "icomoon" !important;
//         position: absolute;
//         color: #000000;
//         top: 0;
//         right: 15px;
//         bottom: 0;
//         display: flex;
//         font-size: 8px;
//         align-items: center;
//         font-size: 11px;
//         @include desde(m){
//           color: #979797;
//         }
//       }

//     }
//     &-content{
//       padding: 15px 0px 0px 0;
      
//       &-item{
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         margin-bottom: 19px;
//         p{
//           margin-bottom: 9px;
//           font-family: $PrimaryRegular;
//           font-size: 13px;
//           font-weight: normal;
//           font-style: normal;
//           font-stretch: normal;
//           line-height: normal;
//           letter-spacing: normal;
//           text-align: center;
//           color: #4a4a4a;
//         }
//       }
//       &-pedido{
//         padding: 15px 11px;
//         font-family: $PrimarySemi;
//         font-size: 12px;
//         font-style: normal;
//         font-stretch: normal;
//         line-height: normal;
//         letter-spacing: normal;
//         color: #000000;
//         border-bottom: solid 1px #e0e0e0;
//         border-top: solid 1px #e0e0e0;
//         span{
//           margin-right: 10px;
//         }
//       }
//     }
//     &-ctn{
//       overflow-y: auto;
//       height: 100%;
//     }
//     @include desde(m){
//       position: initial;
//       transform: translateX(0);
//       background-color: transparent;
//       max-width: 100%;
//       // padding-top: 10px;
//       .header-menu{
//         &-header{
//           display: none;
//         }
//         &-content{
//           display: none;
//         }
//         &-list{
//           border: none;
//           display: flex;
//           flex-direction: row;
//           margin: 0;
//           min-height: 151px;
//         }
//         &-link{
//           border: 0;
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           align-items: center;
//           text-align: center;
//           padding: 0;
//           padding: 10px 15px;
//           // margin-right: 10px;
//           width: 120px;
//           cursor: pointer;
//           &:last-child{
//             margin-right: 0;
//           }
//           &-img{
//             display: flex;
//             margin-bottom: 10px;
//             img{
//               object-fit: contain;
//               object-position: center;
//             }
//           }
//           &-text{
//             height: calc(100% - 72px);
//           }
//           &::after{
//             content: none;
//           }
//           &:hover, &.active{
//             background-color: #f7f7fb;
//             border-bottom: solid 2px #00b3e3;
//           }
//         }
//       }
//     }
//   }
//   @include desde(m){
//     border-bottom: solid 1px #f2f2f2;
//   }
//   &-search{
//     &-box{
//       display: none;
//       position: absolute;
//       left: 20px;
//       top: 50px;
//       z-index: 20;
//       width: 90%;
//       min-height: 461px;
//       border-radius: 0 0 2px 2px;
//       background-color: #ffffff;
//       padding: 30px 0px 20px 0px;
//       box-shadow: 0 4px 1px 3px #00000026;
//       &.active{
//         display: block;
//       }
//       &-action{
//         text-align: center;
//       }
//       &-item{
//         display: flex;
//         flex-direction: row;
//         padding: 16px 0;
//         border-bottom: solid 1px #f2f2f2;
//         padding: 10px 40px;
//         margin-bottom: 10px;
//         align-items: center;
//         &-left{
//           margin-right: 28px;
//           width: 70px;
//           height: 70px;
//           img{
//           }
//         }
//         &-name{
//           font-family: $PrimarySemi;
//           font-size: 13px;
//           font-style: normal;
//           font-stretch: normal;
//           line-height: normal;
//           letter-spacing: normal;
//           margin-bottom: 6px;
//         }
//         &-price{
//           font-family: $PrimaryLight;
//           font-size: 12px;
//           font-weight: normal;
//           font-style: normal;
//           font-stretch: normal;
//           line-height: 1.5;
//           letter-spacing: normal;
//           color: #4a4a4a;
//         }
//       }
//     }
//   }
// }



.box-account{
  display: none;
  @include desde(m){
    flex-direction: column;
    position: fixed;
    top: 70px;
    padding: 20px;
    min-width: 220px;
   // transform: translateX(41%);
    border-radius: 3px;
    // border: solid 1px #f1f1f1;
    box-shadow: -1px 5px 4px 0px rgba(0, 0, 0, 0.21);
  //   transform: translateX(-50%);
    z-index: 1000;
    cursor: default;
    transition: all .15s ease-in-out;
    & * .btn{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
    }
    background-color: $white;
  //   &::before{
  //     content: "";
  //     position: absolute;
  //     right: 50%;
  //     top: 0;
  //     width: 0;
  //     height: 0;
  //     border-right: 8px solid transparent;
  //     border-bottom: 8px solid $white;
  //     margin-top: -8px;
  //     z-index: 10;
  //     border-left: 8px solid transparent;
  //     border-top: none;
  //     margin-right: -4px;
  //   }
    &::after{
      content: "";
      position: absolute;
      top: -14px;
      left: calc(50% - 10px);
      // width: 100%;
      height: 18px;
      background-color: transparent;
      z-index: 10;
      border-top: none;
      border-right: 10px solid transparent;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-bottom: 10px solid #ececec;
      // right: 0;
      // margin: auto;
    }
    &__box{
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: solid 1px #f1f1f1;
      &:nth-last-child(1){
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  &__text{
      margin-bottom: 12px;
      font-size: em(13px);
      text-align: center;
      font-family: $PrimaryRegular;
    }
    &.enter{
        padding: 0 !important;
    }
  }
  &__welcome{
      display: flex;
      flex-direction: column;
      &-header{
          border-bottom: solid 1px #ededed;
          padding: 20px 30px;
          .name{
              color: $black;
              font-family: $PrimaryRegular;;
              font-weight: normal;
              font-size: 20px;
          }
          .hello{
              color: #a7a7a7;
              font-family: $PrimaryRegular;
              font-weight: normal;
              font-size: 13px;
              margin-bottom: 2px;
          }
      }
      &-body{
          padding: 15px 30px;
          border-bottom: solid 1px #ededed;
          .box-account__list{
              .box-account__item{
                  margin-bottom: 16px;
                  a{
                      font-family: $PrimaryRegular;;
                      font-weight: normal;
                      color: #585858;
                      font-size: 13px;
                      position: relative;
                      &:hover{
                          color: $black;
                      }
                      &.hover-arrow{
                          margin-top: 0px;
                      }
                  }
              }
          }
      }
      &-footer{
          padding: 20px 30px;
          font-family: $PrimaryRegular;;
          font-weight: normal;
          font-size: 13px;
          color: #585858;
          #btn_logout{
              cursor: pointer;
          }
      }
  }
  &__hello{
      font-family: $PrimaryRegular;;
      font-size: em(12px);
      color: $black;
  }
  &__name{
      font-family: $PrimaryRegular;;
      font-size: em(16px);
  }
  &__list{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
  }
  &__item{
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      &:nth-last-child(1){
          margin-bottom: 0;
      }
  }
  &__link{
      color: $black;
      font-size: em(13px);
      font-family: $PrimaryRegular;;
  }
  &__exit{
      width: 100%;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
  }
}