.header-pedido{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    // background-color: #fff;
    @include desde(m){
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: $PrimaryBold;
        color: #355669;
        font-size: 25px;
        padding: 15px 30px;
    }
    &__left{
        
    }
    &__pedido{
        font-size: 18px;
        font-family: $PrimaryBold;
        @include desde(m){
            font-size: 22px;
        }
    }
    &__right{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        grid-gap: 10px;
        @include desde(s){
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            width: 100%;
            flex-direction: row;
            justify-content: center;
        }
        @include desde(m){
            max-width: 620px;
            margin-top: 0;
            justify-content: space-between;
        }
    }
    &__box{
        background-color: #f7f7fb;
        width: 100%;
        padding: 20px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:nth-child(1){
            grid-column: 1 / span 2;
            width: 100%;
        }
        &:nth-child(2){
            grid-row: 2;
            grid-column: 1;
            width: 100%;
        }
        &:nth-child(3){
            grid-row: 2;
            grid-column: 2 / span 1;
            width: 100%;
        }
        @include desde(s){
            width: auto;
            margin-right: 20px;
            margin-bottom: 0;
            &:nth-child(1){
                max-width: 350px;
            }
            &:nth-child(2){
                max-width: 135px;
            }
            &:nth-child(3){
                max-width: 135px;

            }
        }
        @include desde(m){
            margin-top: 0;
            align-items: flex-start;
            padding: 12px 30px 15px 20px;
            
        }
    }
    &__title{
        font-family: $PrimaryLight;
        font-size: 12px;
        color: #4a4a4a;
    }
    &__sub{
        font-family: $PrimarySemi;
        font-size: 13px;
    }
}