.home-grid-promotion{
  &-title{
    font-family: $PrimaryBold;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 40px 0;
    color: #000000;
  }
  &-content{
    @include desde(640px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row dense;
      grid-auto-flow: row;
      grid-gap: 40px;
  
    }
  }
  &-right{
    @include desde(640px){
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 594px;
      .home-grid-promotion-item{
        // height: 224px;
      }
    }
  }
  &-item{
    box-shadow: 1px 1px 20px 7px #0000001f;
    img{
      width: 100%;
    }
    @include desde(640px){
      &:last-child{
        grid-column: 2;
      }
    }
  }
}