.home-category{
  justify-content: center;
  position: relative;
  z-index: 2;
  grid-gap: 0;
  display: flex;
  @include desde(s){
    display: grid;
    margin-top: -35px;
    grid-template-columns: repeat(3, minmax(200px, 412px));
  }
  &-item{
    display: block;
    width: 33.333333333%;
    cursor: pointer;
    @include desde(s){
      width: 100%;
      max-width: 412px;
      height: 270px;
    }
    img{
      width: 100%;
    }
  }
}