.libro-reclamo{
  max-width: 1140px;
  margin: 0px auto;
  padding: 88px 0;
  
  &-box{
    background-color: #ffffff;
    padding: 49px 30px;
    @include desde(s){
      padding: 49px 73px;
    }

  }
  &-title{
    font-family: $PrimaryBold;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }
  &-desc{
    margin-top: 23px;
  }
  &-desc, &-datos{
    color: #4a4a4a;
    font-family: $PrimaryRegular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    max-width: 806px;
  }
  &-datos{
    margin-top: 23px;
    strong{
      font-family: $PrimarySemi;
      color: #000;
    }
  }
  &-form{
    &-desc{
      font-family: $PrimaryRegular;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #4a4a4a;
      margin-bottom: 25px;
      strong{
        color: #000;
      }
    }
    &-box{
    margin-top: 70px;
    }
    &-select{
      height: 45px;
      border-radius: 2px;
      border:solid 1px #e0e0e0;
      &-group{
        display: flex;
        flex-direction: row;
        .libro-reclamo-form-select{
          width: 90px;
          padding: 0 18px;
        }
        input{
          width: calc(100% - 90px);
          border-left: none;
        }
      }
      select{
        background: transparent;
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
        font-family: $PrimaryRegular;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: #979797;
        letter-spacing: normal;
      }
    }
    &-title{
      font-family: $PrimarySemi;
      font-size: 19px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;
      margin-bottom: 37px;
    }
    &-input{
      display: flex;
      flex-direction: column;
      &.input-fluid{
        grid-column: 1 / -1;
      }
      label{
        font-family: $PrimaryRegular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000;
        margin-bottom: 6px;
        span{
          color: #ff8300;
        }
      }
      textarea{
        height: 70px;
        border-radius: 2px;
        border:solid 1px #e0e0e0;
        font-family: $PrimaryRegular;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: #979797;
        letter-spacing: normal;
        padding: 0 18px;
      }
      input{
        height: 45px;
        border-radius: 2px;
        border:solid 1px #e0e0e0;
        font-family: $PrimaryRegular;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: #979797;
        letter-spacing: normal;
        padding: 0 18px;
      }
    }
    &-inputs{
      display: grid;
      grid-gap: 17px;
      grid-template-columns: 1fr;
      @include desde(s){
        grid-template-columns: repeat(2, minMax(25%, 50%));
      }
      @include desde(m){
        grid-template-columns: repeat(3, minMax(25%, 33.333333333%));
      }
    }
  }
  &-action{
    margin-top: 23px;
    text-align: center;
  }
}

.campos-obligados{
  font-family: $PrimaryRegular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 17px;
  span{
    color: #ff8300;
  }
}