.login{
  display: flex;
  flex-direction: column;
 // max-width: 800px;
 padding-top: 20px;
 width: 100%;
 padding-bottom: 40px;
 @include desde(768px){
   padding-left: 40px;
 }
 .container{
 }
 @include desde(s){
   display: grid;
   max-width: 878px;
   padding-top: 60px;
   padding-bottom: 200px;
   grid-template-columns: repeat(2, minmax(50%, 400px));
   grid-auto-flow: row dense;
   grid-column-gap: 70px;
   justify-content: center;
 }
 // @include desde(m){
 //   grid-gap: 100px;
 // }
 &__log{
   display: flex;
   flex-direction: column;
 }
 &__login{
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   padding: 47px 40px 40px 40px;
   max-width: 439px;
   background: #fff;
   width: 100%;
 }
 &__form{
   margin: 30px 0px;
   display: flex;
   flex-direction: column;
 }
 &__row__col{
   padding: 0 5px;
 }
 &__box-title{
   margin-bottom: 18px;
 }
 &__title{
   text-align: left;
  //  text-transform: uppercase;
   color: $black;
   font-family: $PrimaryBold;
   font-size: 25px;
   color: #355669;
  //  letter-spacing: .5px;
  //  line-height: 34px;
 }
 &__content-input{
   display: flex;
   flex-direction: column;
 }
 &__box-forget{
   display: flex;
   justify-content: space-between;
   padding-top: 10px;
 }
 &__forget{
   color: #000;
   font-size: 11px;
   text-align: center;
   cursor: pointer;
   transition: all .15s ease-in-out;
   font-family: $PrimarySemi;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8C8E8E;
    font-size: 12px;
    font-family: $PrimaryRegular;
    text-decoration: underline;
   &:hover{
     color: rgba($black, .8);
     transition: all .15s ease-in-out;
   }
 }
 &__box-button{
   display: flex;
   flex-direction: column;
 }
 &__action{
   padding: 0px 16px;
   .btn{
     width: 100%;
   }
 }
 &__box-or{
   margin: 15px 0;
   padding: 0px 10px;
   text-align: center;
 }
 &__or{
   display: block;
   position: relative;
   &::before{
     content: "";
     width: 45%;
     position: absolute;
     height: 1px;
     background-color: rgba($black, .2);
     top: 50%;
     right: 5px;
   }
   &::after{
     content: "";
     width: 45%;
     position: absolute;
     height: 1px;
     background-color: rgba($black, .2);
     top: 50%;
     left: 5px;
   }
 }
 &__facebook{
   padding: 0px 16px;
   .btn{
     width: 100%;
   }
 }
 &__error{
   width: 100%;
   margin-top: 10px;
   display: flex;
   justify-content: center;
   text-align: center;
   font-family: $PrimaryLight;
   font-size: 11px;
   text-transform: uppercase;
 }
 &__box-description{
   margin-bottom: 30px;
 }
 &__description{
   font-size: 14px;
   font-family: $PrimaryRegular;
   line-height: 1.27;
   text-align: left;
   max-width: 319px;
   color: #355669;
 }
 &__box-back{
   display: flex;
   justify-content: flex-start;
   margin: 20px 0;
   padding-left: 30px;
 }
 &__back{
   display: flex;
   align-items: center;
   color: rgba($black, .8);
   font-family: $PrimaryLight;
   font-size: 13px;
   line-height: 20px;
   text-align: center;
   cursor: pointer;
   span{
     margin-right: 8px;
     font-weight: bold;
     font-size: 10px;
    //  margin-top: -3px;
    //  color: rgba($black, .5);
   }
 }
 &__target-box{
  //  background: #fff;
 }
 &-crear{
  margin-top: 500px;
  padding: 47px 40px 40px 40px;
  @include desde(s){
    margin-top: 10px;
  }
  @include desde(m){
    .form{
      max-width: 320px;
    }
  }
  &-back{
    margin-top: 30px;
    font-family: $PrimarySemi;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
  }
 }
 &-obligation{
  color: #4a4a4a;
  font-family: $PrimaryLight;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-top: 20px;
 }
}
.forgetpass{
 display: flex;
 flex-direction: column;
 margin-top: 50px;
 background: #fff;
 padding: 47px 40px 40px 40px;

 @include desde(s){
  //  padding: 0 20px;
   margin-top: 10px;
 }
}

.login-message{
//  background-color: #F9F9F9;
 padding: 30px 40px;
 margin-top: 500px;
 &__box-message{
  //  display: none;
 }
 &__title{
   color: $black;
   // font-family: "Proxima Nova";
   font-size: 16px;
   font-family: $PrimarySemi;
   line-height: 19px;
   &-p{
    font-family: $PrimaryBold;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b292b;
   }
 }
 &__desc{
   color: #4A4A4A;
   // font-family: "Proxima Nova";
   font-size: 14px;
   font-weight: 300;
   line-height: 20px;
   margin-bottom: 27px;
 }
 &__list{
   color: #4A4A4A;
   // font-family: "Univers LT Std";
   font-size: 14px;
   line-height: 18px;
   margin-bottom: 20px;
   @include desde(s){
     margin-bottom: 0;
   }
 }
 &__action{
  &-btn{
    margin-bottom: 20px;
  }
 }
 &__text{
   color: rgba($black, .8);

   font-size: 13px;
   @include desde(s){
     text-align: center;
   }
 }
 &__link{
   display: block;
   color: $black;
   font-family: $PrimaryBold;
   margin-top: 5px;
 }
 @include desde(s){
   padding: 50px 45px;
   margin-top: 0;
   align-self: flex-start;
   &__box-message{
     display: flex;
     flex-direction: column;
   }
   &__beneficio{
     font-family: $PrimarySemi;
     font-size: 15px;
   }
   &__desc{
     margin-top: 15px;
   }
   &__detalle{
     font-size: 15px;
     color: #6d6d6d;
     font-family: $PrimaryLight;
   }
   &__list{
     display: flex;
     flex-direction: column;
     margin-top: 23px;
   }
   &__item{
     margin-bottom: 10px;
     &:nth-last-child(1){
       margin-bottom: 0;
     }
     
   }
   &__action{
     max-width: 320px;
     margin-top: 47px;
     
   }
   &__text{
     text-align: left;
     font-size: 13px;
     color: #6d6d6d;
     display: flex;
     line-height: 16px;
     align-items: baseline;
     font-family: $PrimaryLight;
   }
   &__msg{
     font-size: 15px;
     display: flex;
     flex: 100% 1 1;
   }
   &__icon{
     display: flex;
    //  flex: 20px 0 0;
   }
   &__link{
     display: inline-block;
     margin-left: 5px;
     font-family: $PrimarySemi;
     position: relative;
     &.hover-arrow{
       &::before{
         margin-top: 1px;
       }
     }
   }
 }
}

.login-box{
  width: 100%;
  &__cont-btn{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    &:nth-child(1){
      margin-top: 0;
      border-bottom: solid 2px rgba($gray-sidebar, .3);
    }
  }
  &__name{
    text-align: center;
    font-family: $PrimaryLight;
    padding-bottom: 10px;
  }
  &__btn{
    margin-bottom: 25px;
  }
}



.flip-container {
  perspective: 1000px;
  position: relative;
}

.flipper-rotate{
  transform: rotateY(180deg);
}

// .flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
// 	transform: rotateY(180deg);
// }

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  min-width: 100%;
  width: 100%;
  // padding-left: 10px;
  // padding-right: 10px;
  @include desde(500px){
    width: 350px;
  }
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  @include desde(m){
    min-width: auto;
    width: 390px;
  }
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  // transform: rotateY(180deg) translateX(0px);
  transform: rotateY(180deg) translateX(-12px);
  @include desde(500px){
  }
  @include desde(m){
    
    transform: rotateY(180deg) translateX(-50px);
  }
}

.new-password{
  padding: 74px 0;
  &-box{

    .login__title, .login__description{
      text-align: center;
      max-width: 100%;
    }
    .login__action{
      margin-top: 20px;
    }
    max-width: 439px;
    padding: 47px 40px 40px 40px;
    background-color: #ffffff;
    // height: 504px;
    margin: 0 auto;
    width: 90%;
    @include desde(m){
      width: 100%;
    }
  }
}