.nav-sidebar{
  &-item{
    background-color: #F9F9F9;
    border-bottom: solid 1px #F1F1F1;
    padding: 25px;
    padding-right: 40px;
    box-sizing: border-box;
    color: #4A4A4A;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 13px;
    text-decoration: none;
    position: relative;
    display: block;
    &:after{
      content: '->';
      position: absolute;
      display: flex;
      align-items: center;
      transform: translateX(-20px);
      opacity: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: all .25s ease-out;
    }
    &:hover{
      &:after{
        opacity: 1;
        transform: translateX(-13px);
        transition: all .25s ease-in;
      }
    }
  }
}