.newsletter{
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include desde(m){
    flex-direction: row;
    padding: 20px 50px;
    padding-bottom: 50px;
    
  }
  &-left{

  }
  &-right{
    display: flex;
    align-items: center;
    flex-direction: column;
    @include desde(s){
      justify-content: center;
    }
    .btn{
      @include hasta(s){
        width: 183px;
      }
    }
    @include desde(s){
      flex-direction: row;
    }
    input{
      border: none;
      background: #f2f2f2;
      height: 50px;
      width: 300px;
      border-radius: 30px;
      font-family: $PrimaryRegular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #979797;
      padding: 0 46px;
      margin-bottom: 10px;
      @include desde(s){
        margin-right: -20px;
        margin-bottom: 0;
        border-radius: 30px 0 0 30px;
      }
    }
  }
  &-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    @include desde(m){
      flex-direction: row;
    }
  }
  &-icon{
    font-size: 33px;
    margin-bottom: 10px;
    @include desde(m){
      margin-bottom: 0px;
      margin-right: 20px;
    }
  }
  &-title{
    text-align: center;
    font-family: $PrimaryBold;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 34px;
    @include desde(m){
      margin-bottom: 0;
      text-align: left;
    }
  }
  &-subtitle{
    font-family: $PrimaryRegular;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-top: 10px;
    @include desde(m){
      margin-top: 0;
    }
  }
}