.overlay{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  display: none;
  &.active{
    display: block;
    opacity: 1;
    z-index: 20;
  }
}