.pagination{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 35px;
  justify-content: center;
  @include desde(m){
    width: calc(100% - 310px);
    margin: 0 0 auto auto;
  }
  &-left{
    margin-right: 17px;
  }
  &-right{
    margin-left: 17px;
  }
  &-list{
    
  }
  &-item{
    text-decoration: none;
    color: #000;
    margin: 0px 5px;
    background-color: #F9F9F9;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
    &.active{
      color: #fff;
      background-color: #448AFF;
    }
    &.more{
      background: none;
    }
  }
}