.pedido{
    &__wrapper{
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        @include desde(m){
            flex-direction: row;
        }
    }
    &__left{
        width: 100%;
        @include desde(m){
            flex: 330px 0 0;

        }
    }
    &__right{
        width: 100%;
        @include desde(m){
            flex: 100% 1 1;
            margin-left: 20px;
        }
    }
}