.wrapper-perfil{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F3F9FB;
}

.perfil{
    display: flex;
    flex-direction: column;
    @include desde(m){
        flex-direction: row;
    }
    &__left{
        width: 100%;
        margin-bottom: 30px;
        @include desde(m){
            width: 275px;
        }
    }
    &__right{
        width: 100%;
        @include desde(m){
            max-width: 742px;
            // flex: 100% 1 1;
            width: calc(100% - 315px);
            margin-left: 40px;
        }
    }
    &__box{
        background-color: $white;
        width: 100%;
    }
    &__content{
        padding: 20px;
        border-bottom: solid 1px #f4f4f4;
        padding-bottom: 30px;
        @include desde(m){
            padding: 40px;
            padding-bottom: 50px;
        }
    }
    &__box-title{
        font-size: 13px;
        font-family: $PrimaryBold;
        margin-bottom: 10px;
        color: #355669;
        border-bottom: solid 1px rgba($color: #BFCFD3, $alpha: .3);
        padding-bottom: 10px;

        @include desde(s){
            font-size: 16px;
            margin-bottom: 30px;
        }
        @include desde(m){
            font-size: 20px;
        }
    }
    &__box-sub{
        font-size: 18px;
        font-family: $PrimarySemi;
        margin-bottom: 20px;
        @include desde(s){
            font-size: 16px;
        }
    }
    &__boton-doble{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .btn{
            &:first-child{
                margin-bottom: 10px;
                @include desde(s){
                    margin-bottom: 0;
                }
            }
        }
        @include desde(s){
            flex-direction: row;
            justify-content: space-between;
            .btn{
                width: calc(50% - 10px);
            }
            
        }
    }
    &__boton{
        margin-top: 20px;
        width: 100%;
        @include desde(s){
            width: calc(50% - 10px);
        }
    }
    &__card-pedido{
        padding: 10px 0;
    }
    &__direcciones{
        display: flex;
        flex-direction: column;
        @include desde(s){
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    &__zona-cliente{
        padding: 20px 40px;
    }
    &-add-date{
        color: #355669;
        text-decoration: underline;
        font-size: 14px;
        font-family: $PrimaryRegular;
        padding-left: 12px;
    }
    &-block{
        &-header{
            color: #355669;
            font-family: $PrimaryBold;
            font-size: 15px;
            border-bottom: solid 1px rgba($color: #BFCFD3, $alpha: .3);
            margin-bottom: 40px;
            margin-top: 30px;
            padding-bottom: 10px;
        }
        &-body{

        }
    }
    &-bebe{
        position: relative;
        @include desde(m){
            width: 200px;
        }

        input{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
            &:checked ~ .perfil-bebe-checked{
                border-color: #62D0DF;
                &::before{
                    opacity: 1;
                }
                &:after{
                    background: #62D0DF;
                }
            }
        }
        &-select{
            display: grid;
            grid-gap: 10px;
            margin-bottom: 50px;
            @include desde(s){
                grid-template-columns: repeat(3, 1fr);
            }
        }
        &-checked{
            border: solid 3px #E2EFF2;
            border-radius: 30px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
            position: relative;
            height: 87px;
            img{
                width: 50px;
            }
            &:before{
                content: '\e91d';
                opacity: 0;
                font-family: 'icomoon' !important;
                position: absolute;
                top: 2px;
                right: 2px;
                z-index: 2;
                color: #fff;
                font-size: 8px;
            }
            &:after{
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                top: -4px;
                right: -2px;
                background: #E2EFF2;
                border-radius: 50%;
            }
            p{
                color: #355669;
                font-size: 14px;
                font-family: $PrimarySemi;
                margin-left: 20px;
            }
        }
    }
}
.cc{
    width: 100%;
    @include desde(s){
        width: calc(50% + 5px);
    }
}