.product-tab{
  background-color: #f7f7fb;
  margin-top: 50px;
  &-link{
    padding: 18px 11px;
    border-bottom: solid 1px #d4d4d4;
    &.active{
      color: #002e6d;
    }
  }
  &-content{
    padding: 30px 11px;
    display: none;
    @include desde(s){
      position: relative;
      display: block;
    }
   
  }
  .title{
    font-family: $PrimaryBold;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-align: left;
  }
  ul{
     @include desde(s){
      max-height: 200px;
      display: flex;
      flex-flow: column wrap;
    }
    li{
      font-family: $PrimaryRegular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: normal;
      color: #4a4a4a;
      list-style: inside;
      margin-bottom: 10px;
    }
  }
  @include desde(s){
    &-toggle{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    &-link{
      padding-left: 30px;
      padding-right: 30px;
      &.active{
        border-color: #002e6d;
      }
    }
    &-contents{
      margin: 0 auto;
      max-width: 466px;
      @include desde(s){
        max-width: 800px;
      }
    }
    &-content{
      display: none;
      &.active{
        display: block;
      }
    }
  }
}