.product-detail{
  &-header{
    padding: 20px 0;
  }
  @include desde(m){
    display: flex;
    flex-direction: row;
    padding-top: 20px;

  }
  &-gallery{
    @include desde(m){
      width: 50%;
    }
  }
  &-info{
    @include desde(m){
      margin-left: 30px;
      max-width: 453px;
    }
  }
}