.product-card{
 // max-width: 250px;
  // border: solid 1px #e4e4e4;
  display: block;

  &:hover{
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
    transition: all .25s ease-in;
    .product-card-action{
      background-color: #002e6d;
      color: #fff;
      transition: all .25s ease-in;
    }
  }
  &__image{
    //height: 164px;
    //width: 164px;
    padding: 13px 43px;
    position: relative;
    &.rectangle{
      height: 205px;
      width: 164px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &-badge{
    &__new, &__discount{
     position: absolute;
      padding: 10px;
    }
    &__discount{
      border-radius: 2px;
      background-color: #ff8300;
      color: #FFFFFF;
      font-family: $PrimaryBold;
      font-size: 11px;
      line-height: 11px;
      letter-spacing: .5px;
      padding: 5px 13px;
      &.top{
        top: 13px;
      }
      &.bottom{
        bottom: 14px;
      }
      &.left{
        left: 15px;
      }
      &.right{
        right: 13px;
      }
    }
    &__new{
      border-radius: 2px;
      background-color: #00b3e3;
      color: #fff;
      font-family: $PrimaryBold;
      font-size: 11px;
      letter-spacing: .5px;
      line-height: 11px;
      padding: 5px 13px;
      &.top{
        top: 13px;
      }
      &.bottom{
        bottom: 10px;
      }
      &.right{
        right: 13px;
      }
    }
  }
  &-heart{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    &.top{
      top: 12px;
    }
    &.left{
      left: 12px;
    }
    &.bottom{
      bottom: 12px;
    }
    &.right{
      right: 12px;
    }
  }
  &__body{
    padding: 0px 10px;
  }
  &__footer{
    margin-top: 40px;
  }
  &-action{
    height: 50px;
    background-color: #f2f2f2;
    border: solid 1px #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $PrimaryBold;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #979797;
    transition: all .25s ease-out;
    @include desde(1100px){
      font-size: 15px;
    }
  }
  &-variation{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(auto-fit, 12px);
    justify-content: center;
    &__item{
      height: 9px;
      width: 12px;
    }
  }
  &-name{

    font-family: $PrimaryBold;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-bottom: 20px;
    @include desde(1100px){
      font-size: 18px;
    }
    
  }
  &-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #000A12;
    // font-family: "Proxima Nova";
    // padding-top: 10px;
    font-size: 11px;
    line-height: 10px;
    &__normal{
      font-family: $PrimaryRegular;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.27;
      letter-spacing: normal;
      text-align: left;
      color: #4a4a4a;
      @include desde(1100px){
        font-size: 15px;
      }
    }
    &__internet{
      font-family: $PrimaryBold;
      font-size: 13px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ff8300;
      @include desde(1100px){
        font-size: 18px;
      }
    }
    &__old, &__new{
      font-family: $PrimaryBold;
      font-size: 13px;
      line-height: 10px;
    }
    &__old{
      color: #000A12;
      text-decoration: line-through;
    }
    &__new{
      color: #D12543;
    }
  }
  &-raiting{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    color: #9B9B9B;
    font-family: "Proxima Nova";
    font-size: 8px;
    line-height: 7px;
    &__star{
      
    }
  }
}
