.c-product-gallery{
  // width: 300px;
 display: flex;
 flex-direction: column-reverse;
 @include desde(xs){
  //  padding: 0px 40px;
  //  flex-direction: row;
   align-items: center;
 }
 @include desde(640px){
   padding: 0px 40px;
   flex-direction: row;
   align-items: center;
 }
 @include desde(m){
  flex-direction: column-reverse;
  padding: 0;
 }
 @include desde(1150px){
  padding: 0px 40px;
  flex-direction: row;
  align-items: center;
}
 &__image-content{
   @include desde(xs){
     padding: 0 20px;
   }
   @include desde(m){
    width: 100%;
    box-sizing: border-box;
    max-width: 454px;
   }
   &__list{
     &__item{
       img{
         width: 100%;
         height: auto;
       }
     }
   }
 }
 &__thumb-content{
   @include desde(xs){
    align-self: center;
   }
   &__list{
     &__item{
       opacity: .5;
       text-align: center;
       position: relative;
       @include desde(480px){
         display: flex;
         justify-content: center;
         align-items: center;
         width: 85px;
         height: 85px;
       }
       img{
         padding: 5px 0px 0px 8px;

         @include desde(480px){
           padding: 0;
          //  width: 66px;
          //  height: 66px;
         }
       }
       .play{
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         margin: auto;
       }
       &.tns-nav-active{
         opacity: 1;
         border: solid 1px #BFCFD3;
       }
     }
   }
 }
}



iframe {
  min-width: 200px;
  height: 400px;
}

.youtube {
  opacity: 1;
  transition: opacity 1s;
}

.youtube:not(.slick-current) {
  opacity: 0.4;
  transition: opacity 1s;
}



.video-background {
  background: #000;
  z-index: -99;
  max-height: 400px;
}

.video-foreground,
.video-background iframe {
  width: 100%;
  height: 400px;
  // pointer-events: none;
}

.slick-button {
  position: relative;
  bottom: 60px;
  text-align: center;
  z-index: 9999;
}

.slick-button a {
  color: white;
  background-color: black;
}
