.product-info{
  padding-top: 40px;
  @include desde(m){
    max-width: 450px;
    padding-top: 0;
  }
  &-brand{
    font-family: $PrimaryRegular;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #355669;
    margin-bottom: 5px;
  }
  &-name{
    font-family: $PrimaryBold;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #FF9E15;
    margin-bottom: 3px;
    padding: 8px 0;
  }
  &-sku{
    font-family: $PrimarySemi;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00b3e3;
  }
  &-desc{
    margin-top: 10px;
    padding-bottom: 25px;
    &-title{
      font-family: $PrimarySemi;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #99A8B0;
      margin-bottom: 10px;
    }
    &-content{
      font-family: $PrimaryRegular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.27;
      letter-spacing: normal;
      color: #99A8B0;
    }
  }
  &-price{
    &-old{
      font-size: 14px;
      font-family: $PrimaryRegular;
      color: #355669;
      text-decoration: line-through;
      text-align: right;
    }
    &-new{
      font-size: 22px;
      font-family: $PrimaryBold;
      color: #355669;
      text-align: right;
    }
    width: 100%;
    margin-bottom: 20px;
    @include desde(540px){
      width: 50%;
      margin-bottom: 0;
      margin-left: 20px;
    }
    &__normal{
      font-family: $PrimaryRegular;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.19;
      letter-spacing: normal;
      color: #4a4a4a;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;
      &:first-child{
        margin-top: 0;
      }
    }
    &__internet{
      font-family: $PrimaryBold;
      font-size: 19px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ff8300;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    // color: #000000;
    // font-family: $PrimaryBold;
    // font-size: 32px;
    // line-height: 19px;
    // text-align: center;
    // margin-bottom: 25px;
    // &-list{
    //   border: 1px solid #EBEBEB;
    //   padding: 20px 40px;
    //   &-desc{
    //     color: #4A4A4A;
    //     font-family: $PrimaryRegular;
    //     font-size: 13px;
    //     line-height: 18px;
    //     margin-bottom: 20px;
    //   }
    //   &-item{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     padding: 10px 0;
    //     border-bottom: 1px solid #EBEBEB;
    //     &:last-child{
    //       border: none;
    //     }
    //     &-left{
    //       color: #4A4A4A;
    //       font-family: $PrimaryRegular;
    //       font-size: 13px;
    //       line-height: 15px;
    //     }
    //     &-right{
    //       color: #4A90E2;
    //       font-family: $PrimaryRegular;
    //       font-size: 13px;
    //       line-height: 15px;
    //     }
    //   }
    // }
  }
  &-calendar{
    margin-top: 20px;
  }
  &-action{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    @include desde(540px){
      width: 100%;
    }
    @include desde(m){
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      align-items: center;
    }
    .btn{
      width: 100%;
      margin-bottom: 24px;
      @include desde(m){
        margin-bottom: 0;
        // margin-right: 30px;
        width: 203px;
      }
    }
  }
  &-sp{
    position: relative;
    // border: solid 1px #e0e0e0;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
    @include desde(540px){
      width: 100%;;
    }

    label{
      // position: absolute;
      // left: 19px;
      // pointer-events: none;
      // top: 0;
      // bottom: 0;
      // display: flex;
      // align-items: center;
      font-size: 15px;
      color: #355669;
      font-family: $PrimaryBold;
      margin-right: 10px;
    }
    select{
      background: #fff;
      border: none;
      width: 136px;
      height: 30px;
      padding: 0 20px;
      // padding: 18px 30px 18px 100px;
      border: solid 1px #E2EFF2;
      font-family: $PrimaryLight;
      font-size: 13px;
      border-radius: 30px;
      appearance: none;
      color: #8C8E8E;
  
    }
  }
  &-quantity{
    position: relative;
    border: solid 1px #E2EFF2;
    background: #fff;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 25px;
    @include desde(m){
      margin-bottom: 0;
    }
    input{
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      padding: 18px 50px 18px 50px;
      text-align: center;
      
    }
    .menos, .mas{
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
    }
    .menos{
      left: 19px;
      font-size: 30px;
    }
    .mas{
      right: 19px;
      top: -6px;
      font-weight: bold;
      font-size: 20px;
    }
    @include desde(m){
      width: 150px;
      margin-right: 40px;
    }
  }
  &-descarga{
    font-family: $PrimarySemi;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: center;
    letter-spacing: normal;
    color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span{
      font-size: 24px;
      margin-right: 20px;
    }
    @include desde(m){
      text-align: left;
      max-width: 140px;
    }
  }
  &-variation-and-price{
    width: 250px;
    margin: 0 auto;
    @include desde(540px){
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      justify-content: space-between;
    }
  }
  &-variation{
    margin-bottom: 20px;
    &-title{
      color: #355669;
      font-size: 15px;
      font-family: $PrimaryBold;
      margin-bottom: 10px;
    }
    &-colors{
      display: flex;
      flex-direction: row;

    }
    &-color-item{
      margin-right: 15px;
      position: relative;
      input{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
      }
      input:checked ~ .item-pedido-variation-color{
        &::after{
          opacity: 1;
        }
      }
    }
  }

  &-share{
    padding: 30px 0;
    margin-top: 30px;
    border-top: solid 1px #BFCFD3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-redes{
      color: #99A8B0;
      font-size: 14px;
      font-family: $SecondarySemi;
      a{
        margin-left: 8px;
      }
      span{
        color: #99A8B0;
      }
    }
    &-add{
      color: #355669;
      font-size: 13px;
      font-family: $SecondarySemi;
      span{
        margin-right: 10px;
        font-weight: bold;
      }
    }
  }

  .item-pedido-variation-color{
    width: 18px;
    height: 18px;
    &:after{
      width: 26px;
      height: 26px;
      top: -4px;
      left: -4px;
      opacity: 0;
      border-color: #355669;
      
    }
    
    &-item{
      margin-right: 15px;
    }
  }
  
}

.select-arrow{
  position: relative;
  &:after{
    position: absolute;
    content: '\e91a';
    font-family: 'icomoon' !important;
    top: 0;
    right: 10px;
    font-size: 7px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}