.redes-home{
  background: #276ac4;
  position: relative;
  padding: 40px 11px 0 11px;
  &-icon{
    position: absolute;
    top: 0;
    right: 0;
    @include desde(m){
      right: 20%;
    }
  }
  @include desde(m){
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 52px 76px;
  }
  @include desde(m){
    &:after{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
      background: #fff;
      height: 100%;
    }
  }
  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 20%;
  }
  &-header{
    @include desde(m){
      max-width: 287px;
      margin-right: 20px;
      margin-top: -80px;
    }
    &-title{
      font-family: $PrimaryBold;
      font-size: 26px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      margin-bottom: 10px;
      text-align: center;
      @include desde(m){
        text-align: left;
      }
    }
    &-desc{
      font-family: $PrimaryRegular;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.27;
      letter-spacing: normal;
      color: #ffffff;
      display: none;
      @include desde(m){
        text-align: left;
        display: block;
      }
    }
    span{
      color: #fff;
      font-size: 30px;
      margin-bottom: 24px;
      display: block;
      text-align: center;
      @include desde(m){
        text-align: left;
      }
    }
  }
  &-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include desde(m){
      grid-gap: 20px;
    }
  }
  &-item{
    position: relative;
    z-index: 2;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    max-width: 384px;
    max-height: 288px;
    &-img{
      font-size: 0;
      img{
        width: 100%;
        max-height: 288px;
        object-fit: cover;
        object-position: center;
      }
    }
    &-footer{
      background: #fff;
      display: flex;
      flex-direction: row;
      padding: 14px 20px;
      span{
        color: #276ac4;
        margin-right: 10px;
      }
      p{
        font-family: $PrimaryBold;
        font-size: 18px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
    }
  }
  
}