.result, .err{
  padding: 80px 0;
  &-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    padding: 30px 0;
    @include desde(s){
      grid-template-columns: repeat(2, 1fr);
    }
    @include desde(m){
      grid-template-columns: repeat(3, 1fr);
    }
    @include desde(l){
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &-title{
    font-family: $PrimaryBold;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  &-subtitle{
    font-family: $PrimaryRegular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    margin-top: 10px;
    color: #4a4a4a;
  }
  &-error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title{
      font-family: $PrimaryBold;
      font-size: 25px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin-top: 50px;
      margin-bottom: 20px;
      span{
        display: block;
        margin-top: 5px;
      }
    }
    &-subtitle{
      font-family: $PrimaryRegular;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: normal;
      text-align: center;
      color: #4a4a4a;
      margin-bottom: 20px;
    }
    &-image{
      max-width: 428px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

.err{
  &-error{
    &-image{
      width: 203px;
      height: 203px;
      text-align: center;
      img{
        // width: 100%;
      }
    }
    &-subtitle{
      max-width: 526px;
      width: 100%;
      font-size: 17px;
    }
    &-title{
      margin-bottom: 25px;
      font-size: 40px;
      max-width: 542px;
      span{
        font-size: 25px;
      }
    }
  }
}