.resumen{
    display: flex;
    flex-direction: column-reverse;
    @include desde(m){
        flex-direction: row;
    }
    &__left{
        width: 100%;
        @include desde(m){
            width: 320px;
        }
    }
    &__right{
        width: 100%;
        @include desde(m){
            padding-left: 20px;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    &__item{
        width: 100%;
        border:solid 1px #eaeaea;
        padding: 20px 20px 30px;
        margin-bottom: 10px;
        position: relative;
        @include desde(m){
            margin-bottom: 20px;
        }
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    &__title{
        font-size: 14px;
        font-family: $PrimaryBold;
        &.principal{
            font-size: 16px;
        }
    }
    &__icon{
        font-size: 16px;
        cursor: pointer;
    }
    &__body{
        
    }
    &__name{
        font-family: $PrimarySemi;
        font-size: 12px;
        margin-bottom: 5px;
    }
    &__sec{
        font-size: 11px;
        font-family: $PrimaryLight;
        margin-bottom: 5px;
        line-height: 1.1;
        width: 75%;
    }
    &__t-pagos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    &__img-pagos{
        width: 40px;
        margin-right: 5px;
        margin-bottom: 5px;
        &:nth-last-child(1){
            margin-right: 0;
        }
    }
    &__wrapper{
        width: 100%;
        border:solid 1px #eaeaea;
        padding: 20px 20px 30px;
        margin-bottom: 10px;
        padding-bottom: 0;
        position: relative;
        @include desde(m){
            padding: 20px 40px;
        }
    }
}