.seguimiento{
  position: relative;
  margin: 30px 0px;
  @include desde(m){
    margin-bottom: 60px;

  }
  &-imagen{
    img{
      width: 100%;
      height: auto;
      max-height: 550px;
      object-fit: cover;
      object-position: center;
    }
  }
  &-ctn{
    @include desde(s){
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 20px;
      max-width: 425px;
      width: 100%;
      
      display: flex;
    }
    @include desde(1200px){
      left: 0;
      right: 0;
      justify-content: center;
      margin: auto;

    }
    @include desde(m){
      left: 60px;
    }
  }
  &-box{
    
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 67px 0;
    @include desde(s){
      padding: 67px 50px;
    }
    @include desde(m){
      height: 370px;

    }
    &-title{
      font-family: $PrimaryBold;
      font-size: 23px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      color: #2b292b;
      margin-bottom: 10px;
    }
    &-subtitle{
      font-family: $PrimaryRegular;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.27;
      letter-spacing: normal;
      color: #4a4a4a;
      margin-bottom: 10px;
    }
    &-input{
      margin-bottom: 16px;
      input{
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #e0e0e0;
        width: 100%;
        height: 45px;
        padding: 0 22px;
      }
    }
    &-action{

    }
  }
}