.slider-product{
  padding: 74px 0;
  // padding-top: 0;
  @include desde(768px){
    padding-top: 0;
  }
  &.Detail{
    margin-top: 50px;
    .slider-product-title{
      color: #355669;
      font-size: 25px;
      font-family: $PrimaryBold;
    }
    @include desde(768px){
      padding-top: 30px;
    }
  }
  @include desde(m){
    padding-top: 30px;
  }
  @include desde(1200px){
    padding-top: 50px;
  }
  &-content{
    position: relative;
    display: none;
    @include desde(m){
      padding: 0 60px;
    }
    &.active{
      display: block;
    }
    .tns-nav{
      position: absolute;
      bottom: -28px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      button{
        width: 15px;
        height: 15px;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        box-shadow: none;
        border: solid 1px #99A8B0;
        background-color: transparent;
        margin-right: 13px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after{
          content: '';
          position: absolute;
          width: 7px;
          height: 7px;
          border-radius: 50px;
        }
        &:last-child{
          margin: 0;
        }
        &.tns-nav-active{
          &:after{
            opacity: 1;
            background: #99A8B0;
          }
        }
      }
    }
  }
  &-title{
    font-family: $PrimaryBold;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
    margin-bottom: 38px;
  }
  &-list{
    
  }
  &-item{

  }
  &-arrow-left, &-arrow-right{
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // opacity: 0;
    cursor: pointer;
    display: none;
    @include desde(m){
      display: flex;
    }
    &.active{
      // opacity: 1;
      // transition: opacity .15s ease-in;
    }
    // span{
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   height: 66px;
    //   width: 40px;
    //   font-size: 20px;
    //   background-color: rgba(255,255,255, .9);
    // }
  }
  &-arrow-left{
    left: 0;
    top: 0;
  }
  &-arrow-right{
    right: 0;
    top: 0;
  }
}