.tabla{
    margin-top: 20px;
    &__header{
        display: flex;
        border-bottom: solid 1px #eaeaee;
        padding-bottom: 15px;
    }
    &__option{
        display: flex;
        align-items: center;
        &.producto{
            flex: 55% 0 0;
            display: flex;
        }
        &.cantidad{
            flex: 25% 0 0;
        }
        &.precio{
            flex: 20% 0 0;
        }
        @include desde(m){
            &.producto{
                flex: 65% 0 0;
            }
            &.cantidad{
                flex: 20% 0 0;
            }
            &.precio{
                flex: 15% 0 0;
            }
        }
    }
    &__title{
        font-family: $PrimaryBold;
        font-size: 12px;
        @include desde(m){
            font-size: 14px;
        }
    }
    &__body{
        margin-top: 20px 0;
    }
    &__list{
        margin: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        border-bottom: solid 1px #eaeaee;
    }
    &__item{
        display: flex;
        margin-bottom: 10px;
    }
    &__box-img{
        width: 70px;
        height: 70px;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
    &__box-detalle{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        @include desde(s){
            margin-left: 30px;
        }
    }
    &__detalle{
        font-size: 12px;
        padding-right: 10px;
        @include desde(s){
            padding-right: 30px;
            font-size: 16px;
        }
    }
    &__cantidad{
        color: #ccc;
        font-size: 12px;
        @include desde(s){
            font-size: 13px;
        }
    }
    &__price{
        font-size:  12px;
        @include desde(s){
            font-size: 13px;
        }
    }
    &__totales{
        display: flex;
        padding: 20px 0;
        flex-direction: column;
    }
    &__totales-item{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    &__totales-key{
        // text-transform: capitalize;
        font-size: 12px;
        padding-right: 30px;
        @include desde(s){
            padding-right: 100px;
            width: 75%;
            text-align: right;
        }
        &.total{
            font-family: $PrimaryBold;
        }
    }
    &__totales-value{
        font-size: 12px;
        text-align: left;
        @include desde(s){
            width: 15%;
        }
        &.total{
            font-family: $PrimaryBold;
        }
    }
}