.zona-cliente{
    &__header{
        // display: none;
        @include desde(m){
            display: flex;
        }
    }
    &__item{
        border-bottom: solid 1px #acacac;
        display: flex;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;
        flex-direction: column;
        width: 100%;
        @include desde(m){
            flex-direction: row;
            justify-content: center;
            width: calc(100% / 3);
        }
        &.active{
            @include desde(m){
                border: solid 1px #acacac;
                border-bottom: 0;
            }
            .zona-cliente__name{
                color: $black;
            }
        }
    }
    &__name{
        font-family: $PrimaryBold;
        font-size: 14px;
        color: #979797;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 13px 0;
        @include desde(m){
            padding: 0;
            text-align: center;
            justify-content: center;
        }
        br{
            display: none;
            @include desde(m){
                display: block;
            }
        }
        span{
            @include desde(m){
                display: none;
            }
            &::after{
                content: "\e932";
                font-family: "icomoon" !important;
                color: #979797;
                font-size: 12px;
            }
        }
        &.active{
            span{
                &:after{
                    content: '-';
                    color: #979797;
                    font-size: 30px;
                    line-height: 2px;
                }
            }
        }
    }
    &__wrapper{
        display: none;
        margin-top: 30px;
        border:solid 1px #acacac;
        width: 100%;
        &.active{
            display: block;
        }
    }
    &__cell{
        padding: 15px 20px;
        border-bottom: solid 1px #acacac;
        color: #979797;
        font-family: $PrimaryLight;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        //cursor: pointer;
        &:nth-last-child(1){
            border-bottom: 0;
        }
        span{
            margin-right: 10px;
        }
        &:hover{
            // .zona-cliente__line{
            //     color: $black;
            //     font-family: $PrimarySemi;
            // }
            .zona-cliente__cell-icon{
                color: $black;
            }
        }
        
    }
    &__line{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        &:nth-last-child(1){
            margin-bottom: 0,
        }
        &:hover{
            .zona-cliente__cell-name{
                color: #000;
            }
        }
    }
    &__cell-name{
        display: flex;
        align-items: center;
        font-family: $PrimaryRegular;
        &.active{          
            font-family: $PrimaryBold;
            color: $black;
        }
    }
    &__cell-icon{
        color: #979797;
        cursor: pointer;
        padding: 2px;
    }
    &__cell-inner{
       padding: 0 40px;
       margin-top: 10px;
    }
    &__table{
        width: 100%;
        overflow-x: auto;
        border: 0;
        & *.catalogue-content-right-filterOrder-end{
            justify-content: flex-end;
            padding: 20px 0;
        }
    }
    &__tabla{
        min-width: 690px;
        max-width: 710px;

        border: solid 1px #acacac;
        @include desde(m){
            max-width: 100%;
        }
    }
    &__tabla-h{
        display: flex;
        align-items: center;
        background-color: #eaeaea;
        padding: 15px 0;
        p{
            text-align: center;
            font-size: 13px;
            font-family: $PrimaryBold;
            color: #979797;
        }
        .fecha{
            width: 15%;
        }
        .comprobante{

            width: 25%;
        }
        .f-p{
            width: 15%;
        }
        .dias{
            width: 15%;
        }
        .interes{
            width: 15%;
        }
        .etc{
            width: 15%;
        }
    }
    &__tabla-b{

    }
    &__tabla-c{
        display: flex;
        padding: 15px 0;
        border-bottom: solid 1px #eaeaea;
        p{
            text-align: center;
            font-size: 13px;
            color: #a4a4a4;
        }
        .fecha{
            width: 15%;
        }
        .comprobante{
            width: 25%;
            text-align: left;
            font-family: $PrimaryBold;
            color: rgb(41, 41, 41);
            @include desde(m){
                text-align: center;
            }
        }
        .f-p{
            width: 15%;
        }
        .dias{
            width: 15%;
        }
        .interes{
            width: 15%;
        }
        .etc{
            width: 15%;
        }
    }
}