$text-transform-btn: uppercase;

$font-size-btn: 14px;

$font-family-btn: $PrimaryBold;

$border-radius-btn: true;
$border-radius-size-btn: 30px;

// $padding-btn: 9px 1rem;


// $transitionBtn: all .15s ease-in-out !default;
$padding-btn: 16px 1.8rem;
// $font-size-btn: 12px !defaut;
$text-transform-btn: initial;
// $border-radius-btn: false !default;
// $border-radius-size-btn: 3px !default;
// $font-family-btn: $PrimarySemi !default;
$letter-spacing-btn: 0;



$palette-button: (
  orange: (
    background: #FF9E15,
    color: #fff,
    border: solid 1px #FF9E15,
    hover: (
      background-color: lighten(#FF9E15, 5),
      border: solid 1px lighten(#FF9E15, 5),
    ),
  ),
  transparent-gray: (
    background: transparent,
    color: #99A8B0,
    border: solid 1px #99A8B0,
    hover: (
      // background-color: lighten(#002e6d, 5),
      border: solid 1px lighten(#99A8B0, 5),
    ),
  ),
  transparent: (
    background: transparent,
    color: #fff,
    border: solid 1px #fff,
    hover: (
      background-color: #FF9E15,
      border: solid 1px #FF9E15,
    ),
  ),
  blue: (
    background: #002e6d,
    color: #fff,
    border: solid 1px #002e6d,
    hover: (
      background-color: lighten(#002e6d, 5),
      border: solid 1px lighten(#002e6d, 5),
    ),
  ),
  white: (
    background: #fff,
    color: #99A8B0,
    border: solid 1px #E2EFF2,
    hover: (
      background-color: lighten(#fff, 5),
      border: solid 1px lighten(#E2EFF2, 5),
    ),
  ),
  white-cyan: (
    background: #fff,
    color: #62D0DF,
    border: solid 1px #62D0DF,
    hover: (
      background-color: #62D0DF,
      border: solid 1px #62D0DF,
      color: #fff,
    ),
  ),
  cyan: (
    background: #62D0DF,
    color: #fff,
    border: solid 1px #62D0DF,
    hover: (
      background-color: lighten(#62D0DF, 5),
      border: solid 1px lighten(#62D0DF, 5),
    ),
  ),
  cyan-gray: (
    background: #E2EFF2,
    color: #99A8B0,
    border: solid 1px #E2EFF2,
    hover: (
      background-color:#62D0DF,
      border: solid 1px #62D0DF,
      color: #fff
    ),
  ),
  gray-orange: (
    background: #E2EFF2,
    color: #99A8B0,
    border: solid 1px #E2EFF2,
    hover: (
      background-color:#FF9E18,
      border: solid 1px #FF9E18,
      color: #fff
    ),
  ),
  gray-dk: (
    background: #979797,
    color: #fff,
    border: solid 1px #979797,
    hover: (
      background-color: lighten(#979797, 5),
      border: solid 1px lighten(#979797, 5),
    ),
  ),
  facebook: (
    background: 	  $btn-blue,
    color:          $btn-white,
    border:         solid 2px $btn-blue,
    hover: (
      background-color: lighten($btn-blue, 5),
      border: solid 2px lighten($btn-blue, 5),
    ),
  ),
);

.btn--small{
  padding: .7rem 1rem;
  font-size: 11px;
}
