
$label-color: #355669;
$label-font-size: 14px;
$label-font-family: $PrimarySemi;



$border-input: #D8E4E6;
// $color-input:  #939393 !default;
// $height-input: 45px !default;
// $padding-input: .375rem .75rem !default;
// $font-family-input: $PrimaryRegular !default;
// $font-size-input: 14px !default;
// $transition-input: border-color .15s ease-in-out !default;
$border-radius-input: 30px;
// $background-input: #FFFFFF !default;
// $hover-input: $black !default;
// $placeholder-color: lighten($color-input, 15) !default;
// $placeholder-font-size: $font-size-input !default;

// $hover-input-enable: false !default;

// $size-checkbox: 14px !default;
// $size-radiobutton: 14px !default;



// $label-color: $black !default;
// $label-font-size: 14px !default;
// $label-font-family: $PrimaryLight !default;

// $focus-border-color: #000 !default;
// $focus-box-shadow: none !default;
