//Contenedor de rows con width maximo, sin grid
.container{
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
.container-banner{
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
//Contenedor de rows full screen, sin grid
.container-fluid{
  max-width: 100%;
}
// //Sub clase que acompaña a cualquera de los dos contenedores anteriores, para hacer grid
// .container-grid{
//   @include create-grid();
//   @include compatibilidad();
// }
//
// //Fila con grid
// .row{
//   @include create-grid();
//   @include compatibilidad();
// }
//
// //Ejecutando el mixin de clases para cada breakpoint, para que funcione el grid en responsive
// @each $media, $size in $breakpoints{
//   @include create-class-grid($media);
//   //Da como resultado las medidas en clases para aplicar Ej. s-1-12 l-1-6
// }
